{% extends "ktapp/premier_subpages/premier_base.html" %}
{% load kt_extras %}

{% block premier_main %}
<div class="row">
    <div class="central-column">
        {% for premier_day, premier_films in premier_list %}
            <h2>{{ premier_day|date:"F j."|title }}</h2>
            {% for film in premier_films %}
                <div class="film_block">
                    {% if film.main_poster %}
                        <a href="{% url 'film_main' film.id film.slug_cache %}" title="{{ film.orig_title }} ({{ film.year }})"><img src="{{ film.main_poster.get_display_urls.mid }}" class="picture film_block_picture" alt="{{ film.orig_title }} ({{ film.year }})" /></a>
                    {% endif %}
                    <p class="film_block_content">
                        {{ film|film_url_html_big }}
                        ({% for director in film.directors %}<a href="{% url 'artist' director.id director.slug_cache %}">{{ director.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %})
                        <br />
                        {% for country in film.countries %}{{ country.name }}{% if not forloop.last %}-{% endif %}{% endfor %}
                        {% for genre in film.genres %}{{ genre.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    </p>
                    <p class="film_block_content">
                        {{ film.plot_summary }}
                    </p>
                    <br class="clear" />
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}
