Django==1.11.28
django-ipware==2.0.1
djangorestframework==3.9.1
django-compressor==2.2
django-test-without-migrations==0.6
django-appconf==1.0.2  # pin it, so Python 2 is still supported
MySQL-python==1.2.5
sqlparse==0.3.0
Pillow==5.0.0
boto3==1.5.22
pylint==1.9.5
pycryptodomex==3.20.0
