/* GENERAL LAYOUT */

#toptopmenu {
    display: none;
    z-index: 10;
    top: 0;
    width: 100%;
    padding-top: 11px;
    height: 32px;
    font-size: 12pt;
    overflow: hidden;
    border-bottom: solid rgba(109,106,92,0.5) 1px;
    box-shadow: 0 2px 5px rgba(109,106,92,0.5);
}
#toptopmenu_left {
    float: left;
    margin: 0 10px;
}
#toptopmenu_left ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#toptopmenu_left ul li {
    float: left;
    padding: 0 50px 0 0;
}
#toptopmenu_left ul li:last-child {
    padding: 0;
}

#toptopmenu_right {
    float: right;
    margin: 0 10px;
}

@media (min-width: 800px) {
    #toptopmenu {
        display: block;
        position: fixed;
    }
}




#leftmenu {
    position: absolute;
    left: 0; width: 100px;
    top: 0;
    z-index: 5;
    box-sizing: border-box;
    font-size: 9pt;
    overflow: auto;
    border-right: solid rgba(109,106,92,0.5) 1px;
    padding: 10px 0 0 10px;
}
#leftmenu ul {
    list-style: none;
    margin: 0; padding: 0;
}
#leftmenu ul li {
    line-height: 1.6;
    font-weight: bold;
}
#leftmenu ul.mobilemenu li {
    font-weight: normal;
}
#leftmenu ul li ul.submenu li {
    font-weight: normal;
}
@media (min-width: 800px) {
    #leftmenu {
        position: fixed;
        z-index: 20;
        top: 45px; bottom: 0;
        width: 160px;
        font-size: 12pt;
    }
}




@media (min-width: 800px) {
    .mobilemenu {
        display: none;
    }
}


#logo a {
    display: inline-block;
    height: 36px;
    background: url(/static/ktapp/images/logo_30x32.png) no-repeat 0 0;
    margin-top: -8px;
    padding-top: 4px;
    padding-left: 35px;
    font-weight: bold;
    font-size: 15pt;
}
#mobilelogo a {
    display: inline-block;
    height: 36px;
    background: url(/static/ktapp/images/logo_30x32.png) no-repeat 0 0;
    margin-top: -8px;
    padding-top: 4px;
    padding-left: 35px;
    font-weight: bold;
    font-size: 15pt;
}


header {
    margin-left: 100px;
    padding: 0 10px;
}
@media (min-width: 800px) {
    header {
        margin-top: 55px;
        margin-left: 160px;
    }
}


#main {
    margin-left: 100px;
    padding: 0 10px;
}
@media (min-width: 800px) {
    #main {
        margin-left: 160px;
    }
}

footer {
    margin: 50px 0 20px 100px;
}
footer ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
footer ul li {
    margin-top: 20px;
    text-align: center;
    width: 20%;
    float: left;
}
@media (min-width: 800px) {
    footer {
        margin: 50px 0 20px 160px;
    }
    footer ul {
        width: 60%;
    }
}

.jumptarget_wrapper {
    position: relative;
}
.jumptarget {
    position: absolute; top: -100px; /* must match fixed headers: toptopmenu and topmenu */
}

.centered_content {
    margin: 0 auto;
    width: 100%;
}
@media (min-width: 800px) {
    .centered_content {
        width: 70%;
    }
}

.left_content {
    float: left;
    width: 50%;
}
.right_content {
    float: right;
    width: 49%;
}
@media (min-width: 800px) {
    #film_title {
        margin-left: 150px;
        margin-right: 200px;
    }
}
.film_block {
    background: rgb(249,244,218);
    margin-bottom: 20px;
    padding: 10px;
}
.film_block_picture {
    display: none;
}
@media (min-width: 800px) {
    .film_block_content {
        margin-left: 210px;
    }
    .film_block_picture {
        display: block;
        float: left;
        width: 200px;
        margin-top: 5px;
    }
}


#film_edit_form {
    background: rgb(218,211,184);
    width: 70%;
    box-sizing: border-box;
    margin: 20px auto;
    padding: 10px;
    text-align: left;
}
#film_edit_form input[type=text] {
    width: 99%;
}
#film_edit_form textarea {
    width: 99%;
    height: 100px;
}
#keyword_form input[type=text] {
    width: 99%;
}


/* GENERAL FONTS, COLORS, STYLE */

html {
    overflow-y: scroll;
    background: rgb(228,222,195);
}
body {
    font-family: verdana, sans-serif;
    font-size: 9pt;
}
@media (min-width: 800px) {
    body {
        font-size: 12pt;
    }
}

#toptopmenu {
    background: rgb(218,211,184);
    border-bottom: solid 1px rgb(128,128,128);
    border-top: solid 1px rgb(228,222,195);
}
#leftmenu {
    background: rgb(218,211,184);
    border-bottom: solid 1px rgb(128,128,128);
    border-top: solid 1px rgb(228,222,195);
}

header {
    text-align: center;
}

footer {
    font-size: 8pt;
}
footer ul {
    border-top: solid 1px rgb(128,128,128);
}


h1 {
    font-size: 15pt;
    font-weight: bold;
}
h2 {
    font-size: 13pt;
    font-weight: bold;
}
h3 {
    font-size: 9pt;
    font-weight: bold;
    margin-bottom: 6px;
}
@media (min-width: 800px) {
    h1 {
        font-size: 20pt;
    }
    h2 {
        font-size: 16pt;
    }
    h3 {
        font-size: 12pt;
    }
}


.title_comment {
    margin-top: -17px;
    font-size: 9pt;
}

.textblock {
    background: rgb(249,244,218);
    padding: 2px 5px;
}
p {
    line-height: 1.6;
    margin-top: 0;
}
a {
    text-decoration: none;
    color: rgb(146,23,23);
}
.inactive_action {
    color: rgb(201,156,138) !important;
}
input, select, textarea {
    background: rgb(249,244,218);
    border: solid 1px rgb(128,128,128);
    border-radius: 3px;
}
textarea {
    width: 100%;
}
.button {
    color: rgb(146,23,23);
    background: rgb(249,244,218);
    border: solid 1px rgb(128,128,128);
    border-radius: 12px;
    padding: 1px 12px;
    cursor: pointer;
}
input[type=submit] {
    color: rgb(146,23,23);
    border-radius: 12px;
    padding: 1px 12px;
}
input.inactive_action {
    background: rgb(239,233,207);
    border: solid 1px rgb(178,175,161);
}
.small_button {
    font-size: 7pt;
    font-weight: normal;
    border-radius: 10px;
    padding: 1px 10px !important;
}
.very_small_button {
    font-size: 7pt;
    font-weight: normal;
    border-radius: 10px;
    padding: 1px 5px !important;
}
.small_button_selected {
    font-size: 7pt;
    font-weight: normal;
    border-radius: 10px;
    padding: 1px 10px !important;
    background: rgb(249,244,218);
    border: solid 1px rgb(128,128,128);
}
@media (min-width: 800px) {
    .small_button {
        font-size: 9pt;
    }
    .small_button_selected {
        font-size: 9pt;
    }
}
#toptopmenu .small_button {
    font-size: 9pt;
    border-radius: 10px;
    padding: 1px 10px;
}
#login_menu #login_username {
    width: 120px;
    font-size: 11pt;
}
#login_menu #login_password {
    width: 80px;
    font-size: 11pt;
}
#toptopmenu_right input {
    font-size: 11pt;
}

.input_format {
    background: rgb(239,233,207);
    padding: 2px;
}

.thumbnail {
    border: solid 1px rgb(0,0,0);
    margin: 5px;
}
.picture {
    border: solid 1px rgb(0,0,0);
}

.underlined {
    text-decoration: underline;
}
.deleted {
    text-decoration: line-through;
}
.spoiler {
    display: inline-block;
    background: rgb(249,244,218);
    color: rgb(249,244,218);
    border: solid 1px rgb(0, 0, 0);
    padding: 2px;
}
.comment_img {
    max-width: 99%;
}
.additional_input {
    display: none;
}
.full_input {
    width: 90%;
}

.new_message_warning {
    background: rgb(30,36,180);
    color: rgb(249,244,218);
    font-size: 9pt;
    padding: 2px 5px 3px 4px;
    border-radius: 20px;
    vertical-align: 2px;
}


/* TABLES */

table {
    border-collapse: separate;
    border-spacing: 1px;
    background: rgb(249,244,218);
    font-size: 10pt;
    text-align: left;
    margin-bottom: 20px;
}
tr {
    background: rgb(228,222,195);
}
tr.odd {
    background: rgb(249,244,218);
}
tr.header_tr {
    background: rgb(218,211,184);
}
th {
    padding: 3px;
    text-align: center;
}
td {
    padding: 3px;
}
table.fullsize {
    width: 100%;
}
.td_sub {
    font-size: 7pt;
}
tr.selected_film_tr {
    font-weight: bold;
}
.half_td {
    width: 50%;
}
table.sortable tr.header_tr {
    cursor: pointer;
}


/* MISC */

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

.hidden {
    display: none;
}

.inline {
    display: inline;
}

.no_bottom {
    margin-bottom: 0;
}

.clear {
    clear: both;
}

.clearfix:before,
.clearfix:after {
    content: ' ';
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

ul.nobullet {
    list-style: none;
    padding: 0;
}


ul.poll {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
}
ul.poll li {
    margin-bottom: 5px;
}
.pollstat {
    font-size: 9pt;
    vertical-align: 2px;
}








/* FILM LAYOUT */

#tabs {
    margin: 20px -10px;
}

#tabs ul {
    margin: 0;
    padding: 0 0 0 1%;
}
#tabs ul li {
    text-align: center;
    float: left;
    margin: 0;
    padding: 3px;
    box-sizing: border-box;
    font-size: 7pt;
    border-color: rgb(128,128,128);
    border-width: 1px;
    border-style: none none solid none;
    overflow: hidden;
    white-space: nowrap;
}

.active_tab {
    border-style: solid solid none solid !important;
}
.tab_count {
    font-size: 6pt;
    font-weight: normal;
}
@media (min-width: 800px) {
    #tabs ul li {
        font-size: 11pt;
    }
    .tab_count {
        font-size: 8pt;
    }
}

@media (min-width: 800px) {
    #film_centered {
        margin: 0 auto;
        width: 70%;
    }
}

#film_main_left {
    float: left;
    width: 57%;
    margin-left: 1%;
}
#film_main_right {
    float: right;
    width: 39%;
    margin-right: 1%;
}


.comment_block {
    margin: 20px 0 40px 0;
    overflow: hidden;
}
.comment_block_content {
    position: relative;
    background: rgb(249,244,218);
}
.comment_block_content p {
    margin: 0;
    padding: 5px;
}
.comment_source {
    font-weight: bold;
}
.comment_block_author {
    background: rgb(218,211,184);
    margin: 0;
    padding: 2px 5px;
    font-size: 9pt;
    overflow: auto;
}
.comment_block_author_right {
    float: right;
}
.comment_block_reply_to {
    text-align: right;
    font-size: 9pt;
}
.comment_block_reply_to p span {
    border-top: solid rgb(0,0,0) 1px;
}
.comment_button_reply {
    position: absolute; z-index: 10;
    right: 5px; top: 5px;
}


.film_addon {
    margin: 25px 0 50px 0;
    overflow: hidden;
}
.film_addon_content {
    background: rgb(249,244,218);
}
.film_addon_content p {
    margin: 0;
    padding: 5px;
}
.film_addon_source {
    background: rgb(218,211,184);
    margin: 0;
    padding: 2px 5px;
    font-size: 9pt;
    overflow: auto;
}
.film_addon_author {
    background: rgb(218,211,184);
    margin: 0;
    padding: 2px 5px;
    font-size: 9pt;
    text-align: right;
    overflow: auto;
}
.review_author {
    background: rgb(218,211,184);
    margin: 0;
    padding: 2px 5px;
    font-size: 9pt;
    overflow: auto;
}
.portrait_author {
    background: rgb(218,211,184);
    margin: 0;
    padding: 2px 5px;
    font-size: 9pt;
    overflow: auto;
}


.paging {
    list-style: none;
    margin: 0 auto;
    text-align: center;
}
.paging li {
    display: inline-block;
    width: auto;
    background: rgb(249,244,218);
    border: solid 1px rgb(128,128,128);
    border-radius: 20px;
}
.paging_ellipsis {
    background: none !important;
    border: none !important;
}
.paging li a,
.paging li b {
    padding: 5px 10px;
    display: block;
}


/* FILM FONTS, COLORS, STYLE */

.active_tab {
    font-weight: bold;
}

#film_header h1,
#film_header h2,
#film_header h3,
#film_header p {
    margin: 0;
}
#film_header h3 {
    font-weight: normal;
    font-style: italic;
}

#film_header {
    position: relative;
    min-height: 90px;
}

@media (min-width: 800px) {
    #film_header h1 {
        font-size: 16pt;
    }
    #film_header h2 {
        font-size: 12pt;
    }
}

.sequels {
    font-size: 10pt;
}

#film_rating {
    float: left;
    padding: 4px 8px;
    background: rgb(249,244,218);
    border-radius: 12px;
    margin-right: 20px;
}
#film_rating_num {
    font-size: 7pt;
}
#film_rating_avg {
    margin-top: 5px;
    font-size: 13pt;
    font-weight: bold;
}
@media (min-width: 800px) {
    #film_rating {
        float: none;
        position: absolute;
        left: 50px; top: 10px;
        padding: 8px 16px;
        margin-right: 0;
    }
    #film_rating_num {
        font-size: 8pt;
    }
    #film_rating_avg {
        font-size: 16pt;
    }
}

@media (min-width: 800px) {
    #film_misc_info {
        position: absolute;
        right: 0; top: 0px;
    }
}
#film_misc_info ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 8pt;
}
#film_misc_info ul li {
    margin-top: 3px;
}
#film_misc_info ul li span {
    display: inline-block;
    width: 90px;
}
.link_w_icon {
    display: inline-block;
    height: 16px;
    padding-left: 18px;
    padding-top: 1px;
    background: transparent no-repeat 0 0;
}
.imdb_link {
    background-image: url(/static/ktapp/images/imdb.png);
}
.porthu_link {
    background-image: url(/static/ktapp/images/porthu.png);
}
.rt_link {
    background-image: url(/static/ktapp/images/rt.png);
}
.youtube_link {
    background-image: url(/static/ktapp/images/youtube.png);
}
.wikipedia_link {
    background-image: url(/static/ktapp/images/wikipedia.png);
}
.wikipedia_hu_link {
    background-image: url(/static/ktapp/images/wikipedia_hu.png);
}

.premiers {
    font-size: 8pt;
    line-height: 1.5;
}

.mini_list {
    list-style: none;
    padding: 0;
    margin: 4px 0;
}
.mini_list li {
    padding: 4px 0;
}

.minimini_list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.minimini_list .small_button {
    font-size: 8pt;
    font-weight: normal;
    border-radius: 10px;
    padding: 0px 10px;
}
.minimini_list li {
    padding: 2px 0;
    font-size: 10pt;
}

.film_year {
    font-size: 10pt;
}


#film_main_voting_block h3 {
    margin-top: 0;
}
#film_main_voting_block form,
#film_main_voting_block form input {
    margin: 0;
}
.change_vote div {
    padding-top: 5px;
}
.my_rating {
    background: rgb(249,244,218);
    border: solid 1px rgb(128,128,128);
    border-radius: 12px;
    padding: 1px 12px;
    font-weight: bold;
}
.rating_details {
    font-size: 8pt;
}
#show_rating_details_button {
    vertical-align: 2px;
}
#hide_rating_details_button {
    vertical-align: 2px;
    display: none;
}
.action_text {
    color: rgb(146,23,23);
    cursor: pointer;
}
.picture_source {
    font-size: 8pt;
}


.search_input {
    width: 80px;
}
@media (min-width: 800px) {
    .search_input {
        width: 120px;
    }
}
@media (min-width: 900px) {
    .search_input {
        width: 200px;
    }
}
@media (min-width: 1000px) {
    .search_input {
        width: 300px;
    }
}

#search_results {
    list-style: none;
    margin: 0;
    padding: 0;
}
#search_results li {
    padding: 10px 0;
}
#search_results li .search_result_type {
    font-variant: small-caps;
    font-weight: bold;
}
#search_results li .search_result_title {
    font-weight: bold;
}
#search_results li .search_result_details {
    font-size: 9pt;
}


.hover_show_button {
    white-space: nowrap;
}
.hover_show_button_context .hover_show_button {
    visibility: hidden;
}
.hover_show_button_context:hover .hover_show_button {
    visibility: visible;
}


.artist_avg {
    font-size: 10pt;
}





.recipients_input {
    width: 300px;
}

.ui-autocomplete-loading {
    background-image: url(images/ajax-loader.gif);
    background-position: right center;
    background-repeat: no-repeat;
}



.error {
    border: solid rgba(109,106,92,0.5) 1px;
    background: rgb(218,211,184);
    padding: 10px;
}
