/* GENERAL LAYOUT */

#toptopmenu {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    padding-top: 11px;
    height: 32px;
    font-size: 11pt;
    overflow: hidden;
}
#toptopmenu_left {
    float: left;
    margin: 0 10px;
}
#toptopmenu_left ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#toptopmenu_left ul li {
    float: left;
    padding: 0 40px 0 0;
}
#toptopmenu_left ul li:last-child {
    padding: 0;
}

#toptopmenu_right {
    float: right;
    margin: 0 10px;
}



#topmenu {
/*    position: absolute;*/
    position: fixed;
    top: 45px;
    width: 100%;
    padding-top: 11px;
    height: 32px;
    font-size: 11pt;
    overflow: hidden;
    transition: height 0.3s;
    -webkit-transition: height 0.3s;
}
#topmenu:hover {
    height: 220px;
}
#topmenu_left {
    float: left;
    margin: 0 10px;
}
#topmenu_left ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#topmenu_left ul li {
    float: left;
    padding: 0 20px 0 0;
}
#topmenu_left ul li:last-child {
    padding: 0;
}
#topmenu_left ul.submenu {
    margin-top: 7px;
}
#topmenu_left ul.submenu li {
    clear: both;
    margin-top: 5px;
    font-size: 9pt;
}

#topmenu_right {
    float: right;
    margin: 0 10px;
}

header {
    margin-top: 100px;
    padding: 0 10px;
}

#main {
    padding: 0 10px;
}

footer {
    margin: 50px 0 20px;
}
footer ul {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
footer ul li {
    margin-top: 20px;
    text-align: center;
    width: 14%;
    float: left;
}



/* GENERAL FONTS, COLORS, STYLE */

html {
    overflow-y: scroll;
    background: rgb(228,222,195);
}
body {
    font-family: verdana, sans-serif;
    font-size: 12pt;
}

#toptopmenu {
    background: rgb(218,211,184);
    border-bottom: solid 1px rgb(128,128,128);
    border-top: solid 1px rgb(228,222,195);
}
#topmenu {
    background: rgb(218,211,184);
    border-bottom: solid 1px rgb(128,128,128);
    border-top: solid 1px rgb(228,222,195);
}

header {
    text-align: center;
}

footer {
    font-size: 8pt;
}
footer ul {
    border-top: solid 1px rgb(128,128,128);
}


h1 {
    font-size: 20pt;
    font-weight: bold;
}
h2 {
    font-size: 16pt;
    font-weight: bold;
}
h3 {
    font-size: 12pt;
    font-weight: bold;
}

.textblock {
    background: rgb(249,244,218);
    padding: 2px 5px;
}
p {
    line-height: 1.6;
    margin-top: 0;
}
a {
    text-decoration: none;
    color: rgb(146,23,23);
}
.inactive_action {
    color: rgb(201,156,138) !important;
}
input, select, textarea {
    background: rgb(249,244,218);
    border: solid 1px rgb(128,128,128);
    border-radius: 3px;
    margin-bottom: 20px;
}
input[type=submit] {
    color: rgb(146,23,23);
    border-radius: 12px;
    padding: 1px 12px;
}
input.inactive_action {
    background: rgb(239,233,207);
    border: solid 1px rgb(178,175,161);
}
input.small_button {
    font-size: 8pt;
    border-radius: 10px;
    padding: 1px 10px;
}
#toptopmenu input.small_button {
    font-size: 9pt;
    border-radius: 10px;
    padding: 1px 10px;
}
#login_menu #login_username {
    width: 120px;
    font-size: 11pt;
}
#login_menu #login_password {
    width: 80px;
    font-size: 11pt;
}
#toptopmenu_right input {
    font-size: 11pt;
}



/* TABLES */

table {
    border-collapse: separate;
    border-spacing: 1px;
    background: rgb(249,244,218);
    font-size: 10pt;
    text-align: left;
    margin-bottom: 20px;
}
tr {
    background: rgb(218,211,184);
}
tr.odd {
    background: rgb(249,244,218);
}
th {
    padding: 3px;
    text-align: center;
}
td {
    padding: 3px;
}
table.fullsize {
    width: 100%;
}



/* MISC */

.center {
    text-align: center;
}

.hidden {
    display: none;
}

.inline {
    display: inline;
}

.no_bottom {
    margin-bottom: 0;
}

.clear {
    clear: both;
}

.clearfix:before,
.clearfix:after {
    content: ' ';
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

ul.nobullet {
    list-style: none;
    padding: 0;
}










/* FILM LAYOUT */

#tabs {
    margin: 20px -10px;
}

#tabs ul {
    margin: 0;
    padding: 0 0 0 1%;
}
#tabs ul li {
    text-align: center;
    float: left;
    margin: 0;
    padding: 3px 0;
    font-size: 11pt;
    border-color: rgb(128,128,128);
    border-width: 1px;
    border-style: none none solid none;
}
.active_tab {
    border-style: solid solid none solid !important;
}
.tab_count {
    font-size: 8pt;
    font-weight: normal;
}

#film_main_voting {
    text-align: center;
    margin-bottom: 20px;
}

#film_centered {
    margin: 0 auto;
    width: 70%;
}
#film_centered textarea {
    width: 100%;
}

#film_main_left {
    float: left;
    width: 57%;
    margin-left: 1%;
}
#film_main_right {
    float: right;
    width: 39%;
    margin-right: 1%;
}

.comment_block_table {
    width: 100%;
    margin: 25px 0 50px 0;
}
.comment_block_tr {
    vertical-align: top;
}
.comment_header_td {
    width: 200px;
    background: rgb(218,211,184);
}
.comment_content_td {
    background: rgb(249,244,218);
}
.comment_header_td h3 {
    font-size: 10pt;
    padding: 5px;
    margin: 0;
}
.comment_content_td p {
    font-size: 12pt;
    padding: 2px 5px;
    margin: 0;
}


/* FILM FONTS, COLORS, STYLE */

.active_tab {
    font-weight: bold;
}

#film_header h1,
#film_header h2,
#film_header h3 {
    margin: 0;
}
#film_header h1 {
    font-size: 16pt;
}
#film_header h2 {
    font-size: 12pt;
}
#film_header h3 {
    font-weight: normal;
    font-style: italic;
}

#film_header {
    position: relative;
    min-height: 90px;
}
#film_rating {
    position: absolute;
    left: 50px; top: 10px;
    padding: 8px 16px;
    background: rgb(249,244,218);
    border-radius: 12px;
}
#film_rating_num {
    font-size: 8pt;
}
#film_rating_avg {
    margin-top: 5px;
    font-size: 16pt;
    font-weight: bold;
}
#film_misc_info {
    position: absolute;
    right: 0; top: 5px;
}
#film_misc_info ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 10pt;
}
#film_misc_info ul li span {
    display: inline-block;
    width: 80px;
}

#film_your_rating b,
#film_your_rating form {
    margin: 0 20px;
}
#film_votes {
    list-style: none;
    padding: 0;
}
#film_votes li {
    padding: 5px 0;
}


.film_addon {
    margin: 25px 0 50px 0;
}
.film_addon_content {
    background: rgb(249,244,218);
}
.film_addon_author {
    background: rgb(218,211,184);
}
.film_addon_content p {
    margin: 0;
    padding: 5px;
}
.film_addon_author p {
    margin: 0;
    padding: 0 5px;
    font-size: 8pt;
    text-align: right;
}
