{% extends "ktapp/vapiti_subpages/vapiti_silver_base.html" %}
{% load kt_extras %}

{% block premier_main %}

{% if request.user.is_authenticated %}

    {% if request.user.core_member %}
        {% if vapiti_round == 1 %}
            <h2>Jelöltjeid</h2>
            <p>Melyik (legfeljebb három) tavaly bemutatott filmben játszó színészt jelölöd az Ezüst Vapiti díjra? (csak olyat választhatsz, akit láttál és osztályoztad a filmjét)</p>
            <form action="{% url 'vote_vapiti' %}" method="post" class="inline">
                {% csrf_token %}
                <input type="hidden" name="vapiti_type" id="id_vapiti_type" value="{% if gender == 'ferfi' %}M{% else %}F{% endif %}" />
                <p><input type="text" name="artist_1" value="{{ my_vapiti_votes.1 }}" class="input_for_vapiti_artist wide_input" /></p>
                <p><input type="text" name="artist_2" value="{{ my_vapiti_votes.2 }}" class="input_for_vapiti_artist wide_input" /></p>
                <p><input type="text" name="artist_3" value="{{ my_vapiti_votes.3 }}" class="input_for_vapiti_artist wide_input" /></p>
                <p><input type="submit" value="Jelöltek mentése" /></p>
            </form>
        {% elif vapiti_round == 2 %}
            <p>Az első forduló véget ért, most a második fordulóban vagyunk.</p>
        {% elif vapiti_round == 3 %}
            <p>Mindkét forduló véget ért.</p>
        {% else %}
            <p>Az első forduló {{ round_1_dates.0|str2date|date:"Y F j" }}-jén kezdődik, onnantól jelölhetsz majd színészeket.</p>
        {% endif %}
    {% else %}
        <p>Ahhoz, hogy te is jelölhess színészeket az Ezüst Vapiti díjra, törzstagnak kell lenned. Járj vissza rendszeresen az oldalra, szavazz, kommentelj, és egy idő után azzá válsz. Ha az idei Vapitit esetleg lekésed, majd részt veszel a jövő évin.</p>
    {% endif %}

    <h2>Akiket már láttál ({{ artists_yes_count }} színész, {{ roles_yes|length }} szerep)</h2>

    <table class="fullsize sortable">
        <thead>
            <tr class="header_tr">
                <th data-sort="string">Színész</th>
                <th data-sort="string">Szerep</th>
                <th data-sort="string">Film</th>
                <th data-sort="int" data-sort-default="desc">Nézettség</th>
                <th data-sort="float" data-sort-default="desc">Átlag</th>
                <th data-sort="int" data-sort-default="desc">Szerinted</th>
            </tr>
        </thead>
        <tbody>
        {% for role in roles_yes %}
            <tr class="{% cycle '' 'odd' %}">
                <td><a href="{% url 'artist' role.artist_id role.artist_slug_cache %}">{{ role.artist_name }}</a></td>
                <td><a href="{% url 'role' role.id role.slug_cache %}">{{ role.role_name }}</a></td>
                <td>{{ role|film_url_html_from_role }}</td>
                <td class="center" data-sort-value="{{ role.number_of_ratings }}">{{ role|film_num_rating_html }}</td>
                <td class="center" data-sort-value="{{ role|film_rating_sort_value }}">{{ role|film_avg_rating_html }}</td>
                <td class="center" data-sort-value="{% if role.my_rating %}{{ role.my_rating }}{% else %}0{% endif %}">{% if role.my_rating %}{{ role.my_rating }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endif %}

    {% if request.user.is_authenticated %}
    <h2>Akiket még nem ({{ artists_no_count }} színész, {{ roles_no|length }} szerep)</h2>
    {% endif %}

    <table class="fullsize sortable">
        <thead>
        <tr class="header_tr">
            <th data-sort="string">Színész</th>
            <th data-sort="string">Szerep</th>
            <th data-sort="string">Film</th>
            <th data-sort="int" data-sort-default="desc">Nézettség</th>
            <th data-sort="float" data-sort-default="desc">Átlag</th>
        </tr>
        </thead>
        <tbody>
        {% for role in roles_no %}
            <tr class="{% cycle '' 'odd' %}">
                <td><a href="{% url 'artist' role.artist_id role.artist_slug_cache %}">{{ role.artist_name }}</a></td>
                <td><a href="{% url 'role' role.id role.slug_cache %}">{{ role.role_name }}</a></td>
                <td>{{ role|film_url_html_from_role }}</td>
                <td class="center" data-sort-value="{{ role.number_of_ratings }}">{{ role|film_num_rating_html }}</td>
                <td class="center" data-sort-value="{{ role|film_rating_sort_value }}">{{ role|film_avg_rating_html }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
