{% extends "ktapp/vapiti_subpages/vapiti_gold_base.html" %}
{% load kt_extras %}

{% block premier_main %}

{% if request.user.is_authenticated %}

    {% if request.user.core_member %}
        {% if vapiti_round == 1 %}
            <h2>Jelöltjeid</h2>
            <p>Melyik (legfeljebb három) tavaly bemutatott filmet jelölöd az Arany Vapiti díjra? (csak olyat választhatsz, amit láttál és osztályoztál)</p>
            <form action="{% url 'vote_vapiti' %}" method="post" class="inline">
                {% csrf_token %}
                <input type="hidden" name="vapiti_type" value="G" />
                <p><input type="text" name="film_1" value="{{ my_vapiti_votes.1 }}" class="input_for_vapiti_film wide_input" /></p>
                <p><input type="text" name="film_2" value="{{ my_vapiti_votes.2 }}" class="input_for_vapiti_film wide_input" /></p>
                <p><input type="text" name="film_3" value="{{ my_vapiti_votes.3 }}" class="input_for_vapiti_film wide_input" /></p>
                <p><input type="submit" value="Jelöltek mentése" /></p>
            </form>
        {% elif vapiti_round == 2 %}
            <p>Az első forduló véget ért, most a második fordulóban vagyunk.</p>
        {% elif vapiti_round == 3 %}
            <p>Mindkét forduló véget ért.</p>
        {% else %}
            <p>Az első forduló {{ round_1_dates.0|str2date|date:"Y. F j" }}-jén kezdődik, onnantól jelölhetsz majd filmeket.</p>
        {% endif %}
    {% else %}
        <p>Ahhoz, hogy te is jelölhess filmeket az Arany Vapiti díjra, törzstagnak kell lenned. Járj vissza rendszeresen az oldalra, szavazz, kommentelj, és egy idő után azzá válsz. Ha az idei Vapitit esetleg lekésed, majd részt veszel a jövő évin.</p>
    {% endif %}

    <h2>Amiket már láttál ({{ films_yes|length }} film)</h2>

    <table class="fullsize sortable">
        <thead>
            <tr class="header_tr">
                <th data-sort="string">Film</th>
                <th data-sort="int" data-sort-default="desc">Év</th>
                <th data-sort="string">Rendező</th>
                <th data-sort="string">Műfaj</th>
                <th data-sort="int" data-sort-default="desc">Nézettség</th>
                <th data-sort="float" data-sort-default="desc">Átlag</th>
                <th data-sort="int" data-sort-default="desc">Kedvenceid</th>
                <th data-sort="int" data-sort-default="desc">Szerinted</th>
                <th data-sort="int" data-sort-default="desc">&#9733;</th>
            </tr>
        </thead>
        <tbody>
        {% for film in films_yes %}
            <tr class="{% cycle '' 'odd' %}">
                <td>{{ film|film_url_html }}</td>
                <td class="center">{% if film.year %}{{ film.year }}{% endif %}</td>
                <td>{{ film|film_directors }}</td>
                <td>{{ film|film_genres }}</td>
                <td class="center" data-sort-value="{{ film.number_of_ratings }}">{{ film|film_num_rating_html }}</td>
                <td class="center" data-sort-value="{{ film|film_rating_sort_value }}">{{ film|film_avg_rating_html }}</td>
                <td class="center" data-sort-value="{{ film|film_fav_rating_sort_value }}">{{ film|film_fav_rating_html }}</td>
                <td class="center" data-sort-value="{% if film.my_rating %}{{ film.my_rating }}{% else %}0{% endif %}">{% if film.my_rating %}{{ film.my_rating }}{% endif %}</td>
                <td class="center wish{% if film.my_wish == 1 %}_active{% endif %}" data-sort-value="{% if film.my_wish %}{{ film.my_wish }}{% else %}0{% endif %}"><span data-id="{{ film.id }}">{% if film.my_wish == 1 %}&#9733;{% else %}&#9734;{% endif %}</span></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endif %}

    {% if request.user.is_authenticated %}
    <h2>Amiket még nem ({{ films_no|length }} film)</h2>
    {% endif %}

    <table class="fullsize sortable">
        <thead>
        <tr class="header_tr">
            <th data-sort="string">Film</th>
            <th data-sort="int" data-sort-default="desc">Év</th>
            <th data-sort="string">Rendező</th>
            <th data-sort="string">Műfaj</th>
            <th data-sort="int" data-sort-default="desc">Nézettség</th>
            <th data-sort="float" data-sort-default="desc">Átlag</th>
            {% if request.user.is_authenticated %}
                <th data-sort="int" data-sort-default="desc">Kedvenceid</th>
                <th data-sort="int" data-sort-default="desc">&#9733;</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for film in films_no %}
            <tr class="{% cycle '' 'odd' %}">
                <td>{{ film|film_url_html }}</td>
                <td class="center">{% if film.year %}{{ film.year }}{% endif %}</td>
                <td>{{ film|film_directors }}</td>
                <td>{{ film|film_genres }}</td>
                <td class="center" data-sort-value="{{ film.number_of_ratings }}">{{ film|film_num_rating_html }}</td>
                <td class="center" data-sort-value="{{ film|film_rating_sort_value }}">{{ film|film_avg_rating_html }}</td>
                {% if request.user.is_authenticated %}
                    <td class="center" data-sort-value="{{ film|film_fav_rating_sort_value }}">{{ film|film_fav_rating_html }}</td>
                    <td class="center wish{% if film.my_wish == 1 %}_active{% endif %}" data-sort-value="{% if film.my_wish %}{{ film.my_wish }}{% else %}0{% endif %}"><span data-id="{{ film.id }}">{% if film.my_wish == 1 %}&#9733;{% else %}&#9734;{% endif %}</span></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
