{% extends "ktapp/layout.html" %}

{% block title %}{% if gender == 'ferfi' %}Férfi{% else %}Női{% endif %} Ezüst Vapiti díj - Kritikus Tömeg{% endblock %}

{% block header %}
    <h1>{% if gender == 'ferfi' %}Férfi{% else %}Női{% endif %} Ezüst Vapiti díj</h1>
{% endblock %}

{% block main %}

    <nav id="tabs" class="clearfix">
        <ul>
            <li style="width: 34%"{% if active_tab == '' %} class="active_tab"{% endif %}><a href="{% url 'vapiti_silver' gender %}">első forduló</a></li>
            <li style="width: 33%"{% if active_tab == '2' %} class="active_tab"{% endif %}><a href="{% url 'vapiti_silver_2' gender %}">második forduló</a></li>
            <li style="width: 33%"{% if active_tab == 'winners' %} class="active_tab"{% endif %}><a href="{% url 'vapiti_silver_winners' gender %}">győztesek</a></li>
        </ul>
    </nav>

    {% block premier_main %}{% endblock %}

{% endblock %}
