{% extends "ktapp/layout.html" %}
{% load staticfiles %}
{% load kt_extras %}

{% block title %}Arany és Ezüst Vapiti díj - Kritikus Tömeg{% endblock %}

{% block header %}
    <h1>Arany és Ezüst Vapiti díj</h1>
{% endblock %}

{% block main %}

    <p class="right">„<i>A vapiti, az zöld, kerek tüskéi vannak, és pluttyan, ha vízbe dobja az ember.</i>”<br />(Boris Vian - Piros fű)</p>

    <p>Az Arany Vapiti egy díj, amit évente oszt ki a Kritikus Tömeg a legjobbnak ítélt filmnek. A győztest nem egy kis létszámú zsűri választja ki, hanem az összes törzstag. A szavazási rendszer részletei változtak az évek során, a jelenlegi állapot a következő:</p>
    <ul class="normal">
        <li>azok a filmek indulnak, amiket vagy az adott évben mutattak be Magyarországon a mozikban, vagy egyáltalán nem mutatják be őket moziban, viszont legalább 20 szavazatot elérnek következő év január 31-ig (és nem rövidfilmek, klippek vagy minisorozatok)</li>
        <li>a törzstagok szavazhatnak (ezzel próbáljuk kiszűrni azokat, akik csak a szavazás befolyásolása miatt regisztrálnak)</li>
        <li>az első fordulóban (február 1-21) az összes film közül mindenki 3-at jelölhet, és minden jelölés annyit ér, amennyi a jelölő súlya</li>
        <li>egy felhasználó súlya a tapasztalat és a kompetencia 25-szörösének az összege</li>
        <li>a tapasztalat a valaha látott és leosztályzott filmek száma</li>
        <li>a kompetencia pedig az adott Vapitin induló filmek közül a látottak és leosztályzottak száma</li>
        <li>az első fordulóból a 10 legtöbb pontot kapott film kerül a másodikba, ők a jelöltek</li>
        <li>a második fordulóban (február 22-március 2x) ezen 10 film közül lehet választani egyet, és itt már minden szavazat egyet ér csak</li>
        <li>végül az nyeri az Arany Vapiti-díjat, aki a legtöbb pontot kapja a második fordulóban</li>
    </ul>

    <p>Az Ezüst Vapiti szintén egy díj, csak ezt nem a legjobb film, hanem a legjobb női illetve férfi alakítást nyújtó színész kapja. Hogy fő- vagy mellékszerep, az mindegy, a lényeg, hogy az adott évi filmek közül valamelyikben játsszon. A szavazási rendszer és minden más megegyezik az Arany Vapitiéval.</p>


    <h2>Az eddigi győztesek</h2>

    <table class="fullsize">
        <tr class="header_tr">
            <th>Év</th>
            <th>Arany</th>
            <th>Női Ezüst</th>
            <th>Férfi Ezüst</th>
        </tr>
        {% for year in awards %}
            <tr class="{% cycle '' 'odd' %}">
                <td class="center" style="width: 4%">{{ year.0.0.award.year }}</td>
                {% for award_list in year %}
                    <td style="width: 32%">
                        {% for award in award_list %}
                            {% if award.award_type == 0 %}
                                {{ award|film_url_html_w_year }}
                            {% else %}
                                {% if forloop.first %}
                                    <a href="{% url 'artist' award.artist.id award.artist.slug_cache %}">{{ award.artist.name }}</a><br />
                                {% endif %}
                                <span class="td_sub"><a href="{% url 'film_main' award.id award.slug_cache %}">{{ award.orig_title }}</a> ({{ award.year }})</span>
                            {% endif %}
                            {% if not forloop.last %}<br />{% endif %}
                        {% empty %}
                            -
                        {% endfor %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>


    <h2>Részvételi statisztikák</h2>
    <div class="row">
        <div class="col-sm-6">
            <h3>Szavazók száma</h3>
            <div id="ch1"></div>
        </div>
        <div class="col-sm-6">
            <h3>Szavazók súlyozott aránya</h3>
            <div id="ch2"></div>
        </div>
    </div>
    <p style="font-size: 8pt"><br />* 2007 előtt és 2012-13-ban hiányos</p>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart', 'line']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data1 = new google.visualization.DataTable();
            data1.addColumn('string', 'Év');
            data1.addColumn('number', 'Arany');
            data1.addColumn('number', 'Női Ezüst');
            data1.addColumn('number', 'Férfi Ezüst');
            data1.addRows([
                ['2007', 189, 137, 141],
                ['2008', 356, 221, 267],
                ['2009', 598, 314, 342],
                ['2010', 524, 344, 352],
                ['2011', 531, 372, 391],
                ['2014/1', 400, 281, 288],
                ['2014/2', 508, 431, 441],
                ['2015/1', 386, 273, 292],
                ['2015/2', 400, 342, 371],
                ['2016/1', 278, 187, 185],
                ['2016/2', 329, 290, 286],
                ['2017/1', 331, 237, 233],
                ['2017/2', 332, 274, 272],
                ['2018/1', 249, 181, 184],
                ['2018/2', 338, 286, 289],
                ['2019/1', 273, 176, 208],
                ['2019/2', 298, 239, 287],
                ['2020/1', 212, 156, 152],
                ['2020/2', 240, 183, 192],
                ['2021/1', 222, 158, 160],
                ['2021/2', 246, 201, 214]
            ]);

            var data2 = new google.visualization.DataTable();
            data2.addColumn('string', 'Év');
            data2.addColumn('number', 'Arany');
            data2.addColumn('number', 'Női Ezüst');
            data2.addColumn('number', 'Férfi Ezüst');
            data2.addRows([
                ['2007', 53, 43, 44],
                ['2008', 57, 43, 48],
                ['2009', 64, 42, 44],
                ['2010', 51, 36, 36],
                ['2011', 51, 40, 41],
                ['2014/1', 35, 27, 27],
                ['2014/2', 41, 37, 37],
                ['2015/1', 33, 25, 27],
                ['2015/2', 33, 30, 31],
                ['2016/1', 25, 18, 18],
                ['2016/2', 28, 26, 25],
                ['2017/1', 28, 22, 22],
                ['2017/2', 29, 25, 25],
                ['2018/1', 24, 18, 19],
                ['2018/2', 30, 27, 27],
                ['2019/1', 25, 18, 21],
                ['2019/2', 27, 23, 26],
                ['2020/1', 21, 17, 16],
                ['2020/2', 22, 19, 19],
                ['2021/1', 21, 17, 17],
                ['2021/2', 23, 20, 21]
            ]);

            var options = {
                height: 400,
                chartArea: {
                    width: '90%',
                    left: '8%',
                    height: '80%',
                    top: '6%'
                },
                fontName: 'verdana',
                colors: ['FF9900', 'DD4477', '0099C6'],
                hAxis: {
                    slantedText: true
                },
                vAxis: {
                    minValue: 0
                },
                legend: {
                    position: 'in'
                },
                axisTitlesPosition: 'none'
            };

            var chart1 = new google.visualization.LineChart(document.getElementById('ch1'));
            chart1.draw(data1, options);

            var chart2 = new google.visualization.LineChart(document.getElementById('ch2'));
            chart2.draw(data2, options);
        }
    </script>

{% endblock %}
