{% extends "ktapp/user_profile_subpages/user_profile_base.html" %}
{% load kt_extras %}

{% block user_profile_main %}

<div class="row">
    <div class="col-sm-6">

        <p>
            Tapasztalat{% if selected_user.id == user.id %}od{% endif %}: {{ number_of_votes }} film
            <br />
            Kompetenci{% if selected_user.id == user.id %}ád{% else %}a{% endif %}: {{ number_of_vapiti_votes }} film
            <br />
            Súly{% if selected_user.id == user.id %}od{% endif %}: {{ vapiti_weight }}
            <br />
            Regisztráció{% if selected_user.id == user.id %}d{% endif %}: {{ selected_user.date_joined|date:"Y. F j." }} ({{ selected_user.date_joined|timesince }})
            {% if fav_count %}
                <br />
                Kedvencnek jelölt{% if selected_user.id != user.id %}ék{% endif %}: {{ fav_count }} user
            {% endif %}
        </p>
        {% if selected_user.bio_html %}
            <h2>Bemutatkozás</h2>
            {% autoescape off %}
                <p>{{ selected_user.bio_html|linebreaksbr }}</p>
            {% endautoescape %}
        {% endif %}
        {% if fav_directors or fav_actors %}
            <h2>Kedvencek</h2>
            <p>
            {% if fav_directors %}
                Rendezők: {% for item in fav_directors %}<a href="{% url 'artist' item.id item.slug_cache %}">{{ item.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}<br />
            {% endif %}
            {% if fav_actors %}
                Színészek: {% for item in fav_actors %}<a href="{% url 'artist' item.id item.slug_cache %}">{{ item.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}<br />
            {% endif %}
            {% if fav_genres %}
                Műfajok: {% for item in fav_genres %}{{ item.name }}{% if not forloop.last %}, {% endif %}{% endfor %}<br />
            {% endif %}
            {% if fav_countries %}
                Országok: {% for item in fav_countries %}{{ item.name }}{% if not forloop.last %}, {% endif %}{% endfor %}<br />
            {% endif %}
            {% if selected_user.fav_period %}
                Korszakok: {{ selected_user.fav_period }}<br />
            {% endif %}
            </p>
        {% endif %}

        <p>
            {% if user.is_authenticated %}
                {% if selected_user.id == user.id %}
                    A gép szerint ez jellemző rád:
                    <br />
                    Műfajok:
                    {% if profile.major_genres %}{% for genre in profile.major_genres %}{{ genre.name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% else %}mindenevő{% endif %}
                    {% if profile.minor_genres %}({% for genre in profile.minor_genres %}{{ genre.name }}{% if not forloop.last %}, {% endif %}{% endfor %}){% endif %}
                    <br />
                    Országok:
                    {% if profile.major_countries %}{% for country in profile.major_countries %}{{ country.name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% else %}mindenevő{% endif %}
                    {% if profile.minor_countries %}({% for country in profile.minor_countries %}{{ country.name }}{% if not forloop.last %}, {% endif %}{% endfor %}){% endif %}
                    <br />
                    Korszakok:
                    {% if profile.major_years %}{% for year in profile.major_years %}{{ year }}{% if not forloop.last %}, {% endif %}{% endfor %}{% else %}mindenevő{% endif %}
                    {% if profile.minor_years %}({% for year in profile.minor_years %}{{ year }}{% if not forloop.last %}, {% endif %}{% endfor %}){% endif %}
                    <br />
                    <a href="{% url 'edit_profile' %}">Szerkeszd meg a profilodat</a>, ha ennél jobbat tudsz (és nyilván jobbat tudsz).
                {% endif %}
            {% endif %}
        </p>

        {% if user.is_authenticated and selected_user.id != user.id and similarity %}
            <h2>Hasonlóság</h2>
            <p>{{ similarity.1 }}% ({{ similarity.0 }} film alapján)</p>
            {% if similarity_per_genre %}
                <p>Műfajonként:</p>
                <ul class="nobullet">
                    {% for sim in similarity_per_genre %}
                        <li>{{ sim.1 }}% ({{ sim.0 }}) <a href="{% url 'user_films' selected_user.id selected_user.slug_cache %}?genre={{ sim.3|urlencode }}">{{ sim.3 }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}

        <h2>Demográfiai adatok</h2>
        {% if selected_user.id == user.id %}
            <p>
                Nemed:
                {% if selected_user.gender == 'M' %}
                    férfi
                {% elif selected_user.gender == 'F' %}
                    nő
                {% else %}
                    <i>nem adtad meg</i>
                {% endif %}
                <br />
                Születési éved:
                {% if selected_user.year_of_birth %}
                    {{ selected_user.year_of_birth }}
                {% else %}
                    <i>nem adtad meg</i>
                {% endif %}
                <br />
                Lakhelyed:
                {% if selected_user.location %}
                    {{ selected_user.location }}
                {% else %}
                    <i>nem adtad meg</i>
                {% endif %}
            </p>
        {% else %}
            <p>
                Nem: {% if selected_user.public_gender %}
                    {% if selected_user.gender == 'M' %}
                        férfi
                    {% elif selected_user.gender == 'F' %}
                        nő
                    {% else %}
                        <i>?</i>
                    {% endif %}
                {% else %}<i>nem publikus</i>{% endif %}
                <br />
                Születési év: {% if selected_user.public_year_of_birth %}
                    {% if selected_user.year_of_birth %}
                        {{ selected_user.year_of_birth }}
                    {% else %}
                        <i>?</i>
                    {% endif %}
                {% else %}<i>nem publikus</i>{% endif %}
                <br />
                Lakhely: {% if selected_user.public_location %}
                    {% if selected_user.location %}
                        {{ selected_user.location }}
                    {% else %}
                        <i>?</i>
                    {% endif %}
                {% else %}<i>nem publikus</i>{% endif %}
            </p>
        {% endif %}

        {% if user.is_authenticated %}
            <h2>Egyéb</h2>
            {% if selected_user.id == user.id %}
                {% if selected_user.core_member %}
                    <p>Törzstag vagy.</p>
                {% endif %}
            {% else %}
                {% if myfav %}
                    <form action="{% url 'unfollow' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="whom" value="{{ selected_user.id }}" />
                        <p>
                            Kedvencnek jelölted.
                            <input type="submit" value="Törlés a kedvencek közül" class="small_button" />
                        </p>
                    </form>
                {% else %}
                    <form action="{% url 'follow' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="whom" value="{{ selected_user.id }}" />
                        <p>
                            Érdekel {{ selected_user.username }}? Jelöld kedvencnek, hogy követni tudd a szavazatait és kommentjeit:
                            <input type="submit" value="Hozzáadás a kedvencekhez" class="small_button" />
                        </p>
                    </form>
                {% endif %}
            {% endif %}
        {% endif %}

        {% if user.is_authenticated %}
            {% if selected_user.id == user.id %}
                <p><a href="{% url 'edit_profile' %}">Profil szerkesztése</a></p>
                {% if user.validated_email %}
                    <p><a href="{% url 'change_password' %}">Jelszó módosítása</a></p>
                {% endif %}
            {% endif %}
        {% endif %}

    </div>
    <div class="col-sm-6">

        <h2 style="margin-top: 0">Legutóbbi szavazat{% if selected_user.id == user.id %}aid{% else %}ok{% endif %}</h2>
        <table class="fullsize">
            <tr class="header_tr">
                <th>Film</th>
                <th>Szavazat</th>
                <th>Mikor</th>
                <th>Átlag</th>
            </tr>
            {% for vote in latest_votes %}
                <tr class="{% cycle '' 'odd' %}">
                    <td>{{ vote.film|film_url_html }}</td>
                    <td class="center">{{ vote.rating }}</td>
                    <td class="center">{{ vote.when|date:"Y-m-d" }}</td>
                    <td class="center">{{ vote.film|film_rating_html }}</td>
                </tr>
            {% endfor %}
        </table>
        <p><a href="{% url 'user_films' selected_user.id selected_user.slug_cache %}">Összes szavazat...</a></p>

        <h2>Legutóbbi komment{% if selected_user.id == user.id %}jeid{% else %}ek{% endif %}</h2>
        {% if latest_comments %}
            {% for c in latest_comments %}
                {% include 'ktapp/blocks/comment_block.html' with comment=c show_comment_source=True %}
            {% endfor %}
        {% endif %}
        <p><a href="{% url 'user_comments' selected_user.id selected_user.slug_cache %}">Összes komment...</a></p>

    </div>
</div>

{% endblock %}
