{% extends "ktapp/user_profile_subpages/user_profile_base.html" %}
{% load kt_extras %}

{% block user_profile_main %}

<div class="row">
    <div class="col-sm-6">

        <h2>Alapadatok</h2>
        <ul>
            <li><b>Regisztráció:</b>
                {{ selected_user.date_joined }}
            </li>
            <li><b>Utolsó aktivitás:</b>
                {{ selected_user.last_activity_at }}
            </li>
            <li><b>Törzstag?</b>
                {% if selected_user.core_member %}Igen{% else %}Nem{% endif %}
            </li>
            <li><b>Email:</b>
                {{ selected_user.email }}
            </li>
            <li><b>IP cím regisztrációnál:</b>
                {{ selected_user.ip_at_registration }}
            </li>
            <li><b>IP cím az utolsó bejelentkezésnél:</b>
                {{ selected_user.ip_at_last_login }}
            </li>
        </ul>

        <h2>Korábbi kitiltások</h2>
        <ul>
        {% for ban in list_of_bans %}
            <li>{{ ban.0|date:"Y-m-d H:i" }} {{ ban.1 }} [<a href="{% url 'user_profile' ban.2.id ban.2.slug_cache %}">{{ ban.2.username }}</a>]</li>
        {% endfor %}
        </ul>

        {% if selected_user.id != user.id %}
            <h2>Kitiltás</h2>
            {% if selected_user.is_active %}
                <form action="{% url 'ban_user' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="target_user_id" value="{{ selected_user.id }}" />
                    <input type="hidden" name="action" value="warning" />
                    <p><input type="submit" value="Figyelmeztetés" class="small_button confirm_required" /></p>
                </form>
                <form action="{% url 'ban_user' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="target_user_id" value="{{ selected_user.id }}" />
                    <input type="hidden" name="action" value="temp_ban_1d" />
                    <p><input type="submit" value="Ideiglenes kitiltás 1 napig" class="small_button confirm_required" /></p>
                </form>
                <form action="{% url 'ban_user' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="target_user_id" value="{{ selected_user.id }}" />
                    <input type="hidden" name="action" value="temp_ban_3d" />
                    <p><input type="submit" value="Ideiglenes kitiltás 3 napig" class="small_button confirm_required" /></p>
                </form>
                <form action="{% url 'ban_user' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="target_user_id" value="{{ selected_user.id }}" />
                    <input type="hidden" name="action" value="temp_ban_7d" />
                    <p><input type="submit" value="Ideiglenes kitiltás 7 napig" class="small_button confirm_required" /></p>
                </form>
            {% endif %}
            {% if not selected_user.is_active and selected_user.reason_of_inactivity == 'T' %}
                <form action="{% url 'ban_user' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="target_user_id" value="{{ selected_user.id }}" />
                    <input type="hidden" name="action" value="temp_ban_1d" />
                    <p><input type="submit" value="Ideiglenes kitiltás meghosszabbítása 1 nappal" class="small_button confirm_required" /></p>
                </form>
                <form action="{% url 'ban_user' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="target_user_id" value="{{ selected_user.id }}" />
                    <input type="hidden" name="action" value="temp_ban_3d" />
                    <p><input type="submit" value="Ideiglenes kitiltás meghosszabbítása 3 nappal" class="small_button confirm_required" /></p>
                </form>
                <form action="{% url 'ban_user' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="target_user_id" value="{{ selected_user.id }}" />
                    <input type="hidden" name="action" value="temp_ban_7d" />
                    <p><input type="submit" value="Ideiglenes kitiltás meghosszabbítása 7 nappal" class="small_button confirm_required" /></p>
                </form>
            {% endif %}
            {% if selected_user.is_active or not selected_user.is_active and selected_user.reason_of_inactivity == 'T' %}
                <form action="{% url 'ban_user' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="target_user_id" value="{{ selected_user.id }}" />
                    <input type="hidden" name="action" value="ban" />
                    <p><input type="submit" value="Végleges kitiltás" class="small_button confirm_required" /></p>
                </form>
            {% endif %}
            {% if not selected_user.is_active %}
                {% if selected_user.reason_of_inactivity == 'B' or selected_user.reason_of_inactivity == 'T' %}
                    <form action="{% url 'ban_user' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="target_user_id" value="{{ selected_user.id }}" />
                        <input type="hidden" name="action" value="unban" />
                        <p><input type="submit" value="Kitiltás megszüntetése" class="small_button confirm_required" /></p>
                    </form>
                {% endif %}
            {% endif %}
        {% endif %}

    </div>
    <div class="col-sm-6">

        <h2>Legutóbbi OFF kommentek</h2>
        {% for c in latest_off_comments %}
            {% include 'ktapp/blocks/comment_block.html' with comment=c show_comment_source=True %}
        {% endfor %}

    </div>
</div>

{% endblock %}
