{% extends "ktapp/user_profile_subpages/user_profile_base.html" %}
{% load kt_extras %}

{% block user_profile_main %}

    <div class="left_content">

        <p>
            Tapasztalat{% if selected_user.id == user.id %}od{% endif %}: {{ number_of_votes }} film
            <br />
            Kompetenci{% if selected_user.id == user.id %}ád{% else %}a{% endif %}: {{ number_of_vapiti_votes }} film
            <br />
            Súly{% if selected_user.id == user.id %}od{% endif %}: {{ vapiti_weight }}
        </p>
        {% if selected_user.id == user.id %}
            <p>
                Nemed:
                {% if selected_user.gender == 'M' %}
                    férfi
                {% elif selected_user.gender == 'F' %}
                    nő
                {% else %}
                    <i>nem adtad meg</i>
                {% endif %}
                <br />
                Születési éved:
                {% if selected_user.year_of_birth %}
                    {{ selected_user.year_of_birth }}
                {% else %}
                    <i>nem adtad meg</i>
                {% endif %}
                <br />
                Lakhelyed:
                {% if selected_user.location %}
                    {{ selected_user.location }}
                {% else %}
                    <i>nem adtad meg</i>
                {% endif %}
                <br />
                Regisztrációd: {{ selected_user.date_joined|date:"Y. F j." }} ({{ selected_user.date_joined|timesince }})
            </p>
        {% else %}
            <p>
                Nem: {% if selected_user.public_gender %}
                    {% if selected_user.gender == 'M' %}
                        férfi
                    {% elif selected_user.gender == 'F' %}
                        nő
                    {% else %}
                        <i>?</i>
                    {% endif %}
                {% else %}<i>nem publikus</i>{% endif %}<br />
                Születési év: {% if selected_user.public_year_of_birth %}
                    {% if selected_user.year_of_birth %}
                        {{ selected_user.year_of_birth }}
                    {% else %}
                        <i>?</i>
                    {% endif %}
                {% else %}<i>nem publikus</i>{% endif %}<br />
                Lakhely: {% if selected_user.public_location %}
                    {% if selected_user.location %}
                        {{ selected_user.location }}
                    {% else %}
                        <i>?</i>
                    {% endif %}
                {% else %}<i>nem publikus</i>{% endif %}<br />
                Regisztráció: {{ selected_user.date_joined|date:"Y. F j." }} ({{ selected_user.date_joined|timesince }})
            </p>
        {% endif %}

        {% if user.is_authenticated and selected_user.id != user.id %}
            {% if myfav %}
                <form action="{% url 'unfollow' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="whom" value="{{ selected_user.id }}" />
                    <p>
                        Kedvencnek jelölted.
                        <input type="submit" value="Törlés a kedvencek közül" class="small_button" />
                    </p>
                </form>
            {% else %}
                <form action="{% url 'follow' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="whom" value="{{ selected_user.id }}" />
                    <p>
                        Érdekel {{ selected_user.username }}? Jelöld kedvencnek, hogy követni tudd a szavazatait és kommentjeit:
                        <input type="submit" value="Hozzáadás a kedvencekhez" class="small_button" />
                    </p>
                </form>
            {% endif %}
        {% endif %}

        {% if selected_user.id == user.id and user.validated_email %}
            <p><a href="{% url 'change_password' %}">Jelszó módosítása</a></p>
            <div class="mobilemenu">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.build_absolute_uri }}" />
                    <p><input type="submit" value="Kijelentkezés" class="small_button" /></p>
                </form>
            </div>
        {% endif %}

    </div>
    <div class="right_content">

        <h2 style="margin-top: 0">Legutóbbi szavazat{% if selected_user.id == user.id %}aid{% else %}ok{% endif %}</h2>
        <table class="fullsize">
            <tr class="header_tr">
                <th>Film</th>
                <th>Szavazat</th>
                <th>Mikor</th>
                <th>Átlag</th>
            </tr>
            {% for vote in latest_votes %}
                <tr class="{% cycle '' 'odd' %}">
                    <td>{{ vote.film|film_url_html }}</td>
                    <td class="center">{{ vote.rating }}</td>
                    <td class="center">{{ vote.when|date:"Y-m-d" }}</td>
                    <td class="center">{{ vote.film|film_rating_html }}</td>
                </tr>
            {% endfor %}
        </table>
        <p><a href="{% url 'user_films' selected_user.id selected_user.slug_cache %}">Összes szavazat...</a></p>

        <h2>Legutóbbi komment{% if selected_user.id == user.id %}jeid{% else %}ek{% endif %}</h2>
        {% if latest_comments %}
            {% for c in latest_comments %}
                {% include 'ktapp/blocks/comment_block.html' with comment=c show_comment_source=True %}
            {% endfor %}
        {% endif %}
        <p><a href="{% url 'user_comments' selected_user.id selected_user.slug_cache %}">Összes komment...</a></p>

    </div>
    <br class="clear" />

{% endblock %}
