{% extends "ktapp/layout.html" %}
{% load staticfiles %}

{% block title %}{{ selected_user.username }} - Kritikus Tömeg{% endblock %}

{% block header %}
    <h1>{{ selected_user.username }}</h1>
    {% if not selected_user.is_active %}
        <p style="margin-top: -15px">
            {% if selected_user.reason_of_inactivity == 'B' %}
                (kitiltva)
            {% elif selected_user.reason_of_inactivity == 'T' %}
                (kitiltva {{ selected_user.banned_until }}-ig)
            {% elif selected_user.reason_of_inactivity == 'Q' %}
                (kilépett)
            {% else %}
                (inaktív)
            {% endif %}
        </p>
    {% endif %}
{% endblock %}

{% block main %}

    <nav id="tabs" class="clearfix">
        <ul>
            <li style="width: {{ tab_width }}%"{% if active_tab == 'profile' %} class="active_tab"{% endif %}><a href="{% url 'user_profile' selected_user.id selected_user.slug_cache %}">profil</a></li>
            <li style="width: {{ tab_width }}%"{% if active_tab == 'taste' %} class="active_tab"{% endif %}><a href="{% url 'user_taste' selected_user.id selected_user.slug_cache 'rendezok' %}">ízlés</a></li>
            <li style="width: {{ tab_width }}%"{% if active_tab == 'films' %} class="active_tab"{% endif %}><a href="{% url 'user_films' selected_user.id selected_user.slug_cache %}"{% if not number_of_votes %} class="inactive_action"{% endif %}>filmek</a>{% if number_of_votes %}<span class="tab_count"> ({{ number_of_votes }})</span>{% endif %}</li>
            <li style="width: {{ tab_width }}%"{% if active_tab == 'comments' %} class="active_tab"{% endif %}><a href="{% url 'user_comments' selected_user.id selected_user.slug_cache %}"{% if not number_of_comments %} class="inactive_action"{% endif %}>kommentek</a>{% if number_of_comments %}<span class="tab_count"> ({{ number_of_comments }})</span>{% endif %}</li>
            <li style="width: {{ tab_width }}%"{% if active_tab == 'wishlist' %} class="active_tab"{% endif %}><a href="{% url 'user_wishlist' selected_user.id selected_user.slug_cache %}"{% if not number_of_wishes %} class="inactive_action"{% endif %}>kívánságok</a>{% if number_of_wishes %}<span class="tab_count"> ({{ number_of_wishes }})</span>{% endif %}</li>
            <li style="width: {{ tab_width }}%"{% if active_tab == 'toplists' %} class="active_tab"{% endif %}><a href="{% url 'user_toplists' selected_user.id selected_user.slug_cache %}"{% if not number_of_toplists %} class="inactive_action"{% endif %}>toplisták</a>{% if number_of_toplists %}<span class="tab_count"> ({{ number_of_toplists }})</span>{% endif %}</li>
            <li style="width: {{ tab_width }}%"{% if active_tab == 'articles' %} class="active_tab"{% endif %}><a href="{% url 'user_articles' selected_user.id selected_user.slug_cache %}"{% if not number_of_articles %} class="inactive_action"{% endif %}>írások</a>{% if number_of_articles %}<span class="tab_count"> ({{ number_of_articles }})</span>{% endif %}</li>
            <li style="width: {{ tab_width }}%"{% if active_tab == 'activity' %} class="active_tab"{% endif %}><a href="{% url 'user_activity' selected_user.id selected_user.slug_cache %}">aktivitás</a></li>
        {% if request.user.is_authenticated and request.user.id != selected_user.id %}
            <li style="width: {{ tab_width }}%"{% if active_tab == 'messages' %} class="active_tab"{% endif %}><a href="{% url 'user_messages' selected_user.id selected_user.slug_cache %}"{% if not number_of_messages %} class="inactive_action"{% endif %}>üzenetek</a>{% if number_of_messages %}<span class="tab_count"> ({{ number_of_messages }})</span>{% endif %}</li>
        {% endif %}
        </ul>
    </nav>

    <div id="user_profile_main">
        {% block user_profile_main %}{% endblock %}
    </div>

{% endblock %}
