{% extends "ktapp/user_profile_subpages/user_profile_base.html" %}
{% load kt_extras %}

{% block user_profile_main %}

        {% if number_of_wishes == 0 %}
            <p>Nincsenek kívánságai{% if selected_user.id == user.id %}d{% endif %}.</p>
        {% else %}
            {% if wishlist_type == 'Y' %}
                <h2>Amiket meg akar{% if selected_user.id == user.id %}sz{% endif %} nézni<span class="small_heading_2"> ({{ number_of_wishes_yes }} film)</span></h2>
            {% elif wishlist_type == 'G' %}
                <h2>Amiket meg akar{% if selected_user.id == user.id %}sz{% endif %} szerezni<span class="small_heading_2"> ({{ number_of_wishes_get }} film)</span></h2>
            {% else %}
                <h2>Amiket nem akar{% if selected_user.id == user.id %}sz{% endif %} megnézni<span class="small_heading_2"> ({{ number_of_wishes_no }} film)</span></h2>
            {% endif %}
        {% endif %}

        <form action="{% url 'user_wishlist' selected_user.id selected_user.slug_cache %}" method="get">
            <input type="hidden" name="o" value="{{ ordering_str }}" />
            {% if querystring.t %}<input type="hidden" name="t" value="{{ querystring.t }}" />{% endif %}
            <table>
                <tr class="header_tr">
                    <th>
                        Színész<br />
                        <input type="text" class="full_input input_for_artists" name="actor" value="{{ querystring.actor }}" />
                    </th>
                    <th>
                        Ország<br />
                        <input type="text" class="full_input input_for_keywords" name="country" id="id_countries" value="{{ querystring.country }}" />
                    </th>
                    <th>
                        Kulcsszó<br />
                        <input type="text" class="full_input input_for_keywords" name="keyword" id="id_keywords" value="{{ querystring.keyword }}" />
                    </th>
                    <td>
                        <input type="submit" value="Filmek szűrése" />
                        {{ result_count }} film
                    </td>
                </tr>
            </table>
            <table class="fullsize sortable">
                <thead>
                    <tr class="header_tr">
                        <th data-sort="string">
                            Film<span class="arrow_holder"></span><br />
                            <input type="text" class="full_input" name="title" value="{{ querystring.title }}" />
                        </th>
                        <th data-sort="int" data-sort-default="desc">
                            Év<span class="arrow_holder"></span><br />
                            <input type="text" class="full_input" name="year" value="{{ querystring.year }}" />
                        </th>
                        <th data-sort="string">
                            Rendező<span class="arrow_holder"></span><br />
                            <input type="text" class="full_input input_for_artists" name="director" value="{{ querystring.director }}" />
                        </th>
                        <th data-sort="string">
                            Műfaj<span class="arrow_holder"></span><br />
                            <input type="text" class="full_input input_for_keywords" name="genre" id="id_genres" value="{{ querystring.genre }}" />
                        </th>
                        <th class="nowrap" data-sort="int" data-sort-default="desc">
                            Nézettség<span class="arrow_holder"></span><br />
                            <input type="text" class="small_input" name="num_rating_min" value="{{ querystring.num_rating_min }}" />-<input type="text" class="small_input" name="num_rating_max" value="{{ querystring.num_rating_max }}" />
                        </th>
                        <th class="nowrap" data-sort="float" data-sort-default="desc">
                            Átlag<span class="arrow_holder"></span><br />
                            <input type="text" class="small_input" name="avg_rating_min" value="{{ querystring.avg_rating_min }}" />-<input type="text" class="small_input" name="avg_rating_max" value="{{ querystring.avg_rating_max }}" />
                        </th>
                        {% if request.user.is_authenticated %}
                            <th class="nowrap" data-sort="int" data-sort-default="desc">
                                Kedvenceid<span class="arrow_holder"></span><br />
                                <input type="text" class="small_input" name="fav_avg_rating_min" value="{{ querystring.fav_avg_rating_min }}" />-<input type="text" class="small_input" name="fav_avg_rating_max" value="{{ querystring.fav_avg_rating_max }}" />
                            </th>
                            <th data-sort="int" data-sort-default="desc">
                                Szerinted<span class="arrow_holder"></span><br />
                                <input type="text" class="full_input" name="my_rating" value="{{ querystring.my_rating }}" />
                            </th>
                            {% if selected_user.id != user.id %}
                                <th data-sort="int" data-sort-default="desc">
                                    &#9733;<span class="arrow_holder"></span><br />
                                    <select name="my_wish">
                                        <option value="">-</option>
                                        <option value="1"{% if querystring.my_wish == '1' %} selected="selected"{% endif %}>&#9733;</option>
                                        <option value="0"{% if querystring.my_wish == '0' %} selected="selected"{% endif %}>&#9734;</option>
                                    </select>
                                </th>
                            {% endif %}
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for film in films %}
                    <tr class="{% cycle '' 'odd' %}">
                        <td>{{ film|film_url_html }}</td>
                        <td class="center">{% if film.year %}{{ film.year }}{% endif %}</td>
                        <td>{{ film|film_directors }}</td>
                        <td>{{ film|film_genres }}</td>
                        <td class="center" data-sort-value="{{ film.number_of_ratings }}">{{ film|film_num_rating_html }}</td>
                        <td class="center" data-sort-value="{{ film|film_rating_sort_value }}">{{ film|film_avg_rating_html }}</td>
                        {% if request.user.is_authenticated %}
                            <td class="center" data-sort-value="{{ film|film_fav_rating_sort_value }}">{{ film|film_fav_rating_html }}</td>
                            <td class="center" data-sort-value="{% if film.my_rating %}{{ film.my_rating }}{% else %}0{% endif %}">{% if film.my_rating %}{{ film.my_rating }}{% endif %}</td>
                            {% if selected_user.id != user.id %}
                                <td class="center wish{% if film.my_wish == 1 %}_active{% endif %}" data-sort-value="{% if film.my_wish %}{{ film.my_wish }}{% else %}0{% endif %}"><span data-id="{{ film.id }}">{% if film.my_wish == 1 %}&#9733;{% else %}&#9734;{% endif %}</span></td>
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>

        <p><br /></p>

        {% if wishlist_type == 'Y' %}
            {% if number_of_wishes_get %}
                <h3><a href="{% url 'user_wishlist' selected_user.id selected_user.slug_cache %}?t=szerez">Amiket meg akar{% if selected_user.id == user.id %}sz{% endif %} szerezni</a><span class="small_heading_3"> ({{ number_of_wishes_get }} film)</span></h3>
            {% endif %}
            {% if number_of_wishes_no %}
                <h3><a href="{% url 'user_wishlist' selected_user.id selected_user.slug_cache %}?t=nem">Amiket nem akar{% if selected_user.id == user.id %}sz{% endif %} megnézni</a><span class="small_heading_3"> ({{ number_of_wishes_no }} film)</span></h3>
            {% endif %}
        {% elif wishlist_type == 'G' %}
            {% if number_of_wishes_yes %}
                <h3><a href="{% url 'user_wishlist' selected_user.id selected_user.slug_cache %}">Amiket meg akar{% if selected_user.id == user.id %}sz{% endif %} nézni</a><span class="small_heading_3"> ({{ number_of_wishes_yes }} film)</span></h3>
            {% endif %}
            {% if number_of_wishes_no %}
                <h3><a href="{% url 'user_wishlist' selected_user.id selected_user.slug_cache %}?t=nem">Amiket nem akar{% if selected_user.id == user.id %}sz{% endif %} megnézni</a><span class="small_heading_3"> ({{ number_of_wishes_no }} film)</span></h3>
            {% endif %}
        {% else %}
            {% if number_of_wishes_yes %}
                <h3><a href="{% url 'user_wishlist' selected_user.id selected_user.slug_cache %}">Amiket meg akar{% if selected_user.id == user.id %}sz{% endif %} nézni</a><span class="small_heading_3"> ({{ number_of_wishes_yes }} film)</span></h3>
            {% endif %}
            {% if number_of_wishes_get %}
                <h3><a href="{% url 'user_wishlist' selected_user.id selected_user.slug_cache %}?t=szerez">Amiket meg akar{% if selected_user.id == user.id %}sz{% endif %} szerezni</a><span class="small_heading_3"> ({{ number_of_wishes_get }} film)</span></h3>
            {% endif %}
        {% endif %}

{% endblock %}
