{% extends "ktapp/film_subpages/film_base.html" %}

{% block film_main %}

    <div id="film_centered">
        {% include 'ktapp/blocks/new_review_block.html' %}
        {% for r in reviews %}
            <div class="film_addon">
                <div class="film_addon_content">
                    <p>{{ r.content|truncatechars:400|linebreaksbr }}</p>
                    <p><a href="{% url 'film_review' film.id film.film_slug r.id %}">Tovább...</a></p>
                </div>
                <div class="film_addon_author">
                    <p>{{ r.created_at|date:"Y-m-d" }} <a href="{% url 'user_profile' r.created_by.id r.created_by.username|slugify %}">{{ r.created_by }}</a></p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
