{% extends "ktapp/layout.html" %}
{% load kt_extras %}
{% load staticfiles %}

{% block title %}{{ film.orig_title }}{% if film.second_title %} / {{ film.second_title }}{% endif %} ({{ film.year }}) - Kritikus Tömeg{% endblock %}

{% block meta_description %}{% if countries or genres %}{% for country in countries %}{% if forloop.first %}{{ country.name|title }}{% else %}{{ country.name }}{% endif %}{% if not forloop.last %}-{% endif %}{% endfor %} {% if genres %}{{ film|film_genres:"all" }}{% else %}film{% endif %}{% endif %}, {% if film_directors %}rendezte: {% for director in film_directors|slice:":3" %}{{ director.name }}{% if not forloop.last %} - {% endif %}{% endfor %}{% endif %}{% if film.average_rating %}, átlaga: {{ film.average_rating }}{% endif %}. {{ film.plot_summary|strip_whitespace }}{% endblock %}

{% block other_meta %}
    <meta property="og:type" content="video.movie" />
    <meta property="og:url" content="{{ film.absolute_url }}" />
    <meta property="og:image" content="{{ film.main_poster.get_display_urls.max }}" />
    <meta property="og:title" content="{{ film.orig_title }}{% if film.second_title %} / {{ film.second_title }}{% endif %} ({{ film.year }})" />
    <meta property="og:description" content="{% if countries or genres %}{% for country in countries %}{% if forloop.first %}{{ country.name|title }}{% else %}{{ country.name }}{% endif %}{% if not forloop.last %}-{% endif %}{% endfor %} {% if genres %}{{ film|film_genres:"all" }}{% else %}film{% endif %}{% endif %}, {% if film_directors %}rendezte: {% for director in film_directors|slice:":3" %}{{ director.name }}{% if not forloop.last %} - {% endif %}{% endfor %}{% endif %}{% if film.average_rating %}, átlaga: {{ film.average_rating }}{% endif %}. {{ film.plot_summary|strip_whitespace }}" />
    <meta property="fb:caption" content="{% if countries or genres %}{% for country in countries %}{{ country.name }}{% if not forloop.last %}-{% endif %}{% endfor %} {% if genres %}{{ film|film_genres:"all" }}{% else %}film{% endif %}{% endif %}" />
    <meta property="fb:description" content="{{ film.plot_summary|strip_whitespace }}" />
{% endblock %}

{% block jsonld %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Movie",
  "image": "{{ film.main_poster.get_display_urls.max }}",
  "thumbnailUrl": "{{ film.main_poster.get_display_urls.mid }}",
  "name": "{{ film.orig_title }}{% if film.year %} ({{ film.year }}){% endif %}",
  {% if film.second_title %}
  "alternativeHeadline": "{{ film.second_title }}",
  {% endif %}
  "aggregateRating": {
    "@type": "AggregateRating",
    {% if film.average_rating %}
    "ratingValue": "{{ film|film_avg_rating_english }}",
    {% endif %}
    "ratingCount": "{{ film.number_of_ratings }}"
  },
  "description": "{{ film.plot_summary|strip_whitespace }}",
  {% if film_directors %}
  "director": [
    {% for director in film_directors %}
    {
      "@type": "Person",
      "name": "{{ director.name }}",
      "url": "http://kritikustomeg.org{% url 'artist' director.id director.slug_cache %}"
    }{% if not forloop.last %},{% endif %}
    {% endfor %}
  ],
  {% endif %}
  {% if countries %}
  "countryOfOrigin": [
    {% for country in countries %}
    {
      "@type": "Country",
      "name": "{{ country.name }}"
    }{% if not forloop.last %},{% endif %}
    {% endfor %}
  ],
  {% endif %}
  {{ film|film_genres_jsonld }}
  {% if major_keywords or other_keywords %}
  "keywords": [
    {% for keyword, spoiler in major_keywords %}
    "{{ keyword.name }}"{% if not forloop.last or other_keywords %}, {% endif %}
    {% endfor %}
    {% for keyword, spoiler in other_keywords %}
    "{{ keyword.name }}"{% if not forloop.last %}, {% endif %}
    {% endfor %}
  ],
  {% endif %}
  {% if roles %}
  "actor": [
    {% for role in roles %}
    {
      "@type": "Person",
      "name": "{{ role.artist.name }}",
      "url": "http://kritikustomeg.org{% url 'artist' role.artist.id role.artist.slug_cache %}"
    }{% if not forloop.last %},{% endif %}
    {% endfor %}
  ],
  {% endif %}
  {% if film.main_premier %}
    "datePublished": "{{ film.main_premier|date:"Y-m-d" }}",
  {% endif %}
  "url": "{{ film.absolute_url }}"
}
</script>
{% endblock %}

{% block header %}
    <div id="film_header" class="hover_show_button_context">
        <div id="film_title">
            <h1>{{ film.orig_title }}{% if film.year %} <span class="film_year">({% if film.main_premier_year == vapiti_year %}<a href="{% url 'vapiti_gold' %}" class="vapiti">{{ film.year }}</a>{% else %}{{ film.year }}{% endif %})</span>{% endif %}</h1>
            {% if film.second_title %}
                <h2>
                    {{ film.second_title }}
                    {% if film.third_title %}
                        <br />
                        {{ film.third_title }}
                    {% endif %}
                </h2>
            {% endif %}
            {% if film_directors %}
                <h3>({% for director in film_directors %}<a href="{% url 'artist' director.id director.slug_cache %}">{{ director.name }}</a>{% if not forloop.last %} - {% endif %}{% endfor %})</h3>
            {% endif %}
            {% if countries or genres %}
                <p>
                    {% for country in countries %}{{ country.name }}{% if not forloop.last %}-{% endif %}{% endfor %}
                    {% if genres %}
                        {{ film|film_genres:"all" }}
                    {% else %}
                        film
                    {% endif %}
                </p>
            {% endif %}
        </div>

        <div id="film_rating">
            <div id="film_rating_average">
                {% if film.average_rating %}
                    {{ film.average_rating|floatformat:1 }}
                {% else %}
                    ?,?
                {% endif %}
            </div>
            <div id="film_rating_stars">
                <div>
                    {% spaceless %}
                    {% if film.average_rating %}
                        {% for r in ratings %}
                            {% if r <= film_avg_rating_int %}
                                <img class="icon" src="{% static 'ktapp/images/kt-icon-50-star-text-48.png' %}" alt="&#x2605;" />
                            {% elif r == film_avg_rating_int|add:1 %}
                                {% if film_avg_rating_frac <= 2 %}
                                    <img class="icon" src="{% static 'ktapp/images/kt-icon-49-star-empty-text-48.png' %}" alt="&#x2606;" />
                                {% elif film_avg_rating_frac >= 3 and film_avg_rating_frac <= 7 %}
                                    <img class="icon" src="{% static 'ktapp/images/kt-icon-x-star-0.5-text-48.png' %}" alt="&#x2606;" />
                                {% elif film_avg_rating_frac >= 8 %}
                                    <img class="icon" src="{% static 'ktapp/images/kt-icon-50-star-text-48.png' %}" alt="&#x2605;" />
                                {% endif %}
                            {% else %}
                                <img class="icon" src="{% static 'ktapp/images/kt-icon-49-star-empty-text-48.png' %}" alt="&#x2606;" />
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        &nbsp;
                    {% endif %}
                    {% endspaceless %}
                </div>
                <div>
                    {{ film.number_of_ratings }}&nbsp;szavazat
                </div>
            </div>
            <div class="clearfix"></div>

            {% if film.is_open_for_vote_from %}

            <div id="film_rating_yours_label">
                Szerinted:
            </div>
            <div id="film_rating_yours_rating">
                {% if your_rating %}
                    <span class="action_text vote_star_menu_toggle">{{ your_rating }}</span>
                {% else %}
                    ?
                {% endif %}
            </div>
            <div id="film_rating_yours_stars">
                <div>
                    {% spaceless %}
                    {% for r in ratings %}
                        {% cycle 'nézhetetlen' 'rossz' 'oké/elmegy' 'jó' 'zseniális' as named_rating silent %}
                        {% if request.user.is_authenticated %}
                            {% if r <= your_rating %}
                                <img class="icon action_text vote_star" src="{% static 'ktapp/images/kt-icon-50-star-link-48.png' %}" alt="&#x2605;" title="{{ named_rating }}" data-rating="{{ r }}" data-film="{{ film.id }}" />
                            {% else %}
                                <img class="icon action_text vote_star" src="{% static 'ktapp/images/kt-icon-49-star-empty-link-48.png' %}" alt="&#x2606;" title="{{ named_rating }}" data-rating="{{ r }}" data-film="{{ film.id }}" />
                            {% endif %}
                        {% else %}
                            <a href="{% url 'login' %}?next={{ request.build_absolute_uri }}"><img class="icon action_text" src="{% static 'ktapp/images/kt-icon-49-star-empty-link-48.png' %}" alt="&#x2606;" title="{{ named_rating }}" /></a>
                        {% endif %}
                    {% endfor %}
                    {% endspaceless %}
                    {% if request.user.is_authenticated %}
                        {% if not your_rating %}
                            <span id="share_on_facebook_button" class="facebook_button facebook_button_{% if user.facebook_rating_share %}yes{% else %}no{% endif %}" title="Meg szeretnéd osztani Facebook-on?"></span>
                        {% endif %}
                    {% endif %}
                    <span class="vote_star_loader"><img src="{% static 'ktapp/images/ajax-loader.gif' %}" alt="" /></span>
                </div>
                {% if request.user.is_authenticated %}
                    <div id="film_rating_your_date">
                        {% if your_rating_date %}
                            {{ your_rating_date|date:"Y-m-d" }}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="clearfix"></div>
            {% if your_rating %}
            <div class="vote_star_menu">
                <div>
                    <span class="button small_button vote_star" data-rating="0" data-film="{{ film.id }}">szavazat törlése</span>
                </div>
                <div>
                    <span class="button small_button vote_star" data-rating="-1" data-film="{{ film.id }}">más dátum:</span>
                    <input type="text" class="vote_box_input" id="vote_redate_to" value="{% if your_rating_date %}{{ your_rating_date|date:"Y-m-d" }}{% else %}{% now 'Y-m-d' %}{% endif %}" />
                </div>
            </div>
            {% endif %}

            {% else %}
                <div id="film_rating_not_yet">
                    Erre a filmre még nem lehet szavazni.
                </div>
            {% endif %}

        </div>
        <div id="film_misc_info">
            <ul>
                <li>
                    <span>{% if film_link_imdb %}<a href="{% if user.is_authenticated %}{% url 'link_click' %}?url={{ film_link_imdb|urlencode }}&t=im&f={{ film.id }}{% else %}{{ film_link_imdb }}{% endif %}" class="link_w_icon imdb_link" target="_blank">IMDb</a>{% if film.imdb_real_rating %} {{ film.imdb_real_rating|floatformat:1 }}{% endif %}{% endif %}</span>
                    <span>{% if film_link_porthu %}<a href="{% if user.is_authenticated %}{% url 'link_click' %}?url={{ film_link_porthu|urlencode }}&t=po&f={{ film.id }}{% else %}{{ film_link_porthu }}{% endif %}" class="link_w_icon porthu_link" target="_blank">PORT.hu</a>{% endif %}</span>
                </li>
                <li>
                    <span><a href="{% if user.is_authenticated %}{% url 'link_click' %}?url={{ film_link_rt|urlencode }}&t=rt&f={{ film.id }}{% else %}{{ film_link_rt }}{% endif %}" class="link_w_icon rt_link" target="_blank">RT</a></span>
                    <span><a href="{% if user.is_authenticated %}{% url 'link_click' %}?url={{ film_link_youtube|urlencode }}&t=yt&f={{ film.id }}{% else %}{{ film_link_youtube }}{% endif %}" class="link_w_icon youtube_link" target="_blank">YouTube</a></span>
                </li>
                <li>
                    <span><a href="{% if user.is_authenticated %}{% url 'link_click' %}?url={{ film_link_wiki_en|urlencode }}&t=we&f={{ film.id }}{% else %}{{ film_link_wiki_en }}{% endif %}" class="link_w_icon wikipedia_link" target="_blank">Wikipedia</a></span>
                    {% if film.wikipedia_link_hu %}
                        <span><a href="{% if user.is_authenticated %}{% url 'link_click' %}?url={{ film_link_wiki_hu|urlencode }}&t=wh&f={{ film.id }}{% else %}{{ film_link_wiki_hu }}{% endif %}" class="link_w_icon wikipedia_hu_link" target="_blank">Wikipédia</a></span>
                    {% endif %}
                </li>
            </ul>
            {% if permission_edit_film %}<span class="hover_show_button button small_button" id="show_film_edit_form">film szerkesztése</span>{% endif %}
        </div>
    </div>
    {% if permission_edit_film %}
        <div id="film_edit_form" style="display: none">
            <form action="{% url 'edit_film' %}" method="post" class="inline">
                {% csrf_token %}
                <input type="hidden" name="film_id" value="{{ film.pk }}" />
                <p>
                    <label for="id_film_orig_title">Eredeti cím:</label><br />
                    <input type="text" name="film_orig_title" id="id_film_orig_title" value="{{ film.orig_title }}" />
                </p>
                <p>
                    <label for="id_film_second_title">Magyar és további címek (ha magyar film, hagyd üresen):</label><br />
                    <input type="text" name="film_second_title" id="id_film_second_title" value="{{ film.second_title }}" />
                    <input type="text" name="film_third_title" id="id_film_third_title" value="{{ film.third_title }}" />
                </p>
                <p>
                    <label for="id_film_year">Gyártás éve (ÉÉÉÉ):</label><br />
                    <input type="text" name="film_year" id="id_film_year" value="{% if film.year %}{{ film.year }}{% endif %}" />
                </p>
                <p>
                    <label for="id_film_directors">Rendező(k) (vesszővel elválasztva):</label><br />
                    <input type="text" name="film_directors" id="id_film_directors" class="input_for_artists" value="{% for d in film_directors %}{{ d }}{% if not forloop.last %}, {% endif %}{% endfor %}" />
                </p>
                <p>
                    <label for="id_film_imdb_link">IMDb link (a film imdb-s oldalának teljes url-je):</label><br />
                    <input type="text" name="film_imdb_link" id="id_film_imdb_link" value="{{ film.imdb_link }}" />
                </p>
                <p>
                    <label for="id_film_porthu_link">port.hu link (a film port.hu-s oldalának teljes url-je, kivéve, ha a tv-műsorból jutottál oda):</label><br />
                    <input type="text" name="film_porthu_link" id="id_film_porthu_link" value="{% if film.porthu_link %}{{ film.porthu_link }}{% endif %}" />
                </p>
                <p>
                    <label for="id_film_wikipedia_link_en">Wikipedia link (angol) (ha van):</label><br />
                    <input type="text" name="film_wikipedia_link_en" id="id_film_wikipedia_link_en" value="{{ film.wikipedia_link_en }}" />
                </p>
                <p>
                    <label for="id_film_wikipedia_link_hu">Wikipédia link (magyar) (ha van):</label><br />
                    <input type="text" name="film_wikipedia_link_hu" id="id_film_wikipedia_link_hu" value="{{ film.wikipedia_link_hu }}" />
                </p>
                <p>
                    <input type="submit" value="Film adatok mentése" />
                    <span class="button small_button" style="float: right" id="hide_film_edit_form">Mégsem</span>
                </p>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block main %}

    <nav id="tabs" class="clearfix">
        <ul>
            <li style="width: 10%"{% if active_tab == 'main' %} class="active_tab"{% endif %}><a href="{% url 'film_main' film.id film.slug_cache %}">főoldal</a></li>
            <li style="width: 10%"{% if active_tab == 'pictures' %} class="active_tab"{% endif %}><a href="{% url 'film_pictures' film.id film.slug_cache %}"{% if not film.number_of_pictures %} class="inactive_action"{% endif %}>képek</a>{% if film.number_of_pictures %}<span class="tab_count"> ({{ film.number_of_pictures }})</span>{% endif %}</li>
            <li style="width: 9%"{% if active_tab == 'awards' %} class="active_tab"{% endif %}><a href="{% url 'film_awards' film.id film.slug_cache %}"{% if not film.number_of_awards %} class="inactive_action"{% endif %}>díjak</a>{% if film.number_of_awards %}<span class="tab_count"> ({{ film.number_of_awards }})</span>{% endif %}</li>
            <li style="width: 12%"{% if active_tab == 'articles' %} class="active_tab"{% endif %}><a href="{% url 'film_articles' film.id film.slug_cache %}"{% if not film.number_of_articles %} class="inactive_action"{% endif %}>cikkek</a>{% if film.number_of_articles %}<span class="tab_count"> ({{ film.number_of_articles }})</span>{% endif %}</li>
            <li style="width: 16%"{% if active_tab == 'comments' %} class="active_tab"{% endif %}><a href="{% url 'film_comments' film.id film.slug_cache %}"{% if not film.number_of_comments %} class="inactive_action"{% endif %}>vélemények</a>{% if film.number_of_comments %}<span class="tab_count"> ({{ film.number_of_comments }})</span>{% endif %}</li>
            <li style="width: 12%"{% if active_tab == 'quotes' %} class="active_tab"{% endif %}><a href="{% url 'film_quotes' film.id film.slug_cache %}"{% if not film.number_of_quotes %} class="inactive_action"{% endif %}>idézetek</a>{% if film.number_of_quotes %}<span class="tab_count"> ({{ film.number_of_quotes }})</span>{% endif %}</li>
            <li style="width: 15%"{% if active_tab == 'trivias' %} class="active_tab"{% endif %}><a href="{% url 'film_trivias' film.id film.slug_cache %}"{% if not film.number_of_trivias %} class="inactive_action"{% endif %}>érdekességek</a>{% if film.number_of_trivias %}<span class="tab_count"> ({{ film.number_of_trivias }})</span>{% endif %}</li>
            <li style="width: 15%"{% if active_tab == 'keywords' %} class="active_tab"{% endif %}><a href="{% url 'film_keywords' film.id film.slug_cache %}"{% if not film.number_of_keywords %} class="inactive_action"{% endif %}>kulcsszavak</a>{% if film.number_of_keywords %}<span class="tab_count"> ({{ film.number_of_keywords }})</span>{% endif %}</li>
        </ul>
    </nav>

    <div id="film_main">
        {% block film_main %}{% endblock %}
    </div>

{% endblock %}
