{% extends "ktapp/film_subpages/film_base.html" %}
{% load kt_extras %}

{% block film_main %}

    <div class="clearfix">
        <div id="film_main_left">
            <div class="film_block">
                <a href="{% url 'film_main' film.id film.slug_cache %}" title="{{ film.orig_title }} [{{ film.year }}]"><img src="media/pix/tn200x1000/505/placeholder.jpg" class="picture film_block_picture" alt="{{ film.orig_title }} [{{ film.year }}]" /></a>
                {% if film.plot_summary %}
                    <p class="film_block_content">
                        {{ film.plot_summary }}
                    </p>
                {% endif %}
                <br class="clear" />
            </div>
            <div class="hover_show_button_context">
                <h3>Szereplők{% if user.is_authenticated %} <span class="hover_show_button button small_button" id="show_new_role_form">új szereplő felvétele</span>{% endif %}</h3>
                <table class="fullsize" id="table_of_roles">
                    {% for role in roles %}
                        <tr class="{% cycle 'odd' '' %}">
                            <td class="half_td"><a href="{% url 'role' role.id role.slug_cache %}">{{ role.role_name }}</a>{% if role.actor_subtype == 'V' %} (hangja){% endif %}{% if role.actor_subtype == 'D' %} (magyar hangja){% endif %}</td>
                            <td><a href="{% url 'artist' role.artist.id role.artist.slug_cache %}">{{ role.artist.name }}</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {% if user.is_authenticated %}
                <div id="new_role_form" style="display: none">
                    <h3>Új szereplő</h3>
                    <input type="hidden" id="new_role_film" value="{{ film.pk }}" />
                    <table class="fullsize">
                        <tr class="header_tr">
                            <td class="half_td">Szerep</td>
                            <td>Színész</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="new_role_name" class="full_input" /><br />
                                <select id="new_role_type">
                                    <option value="F">teljes valójában</option>
                                    <option value="V">csak a hangja</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" id="new_role_artist" class="full_input" /><br />
                                <select id="new_role_gender">
                                    <option value="U">neme:</option>
                                    <option value="M">férfi</option>
                                    <option value="F">nő</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="center">
                                <input type="submit" value="Új szereplő felvétele" class="small_button" id="submit_new_role" />
                            </td>
                        </tr>
                    </table>
                </div>
            {% endif %}
            {% if film.all_sequels %}
                {% for seq in film.all_sequels %}
                    <h3>{{ seq }}{% if seq.sequel_type == 'A' %} adaptációk{% endif %}{% if seq.sequel_type == 'R' %} remake-ek{% endif %}</h3>
                    <table class="fullsize">
                        <tr class="header_tr">
                            <th>Film</th>
                            <th>Év</th>
                            <th>Átlag</th>
                        </tr>
                        {% for f in seq.all_films %}
                            <tr class="{% cycle '' 'odd' %}{% if f == film %} selected_film_tr{% endif %}">
                                <td>{{ f|film_url_html }}</td>
                                <td class="center">{{ f.year }}</td>
                                <td class="center">{{ f|film_rating_html }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endfor %}
            {% endif %}
            {% if film.main_premier or film.main_premier_year %}
                <h3>Bemutató</h3>
                <p>
                    {% if film.main_premier %}
                        {{ film.main_premier|date:"Y. F j." }}
                    {% elif film.main_premier_year %}
                        {{ film.main_premier_year }}
                    {% endif %}
                </p>
            {% endif %}
            {% if film.other_premiers %}
                <h3>További bemutatók</h3>
                <p>
                    {% for p in film.other_premiers %}
                        {{ p.premier_type }}: {{ p.when|date:"Y. F j." }}{% if not forloop.last %}<br />{% endif %}
                    {% endfor %}
                </p>
            {% endif %}
        </div>
        <div id="film_main_right">
            <div id="film_main_voting_block">
                {% if user.is_authenticated %}
                    {% if rating %}
                        <h3>Szerinted milyen?
                            {% for r in ratings %}
                                {% cycle 'nézhetetlen' 'rossz' 'oké/elmegy' 'jó' 'zseniális' as named_rating silent %}
                                {% if r == rating %}
                                    {{ named_rating }}
                                {% endif %}
                            {% endfor %}
                            <span class="show_change_vote"> <span class="button small_button" id="show_change_vote_button">szavazat módosítása</span></span></h3>
                    {% else %}
                        <h3>Szerinted milyen?</h3>
                    {% endif %}
                    <div class="change_vote"{% if rating %} style="display: none"{% endif %}>
                        {% for r in ratings %}
                            {% cycle 'nézhetetlen' 'rossz' 'oké/elmegy' 'jó' 'zseniális' as named_rating silent %}
                            {% if r == rating %}
                                <span class="small_rating">{{ named_rating }}</span>
                            {% else %}
                                <form action="{% url 'vote' %}" method="post" class="inline">
                                    {% csrf_token %}
                                    <input type="hidden" name="film_id" value="{{ film.pk }}" />
                                    <input type="hidden" name="rating" value="{{ r }}" />
                                    <input type="submit" value="{{ named_rating }}"{% if rating %} class=""{% endif %} />
                                </form>
                            {% endif %}
                        {% endfor %}
                        {% if rating %}
                            <form action="{% url 'vote' %}" method="post" class="inline">
                                {% csrf_token %}
                                <input type="hidden" name="film_id" value="{{ film.pk }}" />
                                <input type="hidden" name="rating" value="0" />
                                <input type="submit" value="???" class="" />
                            </form>
                        {% endif %}
                    </div>
                {% else %}
                    <h3>Szerinted milyen?</h3>
                    <p>Ahhoz, hogy szavazhass, be kell <a href="{% url 'login' %}">jelentkezned</a>.</p>
                {% endif %}
            </div>
            <div id="film_main_ratings_block">
                <h3>Szavazatok<span class="show_rating_details"> <span class="button small_button" id="show_rating_details_button">összes szavazat megmutatása</span></span></h3>
                <ul class="mini_list">
                    {% for num_vote, vote in votes %}
                        {% cycle 'zseniális' 'jó' 'oké/elmegy' 'rossz' 'nézhetetlen' as named_rating silent %}
                        {% if vote %}
                            <li>{{ num_vote }} {{ named_rating }}{% if vote.0 %}:{% endif %}
                                {% for voteuser in vote.0 %}
                                    <a href="{% url 'user_profile' voteuser.user.id voteuser.user.slug_cache %}">{{ voteuser.user.username }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                                <span class="rating_details" style="display: none">
                                    <br />
                                    {% for voteuser in vote.1 %}
                                        <a href="{% url 'user_profile' voteuser.user.id voteuser.user.slug_cache %}">{{ voteuser.user.username }}</a>{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </span>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <h3>Kívánságok</h3>
            <ul class="mini_list">
                {% if wish_count.0 > 0 %}<li>{{ wish_count.0 }} ember meg akarja nézni</li>{% endif %}
                {% if wish_count.1 > 0 %}<li>{{ wish_count.1 }} ember kifejezetten nem akarja megnézni</li>{% endif %}
            </ul>
            <ul class="minimini_list">
                <form action="{% url 'wish' %}" method="post" class="inline">
                    {% csrf_token %}
                    <input type="hidden" name="film_id" value="{{ film.pk }}" />
                    <input type="hidden" name="wish_type" value="Y" />
                    {% if my_wishes.Y %}
                        <input type="hidden" name="action" value="-" />
                        <li class="hover_show_button_context">Meg akarod nézni. <input type="submit" value="Mégsem" class="small_button hover_show_button" /></li>
                    {% else %}
                        <input type="hidden" name="action" value="+" />
                        <li>Meg akarod nézni? <input type="submit" value="Igen" class="small_button" /></li>
                    {% endif %}
                </form>
                <form action="{% url 'wish' %}" method="post" class="inline">
                    {% csrf_token %}
                    <input type="hidden" name="film_id" value="{{ film.pk }}" />
                    <input type="hidden" name="wish_type" value="N" />
                    {% if my_wishes.N %}
                        <input type="hidden" name="action" value="-" />
                        <li class="hover_show_button_context">Nem akarod megnézni. <input type="submit" value="Mégis" class="small_button hover_show_button" /></li>
                    {% else %}
                        <input type="hidden" name="action" value="+" />
                        <li>Nem akarod megnézni? <input type="submit" value="Nem" class="small_button" /></li>
                    {% endif %}
                </form>
                <form action="{% url 'wish' %}" method="post" class="inline">
                    {% csrf_token %}
                    <input type="hidden" name="film_id" value="{{ film.pk }}" />
                    <input type="hidden" name="wish_type" value="G" />
                    {% if my_wishes.G %}
                        <input type="hidden" name="action" value="-" />
                        <li class="hover_show_button_context">Meg akarod szerezni. <input type="submit" value="Mégsem" class="small_button hover_show_button" /></li>
                    {% else %}
                        <input type="hidden" name="action" value="+" />
                        <li>Meg akarod szerezni? <input type="submit" value="Igen" class="small_button" /></li>
                    {% endif %}
                </form>
            </ul>

            {% if utls %}
                <h3>Felhasználói toplisták</h3>
                <table>
                    <tr class="header_tr">
                        <th>Kié</th>
                        <th>Lista neve</th>
                        <th>Helyezés</th>
                    </tr>
                    {% for utl in utls %}
                        {% with u=utl.usertoplist.created_by %}
                        <tr class="{% cycle 'odd' '' %}">
                            <td><a href="{% url 'user_profile' u.id u.slug_cache %}"{% if u.id in special_users %} style="font-weight: bold"{% endif %}>{{ u.username }}</a></td>
                            <td>{{ utl.usertoplist.title }}</td>
                            <td>#{{ utl.serial_number }}</td>
                        </tr>
                        {% endwith %}
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>

{% endblock %}
