{% extends "ktapp/film_subpages/film_base.html" %}

{% block film_main %}
<div class="row">
    <div class="central-column">
        {% if permission_new_quote %}
            <form action="{% url 'new_quote' %}" method="post">
                {% csrf_token %}
                {% for hidden in quote_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {{ quote_form.content.errors }}
                {{ quote_form.content }}
                <p class="center"><input type="submit" value="Idézet beküldése" /></p>
            </form>
        {% endif %}
        {% for q in quotes %}
            {% include 'ktapp/blocks/film_addon_block.html' with addon=q addon_type='quote' %}
        {% endfor %}
    </div>
</div>
{% endblock %}
