{% extends "ktapp/film_subpages/film_base.html" %}

{% block film_main %}
<div class="row">
    <div class="central-column">
        <div class="film_addon">
            <div class="review_author">
                {{ review.created_at|date:"Y-m-d" }}{% if review.created_by %} <a href="{% url 'user_profile' review.created_by.id review.created_by.slug_cache %}">{{ review.created_by }}</a>{% endif %}
            </div>
            <div class="film_addon_content">
                {% autoescape off %}
                    {{ review.content_html|linebreaks }}
                {% endautoescape %}
            </div>
        </div>
        <p>
            <a href="{% url 'film_articles' film.id film.film_slug %}">Vissza a cikkekhez...</a>
        </p>
    </div>
</div>
{% endblock %}
