{% extends "ktapp/layout.html" %}
{% load kt_extras %}

{% block title %}{{ film.orig_title }}{% if film.second_title %} / {{ film.second_title }}{% endif %} ({{ film.year }}) - Kritikus Tömeg{% endblock %}

{% block meta_description %}{% with directors=film.directors countries=film.countries genres=film.genres_cache %}{% if countries or genres %}{% for country in countries %}{% if forloop.first %}{{ country.name|title }}{% else %}{{ country.name }}{% endif %}{% if not forloop.last %}-{% endif %}{% endfor %} {% if genres %}{{ film|film_genres:"all" }}{% else %}film{% endif %}{% endif %}, {% if directors %}rendezte: {% for director in directors|slice:":3" %}{{ director.name }}{% if not forloop.last %} - {% endif %}{% endfor %}{% endif %}{% if film.average_rating %}, átlaga: {{ film.average_rating }}{% endif %}. {{ film.plot_summary|strip_whitespace }}{% endwith %}{% endblock %}

{% block other_meta %}
    <meta property="og:type" content="video.movie" />
    <meta property="og:url" content="{{ film.absolute_url }}" />
    <meta property="og:image" content="{{ film.main_poster.get_display_urls.max }}" />
    <meta property="og:title" content="{{ film.orig_title }}{% if film.second_title %} / {{ film.second_title }}{% endif %} ({{ film.year }})" />
    <meta property="og:description" content="{% with directors=film.directors countries=film.countries genres=film.genres_cache %}{% if countries or genres %}{% for country in countries %}{% if forloop.first %}{{ country.name|title }}{% else %}{{ country.name }}{% endif %}{% if not forloop.last %}-{% endif %}{% endfor %} {% if genres %}{{ film|film_genres:"all" }}{% else %}film{% endif %}{% endif %}, {% if directors %}rendezte: {% for director in directors|slice:":3" %}{{ director.name }}{% if not forloop.last %} - {% endif %}{% endfor %}{% endif %}{% if film.average_rating %}, átlaga: {{ film.average_rating }}{% endif %}. {{ film.plot_summary|strip_whitespace }}{% endwith %}" />
{% endblock %}

{% block header %}
    {% with directors=film.directors countries=film.countries genres=film.genres_cache %}
    <div id="film_header" class="hover_show_button_context">
        <div id="film_title">
            <h1>{{ film.orig_title }}{% if film.year %} <span class="film_year">({{ film.year }})</span>{% endif %}</h1>
            {% if film.second_title %}
                <h2>
                    {{ film.second_title }}
                    {% if film.third_title %}
                        <br />
                        {{ film.third_title }}
                    {% endif %}
                </h2>
            {% endif %}
            {% if directors %}
                <h3>({% for director in directors %}<a href="{% url 'artist' director.id director.slug_cache %}">{{ director.name }}</a>{% if not forloop.last %} - {% endif %}{% endfor %})</h3>
            {% endif %}
            {% if countries or genres %}
                <p>
                    {% for country in countries %}{{ country.name }}{% if not forloop.last %}-{% endif %}{% endfor %}
                    {% if genres %}
                        {{ film|film_genres:"all" }}
                    {% else %}
                        film
                    {% endif %}
                </p>
            {% endif %}
        </div>
        {% if film.number_of_ratings and film.average_rating %}
        <div id="film_rating">
            <div id="film_rating_num">{{ film.number_of_ratings }} szavazat<br />átlaga:</div>
            <div id="film_rating_avg">{{ film.average_rating|floatformat:1 }}</div>
        </div>
        {% endif %}
        <div id="film_misc_info">
            <ul>
                <li>
                    <span>{% if film.imdb_link %}<a href="http://www.imdb.com/title/{{ film.imdb_link }}/" class="link_w_icon imdb_link">IMDb</a>{% if film.imdb_real_rating %} {{ film.imdb_real_rating|floatformat:1 }}{% endif %}{% endif %}</span>
                    <span>{% if film.porthu_link %}<a href="http://www.port.hu/pls/fi/films.film_page?i_where=2&i_film_id={{ film.porthu_link }}&i_city_id=-1&i_county_id=1" class="link_w_icon porthu_link">PORT.hu</a>{% endif %}</span>
                </li>
                <li>
                    <span>{% if film.imdb_link %}<a href="http://www.rottentomatoes.com/search/?search={{ film.orig_title|urlquote_plus }}" class="link_w_icon rt_link">RT</a>{% endif %}</span>
                    <span><a href="http://www.youtube.com/results?search_query={{ film.orig_title|urlquote_plus }}+trailer&search=Search" class="link_w_icon youtube_link">YouTube</a></span>
                </li>
                <li>
                    {% if film.wikipedia_link_en %}
                    <span><a href="{{ film.wikipedia_link_en }}" class="link_w_icon wikipedia_link">Wikipedia</a></span>
                    {% else %}
                    <span><a href="http://en.wikipedia.org/w/wiki.phtml?search={{ film.orig_title|urlquote_plus }}" class="link_w_icon wikipedia_link">Wikipedia</a></span>
                    {% endif %}
                    {% if film.wikipedia_link_hu %}
                    <span><a href="{{ film.wikipedia_link_hu }}" class="link_w_icon wikipedia_hu_link">Wikipédia</a></span>
                    {% endif %}
                </li>
            </ul>
            {% if permission_edit_film %}<span class="hover_show_button button small_button" id="show_film_edit_form">film szerkesztése</span>{% endif %}
        </div>
    </div>
    {% if permission_edit_film %}
        <div id="film_edit_form" style="display: none">
            <form action="{% url 'edit_film' %}" method="post" class="inline">
                {% csrf_token %}
                <input type="hidden" name="film_id" value="{{ film.pk }}" />
                <p>
                    <label for="id_film_orig_title">Eredeti cím:</label><br />
                    <input type="text" name="film_orig_title" id="id_film_orig_title" value="{{ film.orig_title }}" />
                </p>
                <p>
                    <label for="id_film_second_title">Magyar és további címek (ha magyar film, hagyd üresen):</label><br />
                    <input type="text" name="film_second_title" id="id_film_second_title" value="{{ film.second_title }}" />
                    <input type="text" name="film_third_title" id="id_film_third_title" value="{{ film.third_title }}" />
                </p>
                <p>
                    <label for="id_film_year">Gyártás éve (ÉÉÉÉ):</label><br />
                    <input type="text" name="film_year" id="id_film_year" value="{% if film.year %}{{ film.year }}{% endif %}" />
                </p>
                <p>
                    <label for="id_film_directors">Rendező(k) (vesszővel elválasztva):</label><br />
                    <input type="text" name="film_directors" id="id_film_directors" class="input_for_artists" value="{% for d in directors %}{{ d }}{% if not forloop.last %}, {% endif %}{% endfor %}" />
                </p>
                <p>
                    <label for="id_film_imdb_link">IMDb link (a film imdb-s oldalának teljes url-je):</label><br />
                    <input type="text" name="film_imdb_link" id="id_film_imdb_link" value="{{ film.imdb_link }}" />
                </p>
                <p>
                    <label for="id_film_porthu_link">port.hu link (a film port.hu-s oldalának teljes url-je, kivéve, ha a tv-műsorból jutottál oda):</label><br />
                    <input type="text" name="film_porthu_link" id="id_film_porthu_link" value="{% if film.porthu_link %}{{ film.porthu_link }}{% endif %}" />
                </p>
                <p>
                    <label for="id_film_wikipedia_link_en">Wikipedia link (angol) (ha van):</label><br />
                    <input type="text" name="film_wikipedia_link_en" id="id_film_wikipedia_link_en" value="{{ film.wikipedia_link_en }}" />
                </p>
                <p>
                    <label for="id_film_wikipedia_link_hu">Wikipédia link (magyar) (ha van):</label><br />
                    <input type="text" name="film_wikipedia_link_hu" id="id_film_wikipedia_link_hu" value="{{ film.wikipedia_link_hu }}" />
                </p>
                <p>
                    <input type="submit" value="Film adatok mentése" />
                    <span class="button small_button" style="float: right" id="hide_film_edit_form">Mégsem</span>
                </p>
            </form>
        </div>
    {% endif %}
    {% endwith %}
{% endblock %}

{% block main %}

    <nav id="tabs" class="clearfix">
        <ul>
            <li style="width: 7%"{% if active_tab == 'main' %} class="active_tab"{% endif %}><a href="{% url 'film_main' film.id film.slug_cache %}">főoldal</a></li>
            <li style="width: 9%"{% if active_tab == 'pictures' %} class="active_tab"{% endif %}><a href="{% url 'film_pictures' film.id film.slug_cache %}"{% if not film.number_of_pictures %} class="inactive_action"{% endif %}>képek</a>{% if film.number_of_pictures %}<span class="tab_count"> ({{ film.number_of_pictures }})</span>{% endif %}</li>
            <li style="width: 8%"{% if active_tab == 'awards' %} class="active_tab"{% endif %}><a href="{% url 'film_awards' film.id film.slug_cache %}"{% if not film.number_of_awards %} class="inactive_action"{% endif %}>díjak</a>{% if film.number_of_awards %}<span class="tab_count"> ({{ film.number_of_awards }})</span>{% endif %}</li>
            <li style="width: 12%"{% if active_tab == 'reviews' %} class="active_tab"{% endif %}><a href="{% url 'film_reviews' film.id film.slug_cache %}"{% if not film.number_of_reviews %} class="inactive_action"{% endif %}>elemzések</a>{% if film.number_of_reviews %}<span class="tab_count"> ({{ film.number_of_reviews }})</span>{% endif %}</li>
            <li style="width: 15%"{% if active_tab == 'comments' %} class="active_tab"{% endif %}><a href="{% url 'film_comments' film.id film.slug_cache %}"{% if not film.number_of_comments %} class="inactive_action"{% endif %}>vélemények</a>{% if film.number_of_comments %}<span class="tab_count"> ({{ film.number_of_comments }})</span>{% endif %}</li>
            <li style="width: 11%"{% if active_tab == 'quotes' %} class="active_tab"{% endif %}><a href="{% url 'film_quotes' film.id film.slug_cache %}"{% if not film.number_of_quotes %} class="inactive_action"{% endif %}>idézetek</a>{% if film.number_of_quotes %}<span class="tab_count"> ({{ film.number_of_quotes }})</span>{% endif %}</li>
            <li style="width: 14%"{% if active_tab == 'trivias' %} class="active_tab"{% endif %}><a href="{% url 'film_trivias' film.id film.slug_cache %}"{% if not film.number_of_trivias %} class="inactive_action"{% endif %}>érdekességek</a>{% if film.number_of_trivias %}<span class="tab_count"> ({{ film.number_of_trivias }})</span>{% endif %}</li>
            <li style="width: 14%"{% if active_tab == 'keywords' %} class="active_tab"{% endif %}><a href="{% url 'film_keywords' film.id film.slug_cache %}"{% if not film.number_of_keywords %} class="inactive_action"{% endif %}>kulcsszavak</a>{% if film.number_of_keywords %}<span class="tab_count"> ({{ film.number_of_keywords }})</span>{% endif %}</li>
            <li style="width: 9%"{% if active_tab == 'links' %} class="active_tab"{% endif %}><a href="{% url 'film_links' film.id film.slug_cache %}"{% if not film.number_of_links %} class="inactive_action"{% endif %}>linkek</a>{% if film.number_of_links %}<span class="tab_count"> ({{ film.number_of_links }})</span>{% endif %}</li>
        </ul>
    </nav>

    <div id="film_main">
        {% block film_main %}{% endblock %}
    </div>

{% endblock %}
