{% extends "ktapp/film_subpages/film_base.html" %}

{% block film_main %}
<div class="row">
    <div class="central-column">

        {% if reviews or permission_approve_review and unapproved_reviews or links_reviews %}<h2>Kritikák, elemzések</h2>{% endif %}
        {% for r in reviews %}
            <div class="film_addon">
                <div class="review_author">
                    {{ r.created_at|date:"Y-m-d" }}{% if r.created_by %} <a href="{% url 'user_profile' r.created_by.id r.created_by.slug_cache %}">{{ r.created_by }}</a>{% endif %}
                </div>
                <div class="film_addon_content">
                    {% autoescape off %}
                        {{ r.content_html|striptags|truncatechars:400|linebreaks }}
                    {% endautoescape %}
                    <p style="text-align: right"><a href="{% url 'film_article' film.id film.slug_cache r.id %}">Tovább...</a></p>
                </div>
            </div>
        {% endfor %}
        {% if unapproved_reviews %}
            {% if permission_approve_review %}
                <h2>Elfogadásra váró elemzés{% if unapproved_reviews.count > 1 %}ek{% endif %}</h2>
                {% for r in unapproved_reviews %}
                    <div class="film_addon">
                        <div class="review_author">
                            {{ r.created_at|date:"Y-m-d" }} <a href="{% url 'user_profile' r.created_by.id r.created_by.slug_cache %}">{{ r.created_by }}</a>
                        </div>
                        <div class="film_addon_content">
                            {% autoescape off %}
                                {{ r.content_html|linebreaks }}
                            {% endautoescape %}
                            <form action="{% url 'approve_review' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="film_id" value="{{ film.id }}" />
                                <input type="hidden" name="review_id" value="{{ r.id }}" />
                                <p><input type="submit" value="Elemzés elfogadása" /></p>
                            </form>
                            <form action="{% url 'disapprove_review' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="film_id" value="{{ film.id }}" />
                                <input type="hidden" name="review_id" value="{{ r.id }}" />
                                <p><input type="submit" value="Elemzés elutasítása" /> (komment lesz belőle)</p>
                            </form>
                            <form action="{% url 'delete_review' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="film_id" value="{{ film.id }}" />
                                <input type="hidden" name="review_id" value="{{ r.id }}" />
                                <p><input type="submit" value="Elemzés törlése" class="confirm_required" /> (nyomtalanul eltűnik)</p>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% elif request.user.is_authenticated %}
                <h2>Elfogadásra váró elemzésed</h2>
                {% for r in unapproved_reviews %}
                    {% if r.created_by.id == request.user.id %}
                        <div class="film_addon">
                            <div class="review_author">
                                {{ r.created_at|date:"Y-m-d" }} <a href="{% url 'user_profile' r.created_by.id r.created_by.slug_cache %}">{{ r.created_by }}</a>
                            </div>
                            <div class="film_addon_content">
                                {% autoescape off %}
                                    {{ r.content_html|linebreaks }}
                                {% endautoescape %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
        {% for link in links_reviews %}
            {% include 'ktapp/blocks/film_link_block.html' with link=link %}
        {% endfor %}
        {% if links_interviews %}<h2>Interjúk</h2>{% endif %}
        {% for link in links_interviews %}
            {% include 'ktapp/blocks/film_link_block.html' with link=link %}
        {% endfor %}
        {% if links_official %}<h2>Hivatalos oldalak</h2>{% endif %}
        {% for link in links_official %}
            {% include 'ktapp/blocks/film_link_block.html' with link=link %}
        {% endfor %}
        {% if links_other %}<h2>Egyéb oldalak</h2>{% endif %}
        {% for link in links_other %}
            {% include 'ktapp/blocks/film_link_block.html' with link=link %}
        {% endfor %}

        {% if reviews or permission_approve_review and unapproved_reviews or links_reviews or links_interviews or links_official or links_other %}
            {% if permission_new_review or permission_new_link or permission_suggest_link %}
                <p><br /></p>
                <p><br /></p>
            {% endif %}
        {% endif %}

        {% if permission_new_review %}
            <h3>Új elemzés beküldése</h3>
            <form action="{% url 'new_review' %}" method="post">
                {% csrf_token %}
                {% for hidden in review_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {{ review_form.content.errors }}
                {{ review_form.content }}
                <p class="center"><input type="submit" value="Elemzés beküldése" /></p>
            </form>
            <p><br /></p>
        {% endif %}


        {% if permission_new_link %}
            <h3>Új link felvétele</h3>
            <form action="{% url 'new_link' %}" method="post" class="inline">
                {% csrf_token %}
                <input type="hidden" name="film_id" value="{{ film.pk }}" />
                <p>
                    <label for="id_link_type">Típus:</label>
                    <select name="link_type" id="id_link_type">
                        <option value="R" selected="selected">Kritika/elemzés</option>
                        <option value="I">Interjú</option>
                        <option value="O">Hivatalos oldal</option>
                        <option value="-">Egyéb oldal</option>
                    </select>
                </p>
                <p>
                    <label for="id_name">Cím:</label>
                    <input type="text" name="name" id="id_name" class="wide_input" />
                </p>
                <p>
                    <label for="id_url">URL:</label>
                    <input type="text" name="url" id="id_url" class="wide_input" />
                </p>
                <p>
                    <label for="id_lead">Lead (pár mondat, ami annyira felcsigázza az olvasót, hogy mindenképp rákattint a linkre):</label><br />
                    <textarea name="lead" id="id_lead" rows="5"></textarea>
                </p>
                <p>
                    <label for="id_author">Szerző KT-s neve (ha van):</label>
                    <input type="text" name="author" id="id_author" class="input_for_user wide_input" />
                </p>
                <p><input type="submit" value="Link mentése" /></p>
            </form>
        {% elif permission_suggest_link %}
            <h3>Új link beküldése</h3>
            <form action="{% url 'suggest_link' %}" method="post" class="inline">
                {% csrf_token %}
                <input type="hidden" name="film_id" value="{{ film.pk }}" />
                <p>
                    <label for="id_link_type">Típus:</label>
                    <select name="link_type" id="id_link_type">
                        <option value="R" selected="selected">Kritika/elemzés</option>
                        <option value="I">Interjú</option>
                        <option value="O">Hivatalos oldal</option>
                        <option value="-">Egyéb oldal</option>
                    </select>
                </p>
                <p>
                    <label for="id_name">Cím:</label>
                    <input type="text" name="name" id="id_name" class="wide_input" />
                </p>
                <p>
                    <label for="id_url">URL:</label>
                    <input type="text" name="url" id="id_url" class="wide_input" />
                </p>
                <p>
                    <label for="id_lead">Lead (pár mondat, ami annyira felcsigázza az olvasót, hogy mindenképp rákattint a linkre):</label><br />
                    <textarea name="lead" id="id_lead" rows="5"></textarea>
                </p>
                <p>
                    <label for="id_author">Szerző KT-s neve (ha van):</label>
                    <input type="text" name="author" id="id_author" class="input_for_user wide_input" />
                </p>
                <p><input type="submit" value="Link beküldése" /></p>
            </form>
        {% endif %}

    </div>
</div>
{% endblock %}
