{% extends "ktapp/film_subpages/film_base.html" %}

{% block film_main %}

    <div id="film_centered">

        {% include 'ktapp/blocks/new_comment_block.html' %}

        {% if max_pages >= 2 %}
            <ul class="paging">
                <li>{% if p == 1 %}<b>1</b>{% else %}<a href="{% url 'film_comments' film.id film.slug_cache %}">1</a>{% endif %}</li>
                {% if p >= 4 %}
                    <li class="paging_ellipsis">...</li>
                {% endif %}
                {% if p >= 3 %}
                    <li><a href="{% url 'film_comments' film.id film.slug_cache %}?p={{ p|add:"-1" }}">{{ p|add:"-1" }}</a></li>
                {% endif %}
                {% if 2 <= p and p <= max_pages|add:"-1" %}
                    <li><b>{{ p }}</b></li>
                {% endif %}
                {% if p <= max_pages|add:"-2" %}
                    <li><a href="{% url 'film_comments' film.id film.slug_cache %}?p={{ p|add:"1" }}">{{ p|add:"1" }}</a></li>
                {% endif %}
                {% if p <= max_pages|add:"-3" %}
                    <li class="paging_ellipsis">...</li>
                {% endif %}
                <li>{% if p == max_pages %}<b>{{ max_pages }}</b>{% else %}<a href="{% url 'film_comments' film.id film.slug_cache %}?p={{ max_pages }}">{{ max_pages }}</a>{% endif %}</li>
            </ul>
        {% endif %}

        {% for c in comments %}
            {% include 'ktapp/blocks/comment_block.html' with comment=c %}
        {% endfor %}

        {% if max_pages >= 2 %}
            <ul class="paging">
                <li>{% if p == 1 %}<b>1</b>{% else %}<a href="{% url 'film_comments' film.id film.slug_cache %}">1</a>{% endif %}</li>
                {% if p >= 4 %}
                    <li class="paging_ellipsis">...</li>
                {% endif %}
                {% if p >= 3 %}
                    <li><a href="{% url 'film_comments' film.id film.slug_cache %}?p={{ p|add:"-1" }}">{{ p|add:"-1" }}</a></li>
                {% endif %}
                {% if 2 <= p and p <= max_pages|add:"-1" %}
                    <li><b>{{ p }}</b></li>
                {% endif %}
                {% if p <= max_pages|add:"-2" %}
                    <li><a href="{% url 'film_comments' film.id film.slug_cache %}?p={{ p|add:"1" }}">{{ p|add:"1" }}</a></li>
                {% endif %}
                {% if p <= max_pages|add:"-3" %}
                    <li class="paging_ellipsis">...</li>
                {% endif %}
                <li>{% if p == max_pages %}<b>{{ max_pages }}</b>{% else %}<a href="{% url 'film_comments' film.id film.slug_cache %}?p={{ max_pages }}">{{ max_pages }}</a>{% endif %}</li>
            </ul>
        {% endif %}

    </div>

{% endblock %}
