{% extends "ktapp/film_subpages/film_base.html" %}

{% block film_main %}

    <div id="film_centered">
        {% if permission_new_trivia %}
            <form action="{% url 'new_trivia' %}" method="post">
                {% csrf_token %}
                {% for hidden in trivia_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {{ trivia_form.content.errors }}
                {{ trivia_form.content }}
                <p class="center"><input type="submit" value="Érdekesség beküldése" /></p>
            </form>
        {% endif %}
        {% for t in trivias %}
            {% include 'ktapp/blocks/film_addon_block.html' with addon=t addon_type='trivia' %}
        {% endfor %}
    </div>

{% endblock %}
