{% extends "ktapp/film_subpages/film_base.html" %}
{% load staticfiles %}

{% block film_main %}
<div class="row">
    <div class="central-column">
        {% if picture %}
            <div class="center jumptarget_wrapper" style="min-height: {{ pic_height|add:5 }}px">
                <div class="mobile-scroller">
                    <a href="{% url 'film_picture' film.id film.slug_cache next_picture.id %}#pix"><img src="{{ picture.get_display_urls.max }}" style="width: {{ picture.get_widths.max }}px; height: {{ picture.get_heights.max }}px" class="picture" /></a>
                </div>
                <a name="pix" class="jumptarget"></a>
                <br />
                {% if artists %}
                {% for artist in artists %}{% if not forloop.first %}{% if forloop.last %} és {% else %}, {% endif %}{% endif %}<a href="{% url 'artist' artist.id artist.slug_cache %}">{{ artist.name }}</a>{% endfor %} {{ film_title_article }} {{ film.orig_title }} című filmben
                {% else %}
                    {% if picture.picture_type == "P" %}
                        {{ film_title_article|title }} {{ film.orig_title }} című film plakátja
                    {% elif picture.picture_type == "D" %}
                        {{ film_title_article|title }} {{ film.orig_title }} című film DVD-borítója
                    {% else %}
                        Kép {{ film_title_article }} {{ film.orig_title }} című filmből
                    {% endif %}
                {% endif %}
                {% if picture.created_by or picture.source_url %}
                    <span class="picture_source"><br />
                        {% if picture.source_url %}
                            forrás: <a href="{{ picture.source_url }}" target="_blank">{{ picture.get_source_domain }}</a>{% endif %}{% if picture.created_by %}{% if picture.source_url %},{% endif %}
                            feltöltötte: <a href="{% url 'user_profile' picture.created_by.id picture.created_by.slug_cache %}">{{ picture.created_by.username }}</a>
                        {% endif %}
                    </span>
                {% endif %}
            </div>
            {% if permission_edit_picture %}
                <p style="text-align: center; font-size: 8pt">(<span class="action_text" id="show_picture_edit_button">kép szerkesztése</span>)</p>
                <div class="picture_edit_block" style="display: none">
                    <form action="{% url 'edit_picture' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="picture" value="{{ picture.id }}" />
                        <p><label for="id_picture_type_edit">Típus:</label> <select name="picture_type" id="id_picture_type_edit">
                            <option value="O"{% if picture.picture_type == 'O' %} selected="selected"{% endif %}>Kép a filmből</option>
                            <option value="P"{% if picture.picture_type == 'P' %} selected="selected"{% endif %}>Plakát</option>
                            <option value="D"{% if picture.picture_type == 'D' %} selected="selected"{% endif %}>DVD-borító</option>
                            <option value="S"{% if picture.picture_type == 'S' %} selected="selected"{% endif %}>Saját kezűleg készített screenshot</option>
                        </select></p>
                        <p><label for="id_source_url_edit">Honnan való? (a kép pontos webcíme, nem csak az oldalé)</label> <input type="text" name="source_url" id="id_source_url_edit" maxlength="250" value="{{ picture.source_url }}" /></p>
                        <p>Kik vannak rajta? (ha senki, vagy plakátról van szó, vagy animációról, ne ikszelj be senkit, ha többen, akkor nyugodtan többet is)<br />
                            {% for artist in all_artists_in_film %}
                                <input type="checkbox" name="picture_artist_cb_edit" id="picture_artist_cb_edit_{{ artist.id }}" value="{{ artist.id }}"{% if artist in artists %} checked="checked"{% endif %} /> <label for="picture_artist_cb_edit_{{ artist.id }}">{{ artist }}</label><br />
                            {% endfor %}
                        </p>
                        <p class="center"><input type="submit" value="Kép adatainak mentése" /></p>
                    </form>
                </div>
            {% endif %}
            {% if permission_delete_picture %}
                <p style="text-align: center; font-size: 8pt">(<span class="action_text" id="show_picture_delete_button">kép törlése</span>)</p>
                <div class="picture_delete_block" style="display: none">
                    <form action="{% url 'delete_picture' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="picture" value="{{ picture.id }}" />
                        <p class="center"><input type="submit" value="Kép törlése" /></p>
                    </form>
                </div>
            {% endif %}
        {% endif %}
        {% if pictures|length > 1 %}
            {% for picture in pictures %}
                <a href="{% url 'film_picture' film.id film.slug_cache picture.id %}#pix"><img src="{{ picture.get_display_urls.min }}" style="width: {{ picture.get_widths.min }}px; height: {{ picture.get_heights.min }}px" class="kt-thumbnail" /></a>
            {% endfor %}
        {% endif %}
        {% if permission_new_picture %}
            <h3>Új kép feltöltése</h3>
            <ul>
                <li>A kép legyen <b>legalább 720 pixel széles</b>, de inkább 1000-1200 pixel. És maximum kb 2000 pixel.</li>
                <li>Egy filmnél <b>ne legyen több, mint 15-20 kép (plakátokkal együtt)</b>. Bármennyire is tetszik egy film, ne akard az összes képkockáját felrakni, próbáld kiválogatni a legjobbakat.</li>
                <li>Legalább egy plakát, és lehetőleg minden főbb szereplőről legalább egy kép legyen fent.</li>
                <li>Ne tölts fel spoiler-es képet, vagyis olyat, amiből kiderül, hogy "a kertész volt a gyilkos".</li>
                <li>Ne tölts fel jellegtelen képet. Ez nem a képes játék, vagyis nem az a célja, hogy nehéz legyen felismerni belőle a filmet. Ellenkezőleg, pont az a jó, ha a kép jellemző a filmre vagy az adott színész(ek)re.</li>
                <li>Plakát esetén jelöld meg, hogy plakát.</li>
                <li>Aki szereplőt felismersz a képen, azt jelöld meg (plakát esetén ne).</li>
            </ul>
            <form action="{% url 'new_picture' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="film" value="{{ film.id }}" />
                <p><label for="id_img">Kép:</label> <input type="file" name="img" id="id_img" /></p>
                <p><label for="id_picture_type">Típus:</label> <select name="picture_type" id="id_picture_type">
                    <option value="O" selected="selected">Kép a filmből</option>
                    <option value="P">Plakát</option>
                    <option value="D">DVD-borító</option>
                    <option value="S">Saját kezűleg készített screenshot</option>
                </select></p>
                <p><label for="id_source_url">Honnan való? (a kép pontos webcíme, nem csak az oldalé)</label> <input type="text" name="source_url" id="id_source_url" maxlength="250" /></p>
                <p>Kik vannak rajta? (ha senki, vagy plakátról van szó, vagy animációról, ne ikszelj be senkit, ha többen, akkor nyugodtan többet is)<br />
                {% for artist in all_artists_in_film %}
                    <input type="checkbox" name="picture_artist_cb" id="picture_artist_cb_{{ artist.id }}" value="{{ artist.id }}" /> <label for="picture_artist_cb_{{ artist.id }}">{{ artist }}</label><br />
                {% endfor %}
                </p>
                <p class="center"><input type="submit" value="Kép feltöltése" /></p>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}
