{% extends "ktapp/film_subpages/film_base.html" %}
{% load kt_extras %}

{% block film_main %}

    <div class="clearfix">
        <div id="film_main_left">
            <div class="film_block hover_show_button_context">
                {% if film.main_poster %}
                    <img src="{{ film.main_poster.get_display_urls.mid }}" class="picture film_block_picture" alt="{{ film.orig_title }} ({{ film.year }})" />
                {% endif %}
                <p{% if film.main_poster %} class="film_block_content"{% endif %} id="plot_text">
                    {{ film.plot_summary|linebreaksbr }}{% if permission_edit_film %} <span class="hover_show_button button small_button" id="show_plot_edit_form">történet szerkesztése</span>{% endif %}
                </p>
                {% if permission_edit_film %}
                    <div id="plot_edit_form" style="display: none"{% if film.main_poster %} class="film_block_content"{% endif %}>
                        <form action="{% url 'edit_plot' %}" method="post" class="inline">
                            {% csrf_token %}
                            <input type="hidden" name="film_id" value="{{ film.pk }}" />
                            <textarea name="plot" id="id_plot" rows="10">{{ film.plot_summary }}</textarea>
                            <p>
                                <input type="submit" value="Történet mentése" />
                                <span class="button small_button" style="float: right" id="hide_plot_edit_form">Mégsem</span>
                            </p>
                        </form>
                    </div>
                {% endif %}
                <br class="clear" />
            </div>
            <div class="hover_show_button_context">
                <h3>Szereplők{% if permission_new_role %} <span class="hover_show_button button small_button" id="show_new_role_form">új szereplő felvétele</span>{% endif %}</h3>
                <table class="fullsize" id="table_of_roles">
                    {% for role in roles %}
                        <tr class="{% cycle 'odd' '' %}">
                            <td class="half_td"><a href="{% url 'role' role.id role.slug_cache %}">{{ role.role_name }}</a>{% if role.actor_subtype == 'V' %} (hangja){% endif %}{% if role.actor_subtype == 'D' %} (magyar hangja){% endif %}</td>
                            <td><a href="{% url 'artist' role.artist.id role.artist.slug_cache %}">{{ role.artist.name }}</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            {% if permission_new_role %}
                <div id="new_role_form" style="display: none">
                    <h3>Új szereplő</h3>
                    <input type="hidden" id="new_role_film" value="{{ film.pk }}" />
                    <table class="fullsize">
                        <tr class="header_tr">
                            <td class="half_td">Szerep</td>
                            <td>Színész</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="new_role_name" class="full_input" /><br />
                                <select id="new_role_type">
                                    <option value="F">teljes valójában</option>
                                    <option value="V">csak a hangja</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" id="new_role_artist" class="full_input" /><br />
                                <select id="new_role_gender">
                                    <option value="U">neme:</option>
                                    <option value="M">férfi</option>
                                    <option value="F">nő</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="center">
                                <input type="submit" value="Új szereplő felvétele" class="small_button" id="submit_new_role" />
                            </td>
                        </tr>
                    </table>
                </div>
            {% endif %}
            {% if film.all_sequels %}
                {% for seq in film.all_sequels %}
                    <h3>{{ seq }}{% if seq.sequel_type == 'A' %} adaptációk{% endif %}{% if seq.sequel_type == 'R' %} remake-ek{% endif %}</h3>
                    <table class="fullsize">
                        <tr class="header_tr">
                            <th>Film</th>
                            <th>Év</th>
                            <th>Átlag</th>
                        </tr>
                        {% for f in seq.all_films %}
                            <tr class="{% cycle '' 'odd' %}{% if f == film %} selected_film_tr{% endif %}">
                                <td>{{ f|film_url_html }}</td>
                                <td class="center">{{ f.year }}</td>
                                <td class="center">{{ f|film_rating_html }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endfor %}
            {% endif %}
            <div class="hover_show_button_context">
                <h3>Bemutató{% if film.main_premier or film.main_premier_year %}{% if other_premiers %}k{% endif %}{% endif %}{% if permission_edit_premiers %} <span class="hover_show_button button small_button" id="show_premier_form">bemutatók szerkesztése</span>{% endif %}</h3>
                <ul class="mini_list">
                {% if film.main_premier or film.main_premier_year %}
                    <li>
                        {% if film.main_premier %}
                            {{ film.main_premier|date:"Y. F j." }}
                        {% elif film.main_premier_year %}
                            {{ film.main_premier_year }}
                        {% endif %}
                    </li>
                {% endif %}
                {% for p in other_premiers %}
                    <li>{{ p.premier_type }}: {{ p.when|date:"Y. F j." }}</li>
                {% endfor %}
                </ul>
            </div>
            {% if permission_edit_premiers %}
                <div id="premier_form" style="display: none">
                    <h3>Bemutatók szerkesztése</h3>
                    <form action="{% url 'edit_premiers' %}" method="post" class="inline">
                        {% csrf_token %}
                        <input type="hidden" name="film_id" value="{{ film.pk }}" />
                        <p>
                            <label for="id_main_premier">Fő bemutató (ÉÉÉÉ-HH-NN):</label><br />
                            <input type="text" name="main_premier" id="id_main_premier" value="{% if film.main_premier %}{{ film.main_premier|date:"Y-m-d" }}{% elif film.main_premier_year %}{{ film.main_premier_year }}{% endif %}" />
                        </p>
                        <p>
                            További bemutatók (ÉÉÉÉ-HH-NN):<br />
                            {% for p in other_premiers %}
                                <input type="text" name="other_premier_when_{{ p.id }}" value="{{ p.when|date:"Y-m-d" }}" /> <select name="other_premier_type_{{ p.id }}">
                                    {% for pt in premier_types %}
                                        <option value="{{ pt.id }}"{% if p.premier_type.id == pt.id %} selected="selected"{% endif %}>{{ pt }}</option>
                                    {% endfor %}
                                </select><br />
                            {% endfor %}
                            <input type="text" name="new_other_premier_when_1" /> <select name="new_other_premier_type_1">
                                {% for pt in premier_types %}
                                    <option value="{{ pt.id }}">{{ pt }}</option>
                                {% endfor %}
                            </select><br />
                        </p>
                        <p>
                            <input type="submit" value="Bemutatók mentése" />
                            <span class="button small_button" style="float: right" id="hide_premier_form">Mégsem</span>
                        </p>
                    </form>
                </div>
            {% endif %}
        </div>
        <div id="film_main_right">
            <div id="film_main_voting_block">
                <h3>Szerinted?</h3>
                {% if user.is_authenticated %}
                    <div class="change_vote">
                        {% for r in ratings reversed %}
                            {% cycle 'zseniális' 'jó' 'oké/elmegy' 'rossz' 'nézhetetlen' as named_rating silent %}
                            <div>
                            {% if r == rating %}
                                <span class="my_rating">{{ named_rating }}</span>
                            {% else %}
                                <form action="{% url 'vote' %}" method="post" class="inline">
                                    {% csrf_token %}
                                    <input type="hidden" name="film_id" value="{{ film.pk }}" />
                                    <input type="hidden" name="rating" value="{{ r }}" />
                                    <input type="submit" value="{{ named_rating }}"{% if rating %} class=""{% endif %} />
                                </form>
                            {% endif %}
                            </div>
                        {% endfor %}
                        {% if rating %}
                            <div>
                            <form action="{% url 'vote' %}" method="post" class="inline">
                                {% csrf_token %}
                                <input type="hidden" name="film_id" value="{{ film.pk }}" />
                                <input type="hidden" name="rating" value="0" />
                                <input type="submit" value="???" class="small_button" />
                            </form>
                            </div>
                        {% endif %}
                    </div>
                {% else %}
                    <p>Ahhoz, hogy szavazhass, be kell <a href="{% url 'login' %}">jelentkezned</a>.</p>
                {% endif %}
            </div>
            <div id="film_main_ratings_block">
                <h3>Szavazatok{% if film.number_of_ratings %} <span class="button very_small_button" id="show_rating_details_button">összes &gt;</span> <span class="button very_small_button" id="hide_rating_details_button">összes v</span>{% endif %}</h3>
                <ul class="mini_list">
                    {% for num_vote, vote in votes %}
                        {% cycle 'zseniális' 'jó' 'oké/elmegy' 'rossz' 'nézhetetlen' as named_rating silent %}
                        {% if vote %}
                            <li>{{ num_vote }} {{ named_rating }}{% if vote.0 %}:{% endif %}
                                {% for voteuser in vote.0 %}
                                    <a href="{% url 'user_profile' voteuser.user.id voteuser.user.slug_cache %}">{{ voteuser.user.username }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                                <span class="rating_details" style="display: none">
                                    <br />
                                    {% for voteuser in vote.1 %}
                                        <a href="{% url 'user_profile' voteuser.user.id voteuser.user.slug_cache %}">{{ voteuser.user.username }}</a>{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </span>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>

            <h3>Kívánságok</h3>
            <ul class="mini_list">
                {% if wish_count.0 > 0 %}<li>{{ wish_count.0 }} ember meg akarja nézni</li>{% endif %}
                {% if wish_count.1 > 0 %}<li>{{ wish_count.1 }} ember kifejezetten nem akarja megnézni</li>{% endif %}
            </ul>
            {% if user.is_authenticated %}
                <ul class="minimini_list">
                    <form action="{% url 'wish' %}" method="post" class="inline">
                        {% csrf_token %}
                        <input type="hidden" name="film_id" value="{{ film.pk }}" />
                        <input type="hidden" name="wish_type" value="Y" />
                        {% if my_wishes.Y %}
                            <input type="hidden" name="action" value="-" />
                            <li><b>Meg akarod nézni.</b> <input type="submit" value="Mégsem" class="small_button" /></li>
                        {% else %}
                            <input type="hidden" name="action" value="+" />
                            <li>Meg akarod nézni? <input type="submit" value="Igen" class="small_button" /></li>
                        {% endif %}
                    </form>
                    <form action="{% url 'wish' %}" method="post" class="inline">
                        {% csrf_token %}
                        <input type="hidden" name="film_id" value="{{ film.pk }}" />
                        <input type="hidden" name="wish_type" value="N" />
                        {% if my_wishes.N %}
                            <input type="hidden" name="action" value="-" />
                            <li><b>Nem akarod megnézni.</b> <input type="submit" value="Mégis" class="small_button" /></li>
                        {% else %}
                            <input type="hidden" name="action" value="+" />
                            <li>Nem akarod megnézni? <input type="submit" value="Nem" class="small_button" /></li>
                        {% endif %}
                    </form>
                    <form action="{% url 'wish' %}" method="post" class="inline">
                        {% csrf_token %}
                        <input type="hidden" name="film_id" value="{{ film.pk }}" />
                        <input type="hidden" name="wish_type" value="G" />
                        {% if my_wishes.G %}
                            <input type="hidden" name="action" value="-" />
                            <li><b>Meg akarod szerezni.</b> <input type="submit" value="Mégsem" class="small_button" /></li>
                        {% else %}
                            <input type="hidden" name="action" value="+" />
                            <li>Meg akarod szerezni? <input type="submit" value="Igen" class="small_button" /></li>
                        {% endif %}
                    </form>
                </ul>
            {% endif %}

            {% if utls %}
                <h3>Felhasználói toplisták</h3>
                <table>
                    <tr class="header_tr">
                        <th>Kié</th>
                        <th>Lista neve</th>
                        <th>Helyezés</th>
                    </tr>
                    {% for utl in utls %}
                        {% with u=utl.usertoplist.created_by %}
                        <tr class="{% cycle 'odd' '' %}">
                            <td><a href="{% url 'user_profile' u.id u.slug_cache %}"{% if u.id in special_users %} style="font-weight: bold"{% endif %}>{{ u.username }}</a></td>
                            <td><a href="{% url 'usertoplist' utl.usertoplist.id utl.usertoplist.slug_cache %}">{{ utl.usertoplist.title }}</a></td>
                            <td>{% if utl.usertoplist.ordered %}#{{ utl.serial_number }}{% endif %}</td>
                        </tr>
                        {% endwith %}
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>

{% endblock %}
