{% extends "ktapp/film_subpages/film_base.html" %}

{% block film_main %}

    <div id="film_centered">
        {% for r in reviews %}
            <div class="film_addon">
                <div class="review_author">
                    {{ r.created_at|date:"Y-m-d" }} <a href="{% url 'user_profile' r.created_by.id r.created_by.slug_cache %}">{{ r.created_by }}</a>
                </div>
                <div class="film_addon_content">
                    {% autoescape off %}
                        {{ r.content_html|striptags|truncatechars:400|linebreaks }}
                    {% endautoescape %}
                    <p style="text-align: right"><a href="{% url 'film_review' film.id film.slug_cache r.id %}">Tovább...</a></p>
                </div>
            </div>
        {% endfor %}
        {% if permission_new_review %}
            <h3>Új elemzés beküldése</h3>
            <form action="{% url 'new_review' %}" method="post">
                {% csrf_token %}
                {% for hidden in review_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {{ review_form.content.errors }}
                {{ review_form.content }}
                <p class="center"><input type="submit" value="Elemzés beküldése" /></p>
            </form>
        {% endif %}
        {% if permission_approve_review and unapproved_reviews %}
            <h2>Elfogadásra váró elemzés{% if unapproved_reviews.count > 1 %}ek{% endif %}</h2>
            {% for r in unapproved_reviews %}
                <div class="film_addon">
                    <div class="review_author">
                        {{ r.created_at|date:"Y-m-d" }} <a href="{% url 'user_profile' r.created_by.id r.created_by.slug_cache %}">{{ r.created_by }}</a>
                    </div>
                    <div class="film_addon_content">
                        {% autoescape off %}
                            {{ r.content_html|linebreaks }}
                        {% endautoescape %}
                        <form action="{% url 'approve_review' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="film_id" value="{{ film.id }}" />
                            <input type="hidden" name="review_id" value="{{ r.id }}" />
                            <p><input type="submit" value="Elemzés elfogadása" /></p>
                        </form>
                        <form action="{% url 'disapprove_review' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="film_id" value="{{ film.id }}" />
                            <input type="hidden" name="review_id" value="{{ r.id }}" />
                            <p><input type="submit" value="Elemzés elutasítása" /> (komment lesz belőle)</p>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
