{% load kt_extras %}
<table class="fullsize">
    <tr class="header_tr">
        <th>Díj</th>
        <th>Év</th>
        <th>Kategória</th>
        {% if show_film %}
        <th>Film</th>
        <th>Megjegyzés</th>
        {% else %}
        <th>Művész</th>
        {% endif %}
        {% if permission_delete_award %}
        <th></th>
        {% endif %}
    </tr>
{% for a in awards %}
    <tr class="{% cycle '' 'odd' %} hover_show_button_context">
        <td>{{ a.name }}</td>
        <td>{{ a.year }}</td>
        <td>{{ a.category }}</td>
        {% if show_film %}
        <td>{{ a.film|oneliner_film_url_html_simple }}</td>
        <td>{{ a.note }}</td>
        {% else %}
        <td>
            {% if a.artist %}
                <a href="{% url 'artist' a.artist.id a.artist.slug_cache %}">{{ a.artist.name }}</a>
                {% if a.note %}
                    -
                {% endif %}
            {% endif %}
            {{ a.note }}
        </td>
        {% endif %}
        {% if permission_delete_award %}
        <td>
            <button class="button small_button hover_show_button delete_award_button" data-id="{{ a.id }}">X</button>
        </td>
        {% endif %}
    </tr>
{% endfor %}
</table>
