{% load kt_extras %}
<table class="fullsize sortable">
    <thead>
        <tr class="header_tr">
            <th data-sort="string">Film</th>
            <th data-sort="int" data-sort-default="desc">Év</th>
            <th data-sort="string">Műfaj</th>
            <th data-sort="int" data-sort-default="desc">Nézettség</th>
            <th data-sort="float" data-sort-default="desc">Átlag</th>
            {% if request.user.is_authenticated %}
                <th data-sort="float" data-sort-default="desc">Kedvenceid</th>
                <th data-sort="int" data-sort-default="desc">Szerinted</th>
                <th data-sort="int" data-sort-default="desc">&#9733;</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for direction in directions %}
        <tr class="{% cycle '' 'odd' %}">
            <td>{{ direction|film_url_html }}</td>
            <td class="center">{% if direction.year %}{{ direction.year }}{% endif %}</td>
            <td>{{ direction|film_genres }}</td>
            <td class="center" data-sort-value="{{ direction.number_of_ratings }}">{{ direction|film_num_rating_html }}</td>
            <td class="center" data-sort-value="{{ direction|film_rating_sort_value }}">{{ direction|film_avg_rating_html }}</td>
            {% if request.user.is_authenticated %}
                <td class="center" data-sort-value="{{ direction|film_fav_rating_sort_value }}">{{ direction|film_fav_rating_html }}</td>
                <td class="center" data-sort-value="{% if direction.my_rating %}{{ direction.my_rating }}{% else %}0{% endif %}">{% if direction.my_rating %}{{ direction.my_rating }}{% endif %}</td>
                <td class="center wish{% if direction.my_wish == 1 %}_active{% endif %}" data-sort-value="{% if direction.my_wish %}{{ direction.my_wish }}{% else %}0{% endif %}">{% if direction.my_wish == 1 %}&#9733;{% else %}&#9734;{% endif %}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
