{% load kt_extras %}
<table class="fullsize sortable">
    <thead>
    <tr class="header_tr">
        <th data-sort="string">Szerep</th>
        <th data-sort="string">Film</th>
        <th data-sort="int" data-sort-default="desc">Év</th>
        <th data-sort="string">Rendező</th>
        <th data-sort="string">Műfaj</th>
        <th data-sort="int" data-sort-default="desc">Nézettség</th>
        <th data-sort="float" data-sort-default="desc">Átlag</th>
        {% if request.user.is_authenticated %}
            <th data-sort="int" data-sort-default="desc">Kedvenceid</th>
            <th data-sort="int" data-sort-default="desc">Szerinted</th>
            <th data-sort="int" data-sort-default="desc">&#9733;</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for role in roles %}
        <tr class="{% cycle '' 'odd' %}">
            <td><a href="{% url 'role' role.role_id_1 role.role_slug_cache_1 %}">{{ role.role_role_name_1 }}</a>{% if role.role_actor_subtype_1 == 'V' %} (hangja){% endif %}{% if role.role_actor_subtype_1 == 'D' %} (magyar hangja){% endif %}</td>
            <td>{{ role|film_url_html }}</td>
            <td class="center">{% if role.year %}{{ role.year }}{% endif %}</td>
            <td>{{ role|film_directors }}</td>
            <td>{{ role|film_genres }}</td>
            <td class="center" data-sort-value="{{ role.number_of_ratings }}">{{ role|film_num_rating_html }}</td>
            <td class="center" data-sort-value="{{ role|film_rating_sort_value }}">{{ role|film_avg_rating_html }}</td>
            {% if request.user.is_authenticated %}
                <td class="center" data-sort-value="{{ role|film_fav_rating_sort_value }}">{{ role|film_fav_rating_html }}</td>
                <td class="center" data-sort-value="{% if role.my_rating %}{{ role.my_rating }}{% else %}0{% endif %}">{% if role.my_rating %}{{ role.my_rating }}{% endif %}</td>
                <td class="center wish{% if role.my_wish == 1 %}_active{% endif %}" data-sort-value="{% if role.my_wish %}{{ role.my_wish }}{% else %}0{% endif %}">{% if role.my_wish == 1 %}&#9733;{% else %}&#9734;{% endif %}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
