{% extends "ktapp/articles_subpages/articles_base.html" %}
{% load kt_extras %}

{% block premier_main %}

    {% if permission_new_link %}
        <h3>Új cikk felvétele</h3>
        <p class="error">Ha egy konkrét filmről akarsz írást felvenni, azt ott tedd (a film lapján a linkek fül alatt). Ha egyéb filmes témáról, azt itt.</p>
        <form action="{% url 'new_link' %}" method="post" class="inline">
            {% csrf_token %}
            <p>
                <label for="id_link_type">Típus:</label>
                <select name="link_type" id="id_link_type">
                    <option value="R" selected="selected">Kritika/elemzés</option>
                    <option value="I">Interjú</option>
                    <option value="-">Egyéb oldal</option>
                </select>
            </p>
            <p>
                <label for="id_name">Cím:</label>
                <input type="text" name="name" id="id_name" class="wide_input" />
            </p>
            <p>
                <label for="id_url">URL:</label>
                <input type="text" name="url" id="id_url" class="wide_input" />
            </p>
            <p>
                <label for="id_lead">Lead (pár mondat, ami annyira felcsigázza az olvasót, hogy mindenképp rákattint a linkre):</label><br />
                <textarea name="lead" id="id_lead" rows="5"></textarea>
            </p>
            <p>
                <label for="id_author">Szerző KT-s neve (ha van):</label>
                <input type="text" name="author" id="id_author" class="input_for_user wide_input" />
            </p>
            <p><input type="submit" value="Cikk mentése" /></p>
        </form>
    {% elif permission_suggest_link %}
        <h3>Új cikk beküldése</h3>
        <p class="error">Ha egy konkrét filmről akarsz írást beküldeni, azt ott tedd (a film lapján a linkek fül alatt). Ha egyéb filmes témáról, azt itt.</p>
        <form action="{% url 'suggest_link' %}" method="post" class="inline">
            {% csrf_token %}
            <p>
                <label for="id_link_type">Típus:</label>
                <select name="link_type" id="id_link_type">
                    <option value="R" selected="selected">Kritika/elemzés</option>
                    <option value="I">Interjú</option>
                    <option value="-">Egyéb oldal</option>
                </select>
            </p>
            <p>
                <label for="id_name">Cím:</label>
                <input type="text" name="name" id="id_name" class="wide_input" />
            </p>
            <p>
                <label for="id_url">URL:</label>
                <input type="text" name="url" id="id_url" class="wide_input" />
            </p>
            <p>
                <label for="id_lead">Lead (pár mondat, ami annyira felcsigázza az olvasót, hogy mindenképp rákattint a linkre):</label><br />
                <textarea name="lead" id="id_lead" rows="5"></textarea>
            </p>
            <p>
                <label for="id_author">Szerző KT-s neve (ha van):</label>
                <input type="text" name="author" id="id_author" class="input_for_user wide_input" />
            </p>
            <p><input type="submit" value="Cikk beküldése" /></p>
        </form>
    {% endif %}

    <table class="fullsize">
        <tr class="header_tr">
            <th style="width: 15%">Oldal</th>
            <th style="width: 70%">Cikk</th>
            <th style="width: 15%">Szerző</th>
        </tr>
        {% for article in articles %}
            <tr class="{% cycle '' 'odd' %}" style="vertical-align: top">
                <td>{{ article.link_domain }}</td>
                <td>
                    <b><a href="{{ article.url }}" target="_blank">{{ article.name }}</a></b><br />
                    {% autoescape off %}
                        {{ article.lead }}
                    {% endautoescape %}
                </td>
                <td>{% if article.author_user_id %}<a href="{% url 'user_profile' article.author_user_id article.author_slug_cache %}">{{ article.author_name }}</a>{% endif %}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
