<div class="comment_block">
    {% if show_comment_source %}
    <div class="comment_block_source">
        {% if comment.domain == 'F' %}
            <a href="{% url 'film_comments' comment.film.id comment.film.film_slug %}">{{ comment.film.orig_title }}</a>
        {% elif comment.domain == 'T' %}
            [<a href="{% url 'forum' comment.topic.id comment.topic.title|slugify %}">{{ comment.topic }}</a>]
        {% elif comment.domain == 'P' %}
            {{ comment.poll }}
        {% endif %}
    </div>
    {% endif %}
    <div class="comment_block_content">
        {% autoescape off %}
            <p>{{ comment.content|linebreaksbr }}</p>
        {% endautoescape %}
    </div>
    <div class="comment_block_author">
        <a href="{% url 'user_profile' comment.created_by.id comment.created_by.username|slugify %}">{{ comment.created_by }}</a>{% if comment.domain == 'F' %} ({% if comment.rating %}{{ comment.rating }}{% else %}?{% endif %}){% endif %}, {{ comment.created_at|date:"Y-m-d H:i:s" }}
    </div>
</div>
