<div class="film_addon">
    {% if show_addon_source %}
        <div class="film_addon_source">
            {% if addon_type == 'quote' %}
                <a href="{% url 'film_quotes' addon.film.id addon.film.slug_cache %}">{{ addon.film.orig_title }}</a>
            {% elif addon_type == 'trivia' %}
                <a href="{% url 'film_trivias' addon.film.id addon.film.slug_cache %}">{{ addon.film.orig_title }}</a>
            {% else %}
                <a href="{% url 'film_main' addon.film.id addon.film.slug_cache %}">{{ addon.film.orig_title }}</a>
            {% endif %}
        </div>
    {% endif %}
    <div class="film_addon_content">
        {% autoescape off %}
            <p{% if addon.spoiler %} class="spoiler"{% endif %}>{{ addon.content_html|linebreaksbr }}</p>
        {% endautoescape %}
    </div>
    <div class="film_addon_author">
        {% if addon.created_by %}
            <a href="{% url 'user_profile' addon.created_by.id addon.created_by.slug_cache %}">{{ addon.created_by }}</a>
        {% endif %}
    </div>
</div>
