{% load kt_extras %}
<div class="film_addon">
    {% if show_addon_source %}
        <div class="film_addon_source">
            {% if addon_type == 'quote' %}
                {{ addon.film|oneliner_film_url_html_w_year:"film_quotes" }}
            {% elif addon_type == 'trivia' %}
                {{ addon.film|oneliner_film_url_html_w_year:"film_trivias" }}
            {% else %}
                {{ addon.film|oneliner_film_url_html_w_year:"film_main" }}
            {% endif %}
        </div>
    {% endif %}
    <div class="film_addon_content">
        {% autoescape off %}
            <p{% if addon.spoiler %} class="spoiler"{% endif %}>{{ addon.content_html|linebreaksbr }}</p>
        {% endautoescape %}
    </div>
    <div class="film_addon_author">
        {% if addon.created_by %}
            <a href="{% url 'user_profile' addon.created_by.id addon.created_by.slug_cache %}">{{ addon.created_by }}</a>
        {% endif %}
    </div>
</div>
