<div class="comment_block">
    <div class="comment_block_author">
        {{ message.sent_at }} {% if message.sent_by %}<a href="{% url 'user_profile' message.sent_by.id message.sent_by.slug_cache %}">{{ message.sent_by }}</a>{% else %}?{% endif %} &gt; {% for recipient in message.recipients %}{% if recipient %}<a href="{% url 'user_profile' recipient.id recipient.slug_cache %}">{{ recipient }}</a>{% else %}?{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}
        <div class="comment_block_author_right">
            <a href="{% url 'new_message' %}?u={% for recipient in message.recipients %}{% if recipient %}{{ recipient.id }}{% endif %},{% endfor %}{{ message.sent_by.id }}">&larr;</a>
        </div>
    </div>
    <div class="comment_block_content">
        {% autoescape off %}
            <p>{{ message.content_html|linebreaksbr }}</p>
        {% endautoescape %}
    </div>
</div>
