{% extends "ktapp/layout.html" %}
{% load staticfiles %}
{% load kt_extras %}

{% block title %}Analytics - Kritikus Tömeg{% endblock %}

{% block header %}
    <h1>Analytics</h1>
{% endblock %}

{% block main %}

    <h2>Activity </h2>
    <div id="activity_chart_div"></div>

    <h2>Daily active users (active=any kind)</h2>
    <div id="dau_chart_div"></div>

    <h2>Weekly active users (active=any kind)</h2>
    <div id="wau_chart_div"></div>

    <h2>Email campaigns</h2>
    <table>
        <thead>
            <tr>
                <th>camp</th>
                <th>sent_at</th>
                <th>subject</th>
                <th>sent_to</th>
                <th>email#</th>
                <th>opened_by</th>
                <th>clicked_by</th>
                <th>open%</th>
                <th>open_email%</th>
                <th>click%</th>
                <th>click_email%</th>
            </tr>
        </thead>
        <tbody>
        {% for row in email_data %}
            <tr>
                {% for item in row %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart', 'line']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var activity_data = new google.visualization.DataTable();
            activity_data.addColumn('date', 'day');
            activity_data.addColumn('number', 'DAU');
            activity_data.addColumn('number', 'WAU');
            activity_data.addColumn('number', 'MAU');
            activity_data.addColumn('number', 'new');
            activity_data.addRows([
                {% for row in activity_data %}
                    [{{ row.0 }}, {{ row.1 }}, {{ row.2 }}, {{ row.3 }}, {{ row.4 }}]{% if not forloop.last %},{% endif %}
                {% endfor %}
            ]);
            var activity_options = {
                height: 400,
                isStacked: true,
                colors: ['red', 'orange', 'yellow', 'green'],
                chartArea: {
                    width: '90%',
                    height: '90%'
                },
                fontName: 'verdana',
                vAxis: {
                    minValue: 0
                },
                legend: {
                    position: 'in'
                },
                axisTitlesPosition: 'none'
            };

            var dau_data = new google.visualization.DataTable();
            dau_data.addColumn('date', 'day');
            dau_data.addColumn('number', 'DAU');
            dau_data.addColumn('number', 'MA7(DAU)');
            dau_data.addRows([
                {% for row in dau_data %}
                    [{{ row.0 }}, {{ row.1 }}, {{ row.2|escapejs }}]{% if not forloop.last %},{% endif %}
                {% endfor %}
            ]);
            var wau_data = new google.visualization.DataTable();
            wau_data.addColumn('date', 'day');
            wau_data.addColumn('number', 'WAU');
            wau_data.addRows([
                {% for row in wau_data %}
                    [{{ row.0 }}, {{ row.1 }}]{% if not forloop.last %},{% endif %}
                {% endfor %}
            ]);
            var line_options = {
                height: 400,
                chartArea: {
                    width: '90%',
                    height: '90%'
                },
                fontName: 'verdana',
                vAxis: {
                    minValue: 0
                },
                legend: {
                    position: 'in'
                },
                axisTitlesPosition: 'none'
            };

            var activity_chart = new google.visualization.AreaChart(document.getElementById('activity_chart_div'));
            activity_chart.draw(activity_data, activity_options);
            var dau_chart = new google.visualization.LineChart(document.getElementById('dau_chart_div'));
            dau_chart.draw(dau_data, line_options);
            var wau_chart = new google.visualization.LineChart(document.getElementById('wau_chart_div'));
            wau_chart.draw(wau_data, line_options);
        }
    </script>

{% endblock %}
