{% extends "ktapp/layout.html" %}

{% block title %}{{ artist.name }} - Kritikus Tömeg{% endblock %}

{% block header %}
    <h1>{{ artist.name }}</h1>
{% endblock %}

{% block main %}
<div class="centered_content">

{% if directions and director_vote_count >= actor_vote_count %}
    <h2>Rendezőként</h2>
    {% include 'ktapp/tables/directions.html' with directions=directions %}
{% endif %}
{% if roles %}
    <h2>Színészként</h2>
    {% include 'ktapp/tables/roles.html' with roles=roles %}
{% endif %}
{% if directions and actor_vote_count > director_vote_count %}
    <h2>Rendezőként</h2>
    {% include 'ktapp/tables/directions.html' with directions=directions %}
{% endif %}



    <h2>Díjak</h2>

</div>
{% endblock %}
