{% extends "ktapp/layout.html" %}

{% block title %}{{ artist.name }} - Kritikus Tömeg{% endblock %}

{% block header %}
    <h1>{{ artist.name }}</h1>
{% endblock %}

{% block main %}
<div class="centered_content">

    {% if random_picture %}
        <p style="text-align: center"><a href="{% url 'artist_pictures' artist.id artist.slug_cache %}"><img src="{{ random_picture.get_display_urls.mid }}" style="width: {{ random_picture.get_widths.mid }}px; height: {{ random_picture.get_heights.mid }}px" class="picture" /></a></p>
    {% endif %}

{% if directions and director_vote_count >= actor_vote_count %}
    <h2>Rendezőként{% if director_vote_count >= 50 %}<span class="artist_avg"> ({{ director_vote_avg|floatformat:"1" }})</span>{% endif %}</h2>
    {% include 'ktapp/tables/directions.html' with directions=directions %}
{% endif %}
{% if roles %}
    <h2>Színészként{% if actor_vote_count >= 50 %}<span class="artist_avg"> ({{ actor_vote_avg|floatformat:"1" }})</span>{% endif %}</h2>
    {% include 'ktapp/tables/roles.html' with roles=roles %}
{% endif %}
{% if directions and actor_vote_count > director_vote_count %}
    <h2>Rendezőként{% if director_vote_count >= 50 %}<span class="artist_avg"> ({{ director_vote_avg|floatformat:"1" }})</span>{% endif %}</h2>
    {% include 'ktapp/tables/directions.html' with directions=directions %}
{% endif %}

    {% if awards %}
    <h2>Díjak</h2>
    {% include 'ktapp/tables/awards.html' with awards=awards show_film=True %}
    {% endif %}

    {% if biographies %}
        <h2>Portré{% if biographies.count > 1 %}k{% endif %}</h2>
        {% for bio in biographies %}
            <div class="film_addon">
                <div class="portrait_author">
                    {{ bio.created_at|date:"Y-m-d" }} <a href="{% url 'user_profile' bio.created_by.id bio.created_by.slug_cache %}">{{ bio.created_by }}</a>
                </div>
                <div class="film_addon_content">
                    {% autoescape off %}
                        {{ bio.content_html|linebreaks }}
                    {% endautoescape %}
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if permission_approve_bio and unapproved_biographies %}
        <h2>Elfogadásra váró portré{% if unapproved_biographies.count > 1 %}k{% endif %}</h2>
        {% for bio in unapproved_biographies %}
            <div class="film_addon">
                <div class="portrait_author">
                    {{ bio.created_at|date:"Y-m-d" }} <a href="{% url 'user_profile' bio.created_by.id bio.created_by.slug_cache %}">{{ bio.created_by }}</a>
                </div>
                <div class="film_addon_content">
                    {% autoescape off %}
                        {{ bio.content_html|linebreaks }}
                    {% endautoescape %}
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {% if permission_edit_artist %}
        <h3>Színész/rendező módosítása</h3>
        <form action="" method="post">
            {% csrf_token %}
            <p>
                <label for="id_artist_name">Név:</label>
                <input type="text" name="artist_name" id="id_artist_name" value="{{ artist.name }}" />
            </p>
            <p>
                <label for="id_artist_gender">Nem:</label>
                <select name="artist_gender" id="id_artist_gender">
                    <option value="U"{% if artist.gender == 'U' %} selected="selected"{% endif %}>???</option>
                    <option value="M"{% if artist.gender == 'M' %} selected="selected"{% endif %}>férfi</option>
                    <option value="F"{% if artist.gender == 'F' %} selected="selected"{% endif %}>nő</option>
                </select>
            </p>
            <p>
                <input type="submit" value="Módosítás" />
            </p>
        </form>
        {% if permission_merge_artist and similar_artists %}
            <h3>Színész/rendező összevonása</h3>
            {% for a in similar_artists %}
                <form action="{% url 'merge_artist' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="artist_1" value="{{ artist.id }}" />
                    <input type="hidden" name="artist_2" value="{{ a.id }}" />
                    <p>{{ a.name }} <input type="submit" value="Összevonás" /></p>
                </form>
            {% endfor %}
        {% endif %}
    {% endif %}

</div>
{% endblock %}
