{% extends "ktapp/layout.html" %}

{% block title %}{{ artist.name }} - Kritikus Tömeg{% endblock %}

{% block header %}
    <h1>{{ artist.name }}</h1>
{% endblock %}

{% block main %}
<div class="centered_content">

{% if directions and director_vote_count >= actor_vote_count %}
    <h2>Rendezőként{% if director_vote_count >= 50 %}<span class="artist_avg"> ({{ director_vote_avg|floatformat:"1" }})</span>{% endif %}</h2>
    {% include 'ktapp/tables/directions.html' with directions=directions %}
{% endif %}
{% if roles %}
    <h2>Színészként{% if actor_vote_count >= 50 %}<span class="artist_avg"> ({{ actor_vote_avg|floatformat:"1" }})</span>{% endif %}</h2>
    {% include 'ktapp/tables/roles.html' with roles=roles %}
{% endif %}
{% if directions and actor_vote_count > director_vote_count %}
    <h2>Rendezőként{% if director_vote_count >= 50 %}<span class="artist_avg"> ({{ director_vote_avg|floatformat:"1" }})</span>{% endif %}</h2>
    {% include 'ktapp/tables/directions.html' with directions=directions %}
{% endif %}

    {% if awards %}
    <h2>Díjak</h2>
    {% include 'ktapp/tables/awards.html' with awards=awards show_film=True %}
    {% endif %}

    {% if biographies %}
        <h2>Portré{% if biographies.count > 1 %}k{% endif %}</h2>
        {% for bio in biographies %}
            <div class="film_addon">
                <div class="film_addon_content">
                    {% autoescape off %}
                        {{ bio.content_html|linebreaks }}
                    {% endautoescape %}
                </div>
                <div class="film_addon_author">
                    <a href="{% url 'user_profile' bio.created_by.id bio.created_by.slug_cache %}">{{ bio.created_by }}</a>, {{ bio.created_at|date:"Y-m-d" }}
                </div>
            </div>
        {% endfor %}
    {% endif %}

</div>
{% endblock %}
