{% extends "ktapp/layout.html" %}
{% load kt_extras %}

{% block title %}{{ artist.name }} - Kritikus Tömeg{% endblock %}

{% block meta_description %}{{ artist.name }} színész/rendező: képek{% endblock %}

{% block header %}
    <h1 style="margin-bottom: 0">{{ artist.name }} képei</h1>
    <p><a href="{% url 'artist' artist.id artist.slug_cache %}">vissza a szerepeihez, rendezéseihez...</a></p>
{% endblock %}

{% block main %}
<div class="row">
    <div class="central-column-max">

        {% if picture %}
            <div class="center jumptarget_wrapper" style="min-height: {{ pic_height|add:5 }}px">
                <div class="mobile-scroller">
                    <a href="{% url 'artist_picture' artist.id artist.slug_cache next_picture.id %}#pix"><img src="{{ picture.get_display_urls.max }}" style="width: {{ picture.get_widths.max }}px; height: {{ picture.get_heights.max }}px" class="picture" /></a>
                </div>
                <a name="pix" class="jumptarget"></a>
                <br />
                {% if picture.film %}
                    {% for artist in artists %}{% if not forloop.first %}{% if forloop.last %} és {% else %}, {% endif %}{% endif %}<a href="{% url 'artist' artist.id artist.slug_cache %}">{{ artist.name }}</a>{% endfor %} {{ film_title_article }} {{ film|oneliner_film_url_html_w_year:"film_pictures" }} című filmben
                {% else %}
                    <a href="{% url 'artist' artist.id artist.slug_cache %}">{{ artist.name }}</a>
                {% endif %}
                {% if picture.created_by or picture.source_url %}
                    <span class="picture_source"><br />
                        {% if picture.source_url %}
                            forrás: <a href="{{ picture.source_url }}" target="_blank">{{ picture.get_source_domain }}</a>{% endif %}{% if picture.created_by %}{% if picture.source_url %},{% endif %}
                            feltöltötte: <a href="{% url 'user_profile' picture.created_by.id picture.created_by.slug_cache %}">{{ picture.created_by.username }}</a>
                        {% endif %}
                    </span>
                {% endif %}
            </div>
            {% if permission_set_main_picture and picture.number_of_artists == 1 %}
                <div class="main_poster_edit_block" style="margin: 20px">
                    {% if picture.id != artist.main_picture.id %}
                        <form action="{% url 'set_main_picture' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="picture" value="{{ picture.id }}" />
                            <p class="center"><input type="submit" class="small_button" value="Kép beállítása profilképnek" /></p>
                        </form>
                    {% else %}
                        <p class="center">{{ artist.name }} profilképe.</p>
                    {% endif %}
                </div>
            {% endif %}
            {% if permission_set_main_picture and picture.artist != None %}
                <p class="center">
                    <a href="{% url 'crop_picture' picture.id %}">Profilkép méretre vágása</a>
                </p>
            {% endif %}
            {% if permission_delete_picture and picture.film == None %}
                <p style="text-align: center; font-size: 8pt">(<span class="action_text" id="show_picture_delete_button">kép törlése</span>)</p>
                <div class="picture_delete_block" style="display: none">
                    <form action="{% url 'delete_picture' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="picture" value="{{ picture.id }}" />
                        <p class="center"><input type="submit" value="Kép törlése" /></p>
                    </form>
                </div>
            {% endif %}
        {% endif %}

        {% if pictures|length > 1 %}
            {% for picture in pictures %}
                <a href="{% url 'artist_picture' artist.id artist.slug_cache picture.id %}#pix"><img src="{{ picture.get_display_urls.min }}" style="width: {{ picture.get_widths.min }}px; height: {{ picture.get_heights.min }}px" class="kt-thumbnail" /></a>
            {% endfor %}
        {% endif %}

        {% if permission_set_main_picture %}
            <h3>Új profilkép feltöltése</h3>
            <ul>
                <li>A kép legyen legalább 720 pixel széles, maximum kb 2000 pixel. Ha kevéssé híres színészről van szó, és alig van kép a neten, jó a kisebb kép is.</li>
                <li><b>Négyzet alakú</b> vagy annál szélesebb legyen, aminek ha a rendszer automatice levágja a két szélét (négyzet alakúra), akkor is látszódik a szinész arca.</li>
                <li>A kép a <b>színész arcát</b> mutassa, hogy kicsiben is fel lehessen ismerni, vagyis ne egész alakos legyen.</li>
                <li>Minél "semlegesebb" a kép, annál jobb. Vagyis <b>a színészre legyen jellemző, ne valamelyik konkrét szerepére</b>. Semmiképp se legyen maszkos vagy erőteljesen kosztümös.</li>
            </ul>
            <form action="{% url 'new_picture' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="artist" value="{{ artist.id }}" />
                <p><label for="id_img">Kép:</label> <input type="file" name="img" id="id_img" /></p>
                <p><label for="id_source_url">Honnan való? (a kép pontos webcíme, nem csak az oldalé)</label> <input type="text" name="source_url" id="id_source_url" maxlength="250" /></p>
                <p class="center"><input type="submit" value="Profilkép feltöltése" /></p>
            </form>
        {% endif %}

    </div>
</div>
{% endblock %}
