{% extends "ktapp/layout.html" %}
{% load kt_extras %}

{% block title %}Kritikus Tömeg{% endblock %}

{% block header %}
    <h1>Változások</h1>
{% endblock %}

{% block main %}

    <table class="fullsize">
        <tr class="header_tr">
            <th>Ki</th>
            <th>Mikor</th>
            <th colspan="2">Mit</th>
            <th>Miről</th>
            <th>Mire</th>
        </tr>
        {% for change in changes %}
            <tr class="{% cycle '' 'odd' %}" style="vertical-align: top">
                <td>{{ change.created_by.username }}</td>
                <td class="nowrap">{{ change.created_at|date:"Y-m-d H:i:s" }}</td>
                <td>{{ change.action }}</td>
                <td>{{ change.object }}</td>
                <td>
                    {% for key, val in change.state_before.items %}
                        <b>{{ key }}:</b> {{ val }}<br />
                    {% endfor %}
                </td>
                <td>
                    {% for key, val in change.state_after.items %}
                        <b>{{ key }}:</b> {{ val }}<br />
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
