{% extends "ktapp/layout.html" %}
{% load kt_extras %}

{% block title %}Kritikus Tömeg{% endblock %}

{% block header %}<h1>Jelszó módosítása</h1>{% endblock %}

{% block main %}

    {% if error_type %}
        <p class="error">
            {% if error_type == 'robot' %}
                Ezen az oldalon csak emberek módisíthatnak jelszót.
            {% elif error_type == 'old_password_invalid' %}
                Véletlenül elgépelted a jelenlegi jelszavad. Légyszi próbáld újra.
            {% elif error_type == 'new_password_short' %}
                Az új jelszó legalább 6 karakter kell, hogy legyen. Válassz hosszabbat.
            {% elif error_type == 'new_password_mismatch' %}
                Másodszorra véletlenül elgépelted az új jelszót. Légyszi próbáld újra.
            {% endif %}
        </p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <p>Jelenlegi jelszó: <input type="password" name="old_password" class="focus_this" /></p>
        <p>Új jelszó: <input type="password" name="new_password1" /> (legalább 6 karakter)</p>
        <p>Új jelszó még egyszer: <input type="password" name="new_password2" /> (a biztonság kedvéért)</p>
        <p class="reg_optional">Robot vagy? <input type="checkbox" name="accept" /></p>
        <p>
            <input type="submit" value="Jelszó módosítása" />
            <a href="{% url 'user_profile' user.id user.slug_cache %}" class="button small_button" style="float: right">Mégsem</a>
        </p>
    </form>

{% endblock %}
