{% extends "ktapp/layout.html" %}

{% block title %}Jófejek - Kritikus Tömeg{% endblock %}

{% block header %}
    <h1>Jófejek</h1>
{% endblock %}

{% block main %}
<div class="row">
    <div class="central-column-max">
        <p>Felhasználók, akik a legtöbb tartalmat adták az oldalhoz.</p>
        <table class="fullsize sortable">
            <thead>
                <tr class="header_tr">
                    <th data-sort="int">#</th>
                    <th data-sort="string">User</th>
                    <th data-sort="int" data-sort-default="desc">Filmek</th>
                    <th data-sort="int" data-sort-default="desc">Szereplők</th>
                    <th data-sort="int" data-sort-default="desc">Képek</th>
                    <th data-sort="int" data-sort-default="desc">Kulcsszavak</th>
                    <th data-sort="int" data-sort-default="desc">Cikkek</th>
                    <th data-sort="int" data-sort-default="desc">Idézetek</th>
                    <th data-sort="int" data-sort-default="desc">Érdekességek</th>
                    <th data-sort="int" data-sort-default="desc">Kritikák</th>
                    <th data-sort="int" data-sort-default="desc">Életrajzok</th>
                    <th data-sort="int" data-sort-default="desc">Toplisták</th>
                    <th data-sort="int" data-sort-default="desc">Szavazások</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr class="{% cycle '' 'odd' %}">
                    <td class="center">{{ forloop.counter }}</td>
                    <td><a href="{% url 'user_profile' user.id user.slug_cache %}">{{ user.username }}</a></td>
                    <td class="center">{{ user.count_film }}</td>
                    <td class="center">{{ user.count_role }}</td>
                    <td class="center">{{ user.count_picture }}</td>
                    <td class="center">{{ user.count_keyword }}</td>
                    <td class="center">{{ user.count_link }}</td>
                    <td class="center">{{ user.count_quote }}</td>
                    <td class="center">{{ user.count_trivia }}</td>
                    <td class="center">{{ user.count_review }}</td>
                    <td class="center">{{ user.count_biography }}</td>
                    <td class="center">{{ user.count_usertoplist }}</td>
                    <td class="center">{{ user.count_poll }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
