{% extends "ktapp/layout.html" %}
{% load kt_extras %}
{% load static %}

{% block header %}
    <h1>Profilkép méretre vágása</h1>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'ktapp/css/cropper.min.css' %}" />
    <style type="text/css">
        img {
            max-width: 100%;
        }
    </style>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'ktapp/js/cropper.min.js' %}" defer></script>
    <script src="{% static 'ktapp/js/kt-cropper.js' %}" defer></script>
{% endblock %}

{% block main %}
<div class="row">
    <div class="central-column">
        <div style="display: flex; align-items: flex-end; justify-content: space-between">
            <div style="flex: 0 0 100px">
                <div id="crop_preview" style="width: 50px; height: 50px; overflow: hidden"></div>
            </div>
            <div>
                <img id="image" src="{{ picture.get_display_urls.max }}">
            </div>
        </div>

        <br />
        <form action="{% url 'crop_picture' picture.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="x" id="picture_x" />
            <input type="hidden" name="y" id="picture_y" />
            <input type="hidden" name="w" id="picture_w" />
            <input type="hidden" name="h" id="picture_h" />
            <p class="center">
            </p>
            <p>
                <input type="submit" value="Kép méretre vágása" />
                <a href="{% url 'artist_picture' artist.id artist.slug_cache picture.id %}#pix" class="button small_button" style="float: right">Mégsem</a>
            </p>
        </form>

    </div>
</div>
{% endblock %}
