{% extends "ktapp/layout.html" %}
{% load kt_extras %}

{% block title %}Kedvenceid - Kritikus Tömeg{% endblock %}

{% block header %}
    <h1>Kedvenceid</h1>
{% endblock %}

{% block main %}

    {% if request.user.is_authenticated %}

    <div class="row">
        <div class="central-column">
    {% if favourites %}
        <p>Kedvenceid: {% for fav in favourites %}<a href="{% url 'user_profile' fav.id fav.slug_cache %}">{{ fav.username }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">

        {% if latest_votes %}
            <h2>Legutóbbi szavazataik</h2>
            <table class="fullsize">
                <tr class="header_tr">
                    <th>Mikor</th>
                    <th>Ki</th>
                    <th>Film</th>
                    <th>Szavazat</th>
                    <th>Átlag</th>
                </tr>
                {% for vote in latest_votes %}
                    <tr class="{% cycle '' 'odd' %}">
                        <td class="center">{{ vote.when|date:"m-d" }}</td>
                        <td><a href="{% url 'user_profile' vote.user.id vote.user.slug_cache %}">{{ vote.user.username }}</a></td>
                        <td>{{ vote.film|film_url_html }}</td>
                        <td class="center">{{ vote.rating }}</td>
                        <td class="center">{{ vote.film|film_rating_html }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        </div>
        <div class="col-sm-6">

        {% if latest_comments %}
            <h2>Legutóbbi kommentjeik</h2>
            {% for c in latest_comments %}
                {% include 'ktapp/blocks/comment_block.html' with comment=c show_comment_source=True %}
            {% endfor %}
        {% endif %}

        </div>
    </div>

    {% else %}

    <div class="row">
        <div class="central-column">
            <p>Ha <a href="{% url 'registration' %}?next={{ request.build_absolute_uri }}">regisztrálsz</a> az oldalon, bejelölheted azokat a usereket, akiknek hozzád hasonló az ízlése vagy számodra érdekes kommenteket írnak. Ezután ebben a menüben láthatod az ő legfrissebb szavazataikat és hozzászólásaikat.</p>
        </div>
    </div>

    {% endif %}

{% endblock %}
