{% extends "ktapp/layout.html" %}

{% block title %}{{ film.orig_title }} [{{ film.year }}] - Kritikus Tömeg{% endblock %}

{% block header %}
    <div id="film_header">
        <div id="film_title">
            <h1>{{ film.orig_title }} [{{ film.year }}]</h1>
            {% if film.other_titles %}
                <h2>{{ film.other_titles|linebreaksbr }}</h2>
            {% endif %}
            {% if film.directors %}
                <h3>({% for director in film.directors %}<a href="{% url 'artist' director.id director.name|slugify %}">{{ director.name }}</a>{% if not forloop.last %} - {% endif %}{% endfor %})</h3>
            {% endif %}
            {% if film.countries or film.genres %}
                <p>
                    {% for country in film.countries %}{{ country.name }}{% if not forloop.last %}-{% endif %}{% endfor %}
                    {% if film.genres %}
                        {% for genre in film.genres %}{{ genre.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    {% else %}
                        film
                    {% endif %}
                </p>
            {% endif %}
        </div>
        {% if film.num_rating %}
        <div id="film_rating">
            <div id="film_rating_num">{{ film.num_rating }} szavazat<br />átlaga:</div>
            <div id="film_rating_avg">{{ film.avg_rating|floatformat:2 }}</div>
        </div>
        {% endif %}
        <div id="film_misc_info">
            <ul>
                <li>
                    <span>{% if film.imdb_link %}<a href="http://www.imdb.com/title/{{ film.imdb_link }}/">IMDb</a> {{ film.imdb_real_rating|floatformat:1 }}{% endif %}</span>
                    <span>{% if film.porthu_link %}<a href="http://www.port.hu/pls/fi/films.film_page?i_where=2&i_film_id={{ film.porthu_link }}&i_city_id=-1&i_county_id=1">PORT.hu</a>{% endif %}</span>
                </li>
                <li>
                    <span>{% if film.imdb_link %}<a href="http://uk.rottentomatoes.com/alias?type=imdbid&s={{ film.imdb_link|slice:'2:' }}">RT</a>{% endif %}</span>
                    <span><a href="http://www.youtube.com/results?search_query={{ film.orig_title|urlencode }}+trailer&search=Search">YouTube</a></span>
                </li>
                <li>
                    {% if film.wikipedia_link_en %}
                    <span><a href="{{ film.wikipedia_link_en }}">Wikipedia</a></span>
                    {% else %}
                    <span><a href="http://en.wikipedia.org/w/wiki.phtml?search={{ film.orig_title|urlencode }}">Wikipedia</a></span>
                    {% endif %}
                    {% if film.wikipedia_link_hu %}
                    <span><a href="{{ film.wikipedia_link_hu }}">Wikipédia</a></span>
                    {% endif %}
                </li>
                <li>
                    Bemutató(k)
                </li>
                <li>
                    Tévé
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block main %}

    <nav id="tabs" class="clearfix">
        <ul>
            <li style="width: 7%"{% if active_tab == 'main' %} class="active_tab"{% endif %}><a href="{% url 'film_main' film.id film.orig_title|slugify %}">főoldal</a></li>
            <li style="width: 9%">képek</li>
            <li style="width: 8%"{% if active_tab == 'awards' %} class="active_tab"{% endif %}><a href="{% url 'film_awards' film.id film.orig_title|slugify %}"{% if not film.number_of_awards %} class="inactive_action"{% endif %}>díjak</a>{% if film.number_of_awards %}<span class="tab_count"> ({{ film.number_of_awards }})</span>{% endif %}</li>
            <li style="width: 12%"{% if active_tab == 'reviews' %} class="active_tab"{% endif %}><a href="{% url 'film_reviews' film.id film.orig_title|slugify %}"{% if not film.number_of_reviews %} class="inactive_action"{% endif %}>elemzések</a>{% if film.number_of_reviews %}<span class="tab_count"> ({{ film.number_of_reviews }})</span>{% endif %}</li>
            <li style="width: 15%"{% if active_tab == 'comments' %} class="active_tab"{% endif %}><a href="{% url 'film_comments' film.id film.orig_title|slugify %}"{% if not film.number_of_comments %} class="inactive_action"{% endif %}>vélemények</a>{% if film.number_of_comments %}<span class="tab_count"> ({{ film.number_of_comments }})</span>{% endif %}</li>
            <li style="width: 11%"{% if active_tab == 'quotes' %} class="active_tab"{% endif %}><a href="{% url 'film_quotes' film.id film.orig_title|slugify %}"{% if not film.number_of_quotes %} class="inactive_action"{% endif %}>idézetek</a>{% if film.number_of_quotes %}<span class="tab_count"> ({{ film.number_of_quotes }})</span>{% endif %}</li>
            <li style="width: 14%"{% if active_tab == 'trivias' %} class="active_tab"{% endif %}><a href="{% url 'film_trivias' film.id film.orig_title|slugify %}"{% if not film.number_of_trivias %} class="inactive_action"{% endif %}>érdekességek</a>{% if film.number_of_trivias %}<span class="tab_count"> ({{ film.number_of_trivias }})</span>{% endif %}</li>
            <li style="width: 14%"{% if active_tab == 'keywords' %} class="active_tab"{% endif %}><a href="{% url 'film_keywords' film.id film.orig_title|slugify %}"{% if not film.number_of_keywords %} class="inactive_action"{% endif %}>kulcsszavak</a>{% if film.number_of_keywords %}<span class="tab_count"> ({{ film.number_of_keywords }})</span>{% endif %}</li>
            <li style="width: 9%">linkek</li>
        </ul>
    </nav>

    <div id="film_main">
        {% block film_main %}{% endblock %}
    </div>

{% endblock %}
