{% extends "ktapp/film_base.html" %}

{% block film_main %}

    <div id="film_centered">
        <h2>Ország</h2>
        {% for country in film.countries %}{{ country.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
        <h2>Műfaj</h2>
        {% for genre in film.genres %}{{ genre.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
        <h2>Meghatározó</h2>
        {% for keyword in major_keywords %}{{ keyword.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
        <h2>Egyéb</h2>
        {% for keyword in other_keywords %}{{ keyword.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
    </div>

{% endblock %}
