{% extends "ktapp/film_base.html" %}

{% block film_main %}

    <div id="film_main_voting">
        <h2>Szerinted milyen?</h2>
        {% if user.is_authenticated %}
            <div id="film_your_rating">
            {% for r in ratings %}
            {% cycle 'nézhetetlen' 'rossz' 'oké/elmegy' 'jó' 'zseniális' as named_rating silent %}
                {% if r == rating %}
                    <b>{{ named_rating }}</b>
                {% else %}
                    <form action="{% url 'vote' %}" method="post" class="inline">
                        {% csrf_token %}
                        <input type="hidden" name="film_id" value="{{ film.pk }}" />
                        <input type="hidden" name="rating" value="{{ r }}" />
                        <input type="submit" value="{{ named_rating }}"{% if rating %} class="inactive_action"{% endif %} />
                    </form>
                {% endif %}
            {% endfor %}
            </div>
            <div>
            {% if rating == 0 %}
                <b>Nem tudom.</b>
            {% else %}
                <form action="{% url 'vote' %}" method="post" class="inline">
                    {% csrf_token %}
                    <input type="hidden" name="film_id" value="{{ film.pk }}" />
                    <input type="hidden" name="rating" value="0" />
                    <input type="submit" value="Nem tudom." class="small_button inactive_action no_bottom" />
                </form>
            {% endif %}
            </div>
        {% else %}
            <p>Ahhoz, hogy szavazhass, be kell <a href="{% url 'login' %}">jelentkezned</a>.</p>
        {% endif %}
    </div>

    <div class="clearfix">
        <div id="film_main_left">
            {% if film.plot_summary %}
                <p class="textblock">{{ film.plot_summary|linebreaksbr }}</p>
            {% endif %}
            <ul id="film_votes">
            {% for vote in votes reversed %}
            {% cycle 'zseniális' 'jó' 'oké/elmegy' 'rossz' 'nézhetetlen' as named_rating silent %}
                {% if vote %}
                <li>{{ vote|length }} {{ named_rating }}:
                    {% for voteuser in vote %}
                        <a href="">{{ voteuser.user.username }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        <div id="film_main_right">
            {% if roles %}
                <table class="fullsize">
                {% for role in roles %}
                    <tr class="{% cycle 'odd' '' %}">
                        <td><a href="{% url 'role' role.id role.role_name|slugify %}">{{ role.role_name }}</a>{% if role.actor_subtype == 'V' %} (hangja){% endif %}{% if role.actor_subtype == 'D' %} (magyar hangja){% endif %}</td>
                        <td><a href="{% url 'artist' role.artist.id role.artist.name|slugify %}">{{ role.artist.name }}</a></td>
                    </tr>
                {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>

{% endblock %}
