{% extends "ktapp/layout.html" %}

{% block title %}{{ film.orig_title }} [{{ film.year }}] - Kritikus Tömeg{% endblock %}

{% block header %}
    <h1>{{ film.orig_title }} [{{ film.year }}]</h1>
    {% if film.other_titles %}
        <h2>{{ film.other_titles|linebreaksbr }}</h2>
    {% endif %}
{% endblock %}

{% block main %}

    {% if film.plot_summary %}
        <p>{{ film.plot_summary|linebreaksbr }}</p>
    {% endif %}

    <h2>Szerinted</h2>
    {% if user.is_authenticated %}
        <div>
        {% for r in ratings %}
            {% if r == rating %}
                <b>{{ r }}</b>
            {% else %}
                <form action="{% url 'vote' %}" method="post" class="inline">
                    {% csrf_token %}
                    <input type="hidden" name="film_id" value="{{ film.pk }}" />
                    <input type="hidden" name="rating" value="{{ r }}" />
                    <input type="submit" value="{{r}}" />
                </form>
            {% endif %}
        {% endfor %}
        </div>
        <div>
        {% if rating == 0 %}
            <b>Nem tudom.</b>
        {% else %}
            <form action="{% url 'vote' %}" method="post" class="inline">
                {% csrf_token %}
                <input type="hidden" name="film_id" value="{{ film.pk }}" />
                <input type="hidden" name="rating" value="0" />
                <input type="submit" value="Nem tudom." />
            </form>
        {% endif %}
        </div>
    {% else %}
        <p>Ahhoz, hogy szavazhass, be kell <a href="{% url 'login' %}">jelentkezned</a>.</p>
    {% endif %}

    <h2>Kommentek{% if comments %} ({{ comments.count }}){% endif %}</h2>
    {% if user.is_authenticated %}
        <form action="{% url 'new_comment' %}" method="post">
            {% csrf_token %}
            {% for hidden in comment_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {{ comment_form.content.errors }}
            {{ comment_form.content }}
            <p><input type="submit" value="Ez a véleményem!!!" /></p>
        </form>
    {% else %}
        <p>Ahhoz, hogy kommentelhess, be kell <a href="{% url 'login' %}">jelentkezned</a>.</p>
    {% endif %}
    {% if comments %}
        {% for c in comments %}
            <h3>{{ c.created_at }} {{ c.created_by }}</h3>
            <p>{{ c.content }}</p>
        {% endfor %}
    {% else %}
        <p>Nincsenek.</p>
    {% endif %}

{% endblock %}
