{% extends "ktapp/film_base.html" %}
{% load staticfiles %}

{% block film_main %}

    <div id="film_centered">
        {% if picture %}
        <p class="center jumptarget_wrapper" style="height: {{ pic_height|add:5 }}px">
            <a href="{% url 'film_picture' film.id film.film_slug next_picture.id %}#pix"><img src="{{ picture.get_display_url_mid }}" style="width: {{ picture.get_width_mid }}px; height: {{ picture.get_height_mid }}px" class="picture" /></a>
            <a name="pix" class="jumptarget"></a>
        </p>
        {% endif %}
        <p>
        {% for picture in pictures %}
            <a href="{% url 'film_picture' film.id film.film_slug picture.id %}#pix"><img src="{{ picture.get_display_url_min }}" style="width: {{ picture.get_width_min }}px; height: {{ picture.get_height_min }}px" class="thumbnail" /></a>
        {% endfor %}
        </p>
        {% if user.is_authenticated %}
            <form action="{% url 'new_picture' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for hidden in upload_form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in upload_form.visible_fields %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}
                <p class="center"><input type="submit" value="Mehet." /></p>
            </form>
        {% else %}
            <p>Ahhoz, hogy képet tudj feltölteni, be kell <a href="{% url 'login' %}">jelentkezned</a>.</p>
        {% endif %}
    </div>

{% endblock %}
