{% extends "ktapp/layout.html" %}
{% load staticfiles %}
{% load kt_extras %}
{% load humanize %}

{% block title %}Kassza - Kritikus Tömeg{% endblock %}

{% block header %}
    <h1>Kassza</h1>
{% endblock %}

{% block main %}

    <p>A Kritikus Tömeg éves szerverköltsége 100 ezer forint. Ha csak 50 ember dönt úgy, hogy rászán évi 2000 forintot, akkor a szerver fennmarad. Itt láthatod, mennyi van a kasszában (illetve mennyi hiányzik belőle), és ha úgy érzed, belefér a büdzsédbe, kérjük, támogass minket:</p>
    <div class="finance_container">
        <div class="finance_outer">
            <div class="finance_inner">
                <div class="finance_innermost">
                    <div class="finance_marker" style="width: {{ finance_status }}%"></div>
                    <div class="finance_label">{{ finance_amount|intcomma }} Ft</div>
                </div>
            </div>
        </div>
    </div>
    <p>Ha szeretnél hozzájárulni az oldal fennmaradásához, erre a számlaszámra utalhatsz:</p>
    <p class="finance_target">
        Németh András<br />
        12010154-00562473-00100006 (Raiffeisen Bank)*<br />
        megjegyzés/közlemény: az itteni felhasználóneved
    </p>
    <p>Előre is köszönjük a támogatást!</p>
    <p class="small_text">
        *Ha külföldről utalsz, akkor a nemzetközi számlaszám:<br />
        IBAN: HU64-12010154-00562473-00100006<br />
        SWIFT: UBRT HU HB
    </p>
    <p><br /></p>
    <p>
        Eddigi támogatóink:
        {% for user in donators %}
            <a href="{% url 'user_profile' user.id user.slug_cache %}">{{ user.username }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
    </p>

{% endblock %}
