{% extends "ktapp/layout.html" %}
{% load staticfiles %}
{% load kt_extras %}
{% load humanize %}

{% block title %}Kassza - Kritikus Tömeg{% endblock %}

{% block header %}
    <h1>Kassza</h1>
{% endblock %}

{% block main %}
<div class="row">
    <div class="central-column">
    {% include 'ktapp/blocks/finance_block.html' %}
    <h2>Eddigi támogatóink</h2>
    <p>
        {% for user in donors %}
            <a href="{% url 'user_profile' user.id user.slug_cache %}">{{ user.username }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
    </p>
    <h2>Korábbi évek elszámolása</h2>
    <table class="fullsize">
        <thead>
            <tr class="header_tr">
                <th>Év**</th>
                <th>Nyitó</th>
                <th>Támogatások</th>
                <th>Szerver költség</th>
                <th>Záró</th>
            </tr>
        </thead>
        <tbody>
            {% for finance in finance_per_year %}
            <tr class="{% cycle '' 'odd' %}">
                <td class="center">{{ finance.0 }}</td>
                <td class="right">{{ finance.1|intcomma }}</td>
                <td class="right">{{ finance.2|intcomma }}</td>
                <td class="right">{{ finance.3|intcomma }}{% if finance.5 %}*{% endif %}</td>
                <td class="right">{{ finance.4|intcomma }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p class="small_text">* Becsült összeg</p>
    <p class="small_text">** 2003-tól 2008-ig nem gyűjtöttünk pénzt, és nincsenek is rendes adatok (a látogatottsággal párhuzamosan nőtt a szerver költség), ezek az évek ezért nem szerepelnek a fenti táblázatban.</p>

    </div>
</div>
{% endblock %}
