{% extends "ktapp/layout.html" %}

{% block title %}{{ topic.title }} - Fórum - Kritikus Tömeg{% endblock %}

{% block header %}
    <h1>{{ topic.title }}</h1>
    <p class="title_comment">(<a href="{% url 'list_of_topics' %}">vissza a topikok listájához</a>)</p>
{% endblock %}

{% block main %}
<div class="centered_content">

    {% if topic.id == 38 %}
        <ul>
            <li>Vasárnaponként, 20:00-kor megjelenik 10 kép (az időpont és a képek száma változhat, de a játékvezető erről előre szólni fog). A feladat egyszerű: ki kell találni, melyik kép melyik filmből való.</li>
            <li>Megfejtésként csak magyar címet fogad el a játékvezető.</li>
            <li>Amennyiben több filmnek is ugyanaz a magyar címe, abban az esetben kötelező a tipp mögé zárójelbe odaírni vagy a rendező nevét, vagy a film gyártási évét!</li>
            <li>A segítség nélkül kitalált képekért 2, a segítséggel kitalált képekért 1 pont jár! (Holtverseny: Az adott forduló kezdésétől számított egy órán belül a 20 másodpercen belül érkező, ugyanarra a képre leadott helyes válasz minden megfejtője 2 pontot kap. Ezt követően az időkorlát 5 másodpercre szűkül.)</li>
        </ul>
    {% endif %}

    {% if closed %}
        <p class="error">A topik {{ topic.closed_until|date:"Y-m-d H:i" }}-ig le van zárva. A megnyitásig hátravan {% if closed_seconds > 300 %}{{ topic.closed_until|timeuntil }}{% else %}{{ closed_seconds }} másodperc{% endif %}.</p>
    {% endif %}

    {% if not closed or request.user.is_authenticated and request.user.is_game_master and topic.id == 38 %}
        {% include 'ktapp/blocks/new_comment_block.html' %}
    {% endif %}

    {% if max_pages >= 2 %}
        <ul class="paging">
            <li>{% if p == 1 %}<b>1</b>{% else %}<a href="{% url 'forum' topic.id topic.slug_cache %}">1</a>{% endif %}</li>
            {% if p >= 4 %}
                <li class="paging_ellipsis">...</li>
            {% endif %}
            {% if p >= 3 %}
                <li><a href="{% url 'forum' topic.id topic.slug_cache %}?p={{ p|add:"-1" }}">{{ p|add:"-1" }}</a></li>
            {% endif %}
            {% if 2 <= p and p <= max_pages|add:"-1" %}
                <li><b>{{ p }}</b></li>
            {% endif %}
            {% if p <= max_pages|add:"-2" %}
                <li><a href="{% url 'forum' topic.id topic.slug_cache %}?p={{ p|add:"1" }}">{{ p|add:"1" }}</a></li>
            {% endif %}
            {% if p <= max_pages|add:"-3" %}
                <li class="paging_ellipsis">...</li>
            {% endif %}
            <li>{% if p == max_pages %}<b>{{ max_pages }}</b>{% else %}<a href="{% url 'forum' topic.id topic.slug_cache %}?p={{ max_pages }}">{{ max_pages }}</a>{% endif %}</li>
        </ul>
    {% endif %}

    {% if request.user.is_authenticated and request.user.is_game_master and topic.id == 38 %}
        <p><span id="close_topic_opener" class="action_text">Topik lezárása</span></p>
        <div id="close_topic_div" style="display: none">
            <form action="{% url 'close_topic' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="topic_id" value="{{ topic.id }}" />
                <p>Meddig (ÉÉÉÉ-HH-NN ÓÓ:PP): <input type="text" name="closed_until" value="{% if topic.closed_until %}{{ topic.closed_until|date:"Y-m-d H:i" }}{% endif %}" /></p>
                <p><input type="submit" value="Topik lezárása" /></p>
            </form>
        </div>
    {% endif %}

    {% for c in comments %}
        {% include 'ktapp/blocks/comment_block.html' with comment=c %}
    {% endfor %}

    {% if max_pages >= 2 %}
        <ul class="paging">
            <li>{% if p == 1 %}<b>1</b>{% else %}<a href="{% url 'forum' topic.id topic.slug_cache %}">1</a>{% endif %}</li>
            {% if p >= 4 %}
                <li class="paging_ellipsis">...</li>
            {% endif %}
            {% if p >= 3 %}
                <li><a href="{% url 'forum' topic.id topic.slug_cache %}?p={{ p|add:"-1" }}">{{ p|add:"-1" }}</a></li>
            {% endif %}
            {% if 2 <= p and p <= max_pages|add:"-1" %}
                <li><b>{{ p }}</b></li>
            {% endif %}
            {% if p <= max_pages|add:"-2" %}
                <li><a href="{% url 'forum' topic.id topic.slug_cache %}?p={{ p|add:"1" }}">{{ p|add:"1" }}</a></li>
            {% endif %}
            {% if p <= max_pages|add:"-3" %}
                <li class="paging_ellipsis">...</li>
            {% endif %}
            <li>{% if p == max_pages %}<b>{{ max_pages }}</b>{% else %}<a href="{% url 'forum' topic.id topic.slug_cache %}?p={{ max_pages }}">{{ max_pages }}</a>{% endif %}</li>
        </ul>
    {% endif %}

</div>
{% endblock %}
