{% extends "ktapp/layout.html" %}
{% load kt_extras %}

{% block title %}Kritikus Tömeg{% endblock %}

{% block meta_description %}Film adatbázis egyéni ajánlóval, fórumokkal, szavazással, idézetekkel, képekkel, toplistákkal.{% endblock %}

{% block main %}

    <div class="left_content">
        {% if not request.user.is_authenticated %}
            <h2>Kritikus Tömeg</h2>
            <p>A Kritikus Tömeg a filmrajongók Mekkája. Vagyis olyan emberek közössége, akik számára a film több, mint holmi péntek esti szórakozás: kedvenc időtöltés, érdeklődési terület, szenvedély, életforma. Kinek mi. Az oldal 2003-ban jött létre, azóta működik és fejlődik töretlenül, mint adatbázis, mint filmes ajánlórendszer, mint közösség.</p>
            <p><a href="{% url 'about_page' %}">További részletek...</a></p>
            <h2>Facebook</h2>
            <div style="max-width: 100%; overflow: hidden; height: 500px">
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/hu_HU/sdk.js#xfbml=1&version=v2.5&appId=259204284100889";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
                <div class="fb-page" data-href="https://www.facebook.com/kritikustomeg" data-tabs="timeline" data-width="500" data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/kritikustomeg"><a href="https://www.facebook.com/kritikustomeg">Kritikus Tömeg</a></blockquote></div></div>
            </div>
        {% endif %}
        <h2>A nap filmje</h2>
        <div class="film_block">
            {% if film.main_poster %}
                <a href="{% url 'film_main' film.id film.slug_cache %}" title="{{ film.orig_title }} ({{ film.year }})"><img src="{{ film.main_poster.get_display_urls.mid }}" class="picture film_block_picture" alt="{{ film.orig_title }} ({{ film.year }})" /></a>
            {% endif %}
            <p class="film_block_content">
                {{ film|film_url_html_big }}
                ({% for director in film.directors %}<a href="{% url 'artist' director.id director.slug_cache %}">{{ director.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %})
                <br />
                {% for country in film.countries %}{{ country.name }}{% if not forloop.last %}-{% endif %}{% endfor %}
                {% for genre in film.genres %}{{ genre.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
            </p>
            <p class="film_block_content">
                {{ film.plot_summary|linebreaksbr }}
            </p>
            <br class="clear" />
        </div>
        <p><a href="{% url 'films_of_past_days' %}">Korábbi napok filmjei...</a></p>
        {% if latest_content %}
            <h2>Legfrissebb írások</h2>
            {% for _, content_type, content in latest_content %}
                <div class="film_addon">
                    {% if content.film %}
                        <div class="film_addon_source">
                            {{ content.film|oneliner_film_url_html_w_year }}
                        </div>
                    {% endif %}
                    {% if content_type == 'review' %}
                        <div class="film_addon_content">
                            {% autoescape off %}
                                {{ content.content_html|striptags|truncatechars:400|linebreaks }}
                            {% endautoescape %}
                            <p style="text-align: right"><a href="{% url 'film_review' content.film.id content.film.slug_cache content.id %}">Tovább...</a></p>
                            {% if user.is_authenticated and user.is_staff %}<p>(Mióta van kint? {{ content.created_at|timesince }})</p>{% endif %}
                        </div>
                        {% if content.created_by %}
                            <div class="film_addon_author">
                                <a href="{% url 'user_profile' content.created_by.id content.created_by.slug_cache %}">{{ content.created_by.username }}</a>
                            </div>
                        {% endif %}
                    {% elif content_type == 'link' %}
                        <div class="film_addon_content">
                            <p>[{{ content.link_domain }}] <b>{{ content.name }}</b></p>
                            <p>{{ content.lead|linebreaksbr }}</p>
                            <p style="text-align: right"><a href="{{ content.url }}" target="_blank">Tovább...</a></p>
                            {% if user.is_authenticated and user.is_staff %}<p>(Mióta van kint? {{ content.created_at|timesince }})</p>{% endif %}
                        </div>
                        {% if content.author %}
                            <div class="film_addon_author">
                                <a href="{% url 'user_profile' content.author.id content.author.slug_cache %}">{{ content.author.username }}</a>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
            <p><a href="{% url 'articles' %}">További írások...</a></p>
        {% endif %}
        {% if random_poll %}
            <h2>Aktuális közkérdés</h2>
            <p><b><a href="{% url 'poll' random_poll.id random_poll.slug_cache %}">{{ random_poll.title }}</a></b></p>
        {% endif %}
        <h2>A nap toplistája</h2>
        <p><b><a href="{% url 'usertoplist' toplist.id toplist.slug_cache %}">{{ toplist.title }}</a></b>{% if toplist.created_by %} (<a href="{% url 'user_profile' toplist.created_by.id toplist.created_by.slug_cache %}">{{ toplist.created_by.username }}</a>){% endif %}</p>
        {% if toplist.toplist_type == 'F' %}
            <table class="fullsize">
                <tr class="header_tr">
                    <th style="width: 30%">Film</th>
                    <th>Átlag</th>
                    <th>Megjegyzés</th>
                </tr>
                {% for item in toplist_list %}
                    <tr class="{% cycle '' 'odd' %}" style="vertical-align: top">
                        <td>{{ item.film|film_url_html_w_year }}</td>
                        <td class="center">{{ item.film|film_rating_html }}</td>
                        <td>{{ item.comment }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <table class="fullsize">
                <tr class="header_tr">
                    <th style="width: 30%">{% if toplist.toplist_type == 'A' %}Színész{% else %}Rendező{% endif %}</th>
                    <th>Megjegyzés</th>
                </tr>
                {% for item in toplist_list %}
                    <tr class="{% cycle '' 'odd' %}" style="vertical-align: top">
                        {% if toplist.toplist_type == 'A' %}
                            <td><a href="{% url 'artist' item.actor.id item.actor.slug_cache %}">{{ item.actor.name }}</a></td>
                        {% else %}
                            <td><a href="{% url 'artist' item.director.id item.director.slug_cache %}">{{ item.director.name }}</a></td>
                        {% endif %}
                        <td>{{ item.comment }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        <p><a href="{% url 'usertoplists' %}">További toplisták...</a></p>
    </div>
    <div class="right_content">
        {% if before_game %}
            <h2>Játék</h2>
            <p>Azt hiszed, ismered a filmeket? Teszteld magad! Vasárnap este 8-tól újra <a href="{% url 'forum' 38 'jatek' %}">képes játék</a>!</p>
        {% endif %}
        {% if during_game %}
            <h2>Játék</h2>
            <p>Azt hiszed, ismered a filmeket? Teszteld magad a <a href="{% url 'forum' 38 'jatek' %}">képes játékban</a>!</p>
        {% endif %}
        <h2>Legfrissebb kommentek</h2>
        {% for c in buzz_comments %}
            {% include 'ktapp/blocks/comment_block.html' with comment=c show_comment_source=True %}
        {% endfor %}
        <p><a href="{% url 'latest_comments' %}">További kommentek...</a></p>
    </div>
    <br class="clear" />

{% endblock %}
