{% extends "ktapp/layout.html" %}
{% load kt_extras %}
{% load humanize %}

{% block title %}Kritikus Tömeg{% endblock %}

{% block meta_description %}Film adatbázis egyéni ajánlóval, fórumokkal, szavazással, idézetekkel, képekkel, toplistákkal.{% endblock %}

{% block main %}

    {% for banner in banners %}
        <div class="banner">

            {% if banner.what == 'fundraiser' %}
                <p>A Kritikus Tömeg éves szerverköltsége 100 ezer forint. Ha csak {{ number_of_donators }} ember dönt úgy, hogy rászán évi {{ amount_of_donation }} forintot, akkor a szerver fennmarad. Itt láthatod, mennyi van a kasszában (illetve mennyi hiányzik belőle), és ha úgy érzed, belefér a büdzsédbe, kérjük, támogass minket:</p>
                <div class="finance_container">
                    <div class="finance_outer">
                        <div class="finance_inner">
                            <div class="finance_innermost">
                                <div class="finance_marker" style="width: {{ finance_status }}%"></div>
                                <div class="finance_label">{{ finance_amount|intcomma }} Ft</div>
                            </div>
                        </div>
                    </div>
                </div>
                <p>Ha szeretnél hozzájárulni az oldal fennmaradásához, erre a számlaszámra utalhatsz:</p>
                <p class="finance_target">
                    Németh András<br />
                    12010154-00562473-00100006 (Raiffeisen Bank)*<br />
                    megjegyzés/közlemény: az itteni felhasználóneved
                </p>
                <p>Előre is köszönjük a támogatást!</p>
                <p class="small_text last">
                    *Ha külföldről utalsz, akkor a nemzetközi számlaszám:<br />
                    IBAN: HU64-12010154-00562473-00100006<br />
                    SWIFT: UBRT HU HB
                </p>
            {% endif %}

            <div class="banner_closer" id="banner_{{ banner.id }}">&times;</div>
        </div>
    {% endfor %}

<div class="row">

    <div class="col-sm-6 col-sm-push-6">
        {% if before_game %}
        <h2>Játék</h2>
        <p>Azt hiszed, ismered a filmeket? Teszteld magad! Vasárnap este 8-tól újra <a href="{% url 'forum' 38 'jatek' %}">képes játék</a>!</p>
        {% endif %}
        {% if during_game %}
        <h2>Játék</h2>
        <p>Azt hiszed, ismered a filmeket? Teszteld magad a <a href="{% url 'forum' 38 'jatek' %}">képes játékban</a>!</p>
        {% endif %}
        <h2>Legfrissebb kommentek</h2>
        {% for c in buzz_comments %}
        {% include 'ktapp/blocks/comment_block.html' with comment=c show_comment_source=True %}
        {% endfor %}
        <p><a href="{% url 'latest_comments' %}">További kommentek...</a></p>
    </div>

    <div class="col-sm-6 col-sm-pull-6">
        <h2>A nap filmje</h2>
        <div class="film_block">
            {% if film.main_poster %}
                <a href="{% url 'film_main' film.id film.slug_cache %}" title="{{ film.orig_title }} ({{ film.year }})"><img src="{{ film.main_poster.get_display_urls.mid }}" class="picture film_block_picture" alt="{{ film.orig_title }} ({{ film.year }})" /></a>
            {% endif %}
            <p class="film_block_content">
                {{ film|film_url_html_big }}
                ({% for director in film.directors %}<a href="{% url 'artist' director.id director.slug_cache %}">{{ director.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %})
                <br />
                {% for country in film.countries %}{{ country.name }}{% if not forloop.last %}-{% endif %}{% endfor %}
                {% for genre in film.genres %}{{ genre.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
            </p>
            <p class="film_block_content">
                {{ film.plot_summary|linebreaksbr }}
            </p>
            <br class="clear" />
        </div>
        <p><a href="{% url 'films_of_past_days' %}">Korábbi napok filmjei...</a></p>
        {% if not request.user.is_authenticated %}
            <h2>Facebook</h2>
            <div style="width: 100%; overflow: hidden; height: 214px; text-align: center">
            <div style="max-width: 100%; overflow: hidden; height: 214px; margin: 0 auto">
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "//connect.facebook.net/hu_HU/sdk.js#xfbml=1&version=v2.5&appId=259204284100889";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
                <div class="fb-page" data-href="https://www.facebook.com/kritikustomeg" data-width="500" data-height="214" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false">            </div>
            </div>
            </div>
        {% endif %}
        {% if latest_content %}
            <h2>Legfrissebb írások</h2>
            {% for _, content_type, content in latest_content %}
                <div class="film_addon">
                    {% if content.film %}
                        <div class="film_addon_source">
                            {{ content.film|oneliner_film_url_html_w_year }}
                        </div>
                    {% endif %}
                    {% if content_type == 'review' %}
                        <div class="film_addon_content">
                            {% autoescape off %}
                                {{ content.content_html|striptags|truncatechars:400|linebreaks }}
                            {% endautoescape %}
                            <p style="text-align: right"><a href="{% url 'film_article' content.film.id content.film.slug_cache content.id %}">Tovább...</a></p>
                            {% if user.is_authenticated and user.is_staff %}<p>(Mióta van kint? {{ content.created_at|timesince }})</p>{% endif %}
                        </div>
                        {% if content.created_by %}
                            <div class="film_addon_author">
                                <a href="{% url 'user_profile' content.created_by.id content.created_by.slug_cache %}">{{ content.created_by.username }}</a>
                            </div>
                        {% endif %}
                    {% elif content_type == 'link' %}
                        <div class="film_addon_content">
                            <p>[{{ content.link_domain }}] <b>{{ content.name }}</b></p>
                            <p>{{ content.lead|linebreaksbr }}</p>
                            <p style="text-align: right"><a href="{% if user.is_authenticated %}{% url 'link_click' %}?url={{ content.url|urlencode }}&t=l&l={{ content.id }}{% else %}{{ content.url }}{% endif %}" target="_blank">Tovább...</a></p>
                            {% if user.is_authenticated and user.is_staff %}<p>(Mióta van kint? {{ content.created_at|timesince }})</p>{% endif %}
                        </div>
                        {% if content.author %}
                            <div class="film_addon_author">
                                <a href="{% url 'user_profile' content.author.id content.author.slug_cache %}">{{ content.author.username }}</a>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
            <p><a href="{% url 'articles' %}">További írások...</a></p>
        {% endif %}
        {% if random_poll %}
            <h2>Szavazz: <a href="{% url 'poll' random_poll.id random_poll.slug_cache %}">{{ random_poll.title }}</a></h2>
            <p><a href="{% url 'polls' %}">További szavazások...</a></p>
        {% endif %}
        <h2>Random idézet</h2>
        {% include 'ktapp/blocks/film_addon_block.html' with addon=random_quote show_addon_source=True addon_type='quote' %}
        <p><a href="{% url 'latest_quotes' %}">További idézetek...</a></p>
        <h2>Random érdekesség</h2>
        {% include 'ktapp/blocks/film_addon_block.html' with addon=random_trivia show_addon_source=True addon_type='trivia' %}
        <p><a href="{% url 'latest_trivias' %}">További érdekességek...</a></p>
        <h2>A nap toplistája</h2>
        <p><b><a href="{% url 'usertoplist' toplist.id toplist.slug_cache %}">{{ toplist.title }}</a></b>{% if toplist.created_by %} (<a href="{% url 'user_profile' toplist.created_by.id toplist.created_by.slug_cache %}">{{ toplist.created_by.username }}</a>){% endif %}</p>
        {% if toplist.toplist_type == 'F' %}
            <table class="fullsize">
                <tr class="header_tr">
                    <th style="width: 30%">Film</th>
                    <th>Átlag</th>
                    <th>Megjegyzés</th>
                </tr>
                {% for item in toplist_list %}
                    <tr class="{% cycle '' 'odd' %}" style="vertical-align: top">
                        <td>{{ item.film|film_url_html_w_year }}</td>
                        <td class="center">{{ item.film|film_rating_html }}</td>
                        <td>{{ item.comment }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <table class="fullsize">
                <tr class="header_tr">
                    <th style="width: 30%">{% if toplist.toplist_type == 'A' %}Színész{% else %}Rendező{% endif %}</th>
                    <th>Megjegyzés</th>
                </tr>
                {% for item in toplist_list %}
                    <tr class="{% cycle '' 'odd' %}" style="vertical-align: top">
                        {% if toplist.toplist_type == 'A' %}
                            <td><a href="{% url 'artist' item.actor.id item.actor.slug_cache %}">{{ item.actor.name }}</a></td>
                        {% else %}
                            <td><a href="{% url 'artist' item.director.id item.director.slug_cache %}">{{ item.director.name }}</a></td>
                        {% endif %}
                        <td>{{ item.comment }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        <p><a href="{% url 'usertoplists' %}">További toplisták...</a></p>
    </div>

</div>
{% endblock %}
