{% extends "ktapp/layout.html" %}

{% block title %}Legfrissebb képek - Kritikus Tömeg{% endblock %}

{% block header %}
    <h1>Legfrissebb képek</h1>
{% endblock %}

{% block main %}
<div class="row">
    <div class="central-column-max">

    {% for p in pictures %}
        <a href="{% url 'film_picture' p.film_id p.film_slug_cache p.id %}" title="{{ p.film_orig_title }} ({{ p.film_year }}){% if p.film_second_title %} / {{ p.film_second_title }}{% endif %}"><img src="{{ p.get_display_urls.mid }}" class="picture" alt="{{ p.film_orig_title }} ({{ p.film_year }}){% if p.film_second_title %} / {{ p.film_second_title }}{% endif %}" /></a>
    {% endfor %}

    </div>
</div>
{% endblock %}
