{% extends "ktapp/layout.html" %}

{% block title %}Legfrissebb kommentek - Kritikus Tömeg{% endblock %}

{% block header %}
    {% if t == 'filmes' %}
        <h1>Legfrissebb filmes kommentek<span class="small_heading_1"> (<a href="{% url 'latest_comments' %}">összes</a>)</span></h1>
    {% else %}
        <h1>Legfrissebb kommentek<span class="small_heading_1"> (<a href="{% url 'latest_comments' %}?t=filmes">csak filmes</a>)</span></h1>
    {% endif %}
{% endblock %}

{% block main %}
<div class="row">
    <div class="central-column">
    {% if comments %}
        {% for c in comments %}
            {% include 'ktapp/blocks/comment_block.html' with comment=c show_comment_source=True %}
        {% endfor %}
    {% endif %}
    </div>
</div>
{% endblock %}
