<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}{% endblock %}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
{% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'ktapp/css/normalize.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'ktapp/css/jquery-ui.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'ktapp/css/main.css' %}?v=30" />
        <link rel="shortcut icon" href="{% static 'ktapp/images/favicon.ico' %}" />
        <base href="/" />
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-1291633-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>
    <body>

        <header>
            {% block header %}{% endblock %}
        </header>

        <section id="main">
            {% block main %}{% endblock %}
        </section>

        <nav id="toptopmenu" class="clearfix">
            <div id="toptopmenu_left">
                <ul>
                    <li id="logo"><a href="{% url 'index' %}">Kritikus Tömeg</a></li>
                    {% if user.is_authenticated %}
                        <li><b><a href="{% url 'user_profile' user.id user.slug_cache %}">{{ user.username }}</a></b></li>
                        <li><a href="{% url 'messages' %}">Üzenetek{% if not user.last_message_checking_at or user.last_message_at > user.last_message_checking_at %} <span class="new_message_warning">új</span>{% endif %}</a></li>
                        <li><form action="{% url 'logout' %}" method="post" class="inline">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.build_absolute_uri }}" />
                            <input type="submit" value="Kijelentkezés" class="small_button" />
                        </form></li>
                    {% else %}
                        <li id="login_menu"><form action="{% url 'login' %}" method="post" class="inline">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.build_absolute_uri }}" />
                            <input type="text" name="username" value="" id="login_username" placeholder="név vagy email" tabindex="2" />
                            <input type="password" name="password" value="" id="login_password" placeholder="jelszó" tabindex="3" />
                            <span class="additional_input">Hagyd üresen: <input type="text" name="nickname" value="" /></span>
                            <input type="submit" value="Bejelentkezés" class="small_button" tabindex="4" />
                        </form> <a href="{% url 'reset_password' '' %}" style="font-size: 9pt">Mi a jelszavam?</a></li>
                        <li><a href="{% url 'registration' %}?next={{ request.build_absolute_uri }}">Regisztráció</a></li>
                    {% endif %}
                </ul>
            </div>
            <div id="toptopmenu_right">
                <form class="inline" action="{% url 'search' %}" method="get">
                    <input type="text" placeholder="Keresés..." tabindex="1" name="q" class="search_input" />
                    <input type="submit" value="Keresés" class="small_button" />
                </form>
            </div>
        </nav>

        <nav id="leftmenu">
            <ul class="mobilemenu">
                <li id="mobilelogo"><a href="{% url 'index' %}">KT</a></li>
                {% if user.is_authenticated %}
                    <li><b><a href="{% url 'user_profile' user.id user.slug_cache %}">{{ user.username }}</a></b></li>
                    <li><a href="{% url 'messages' %}">Üzenetek{% if not user.last_message_checking_at or user.last_message_at > user.last_message_checking_at %} <span class="new_message_warning">új</span>{% endif %}</a></li>
                {% else %}
                    <li id="login_menu"><form action="{% url 'login' %}" method="post" class="inline">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ request.build_absolute_uri }}" />
                        <input type="text" name="username" value="" id="login_username" placeholder="név vagy email" tabindex="2" />
                        <input type="password" name="password" value="" id="login_password" placeholder="jelszó" tabindex="3" />
                        <span class="additional_input">Hagyd üresen: <input type="text" name="nickname" value="" /></span>
                        <input type="submit" value="Bejelentkezés" class="small_button" tabindex="4" />
                    </form> <a href="{% url 'reset_password' '' %}" style="font-size: 7pt">Mi a jelszavam?</a></li>
                    <li><a href="{% url 'registration' %}?next={{ request.build_absolute_uri }}">Regisztráció</a></li>
                {% endif %}
                <li>
                    <form class="inline" action="{% url 'search' %}" method="get">
                        <input type="text" placeholder="Keresés..." tabindex="1" name="q" class="search_input" />
                        <input type="submit" value="Keresés" class="small_button" />
                    </form>
                </li>
            </ul>
            <ul>
                <li>Filmek<br />
                    <ul class="submenu">
                        <li><a href="{% url 'browse' %}">Böngészés</a></li>
                        <li><a href="{% url 'premiers' %}">Bemutatók</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'user_wishlist' user.id user.slug_cache %}">Kívánságaid</a></li>
                            <li><a href="{% url 'user_films' user.id user.slug_cache %}">Filmjeid</a></li>
                        {% endif %}
                        <li><a href="{% url 'sequels' %}">Folytatások</a></li>
                    </ul>
                </li>
                <li>Toplisták<br />
                    <ul class="submenu">
                        <li><a href="{% url 'top_films' %}">Filmek</a></li>
                        <li><a href="{% url 'usertoplists' %}">Egyéni listák</a></li>
                    </ul>
                </li>
                <li>Közösség<br />
                    <ul class="submenu">
                        <li><a href="{% url 'list_of_topics' %}">Fórum</a></li>
                        <li><a href="{% url 'latest_comments' %}">Kommentek</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'favourites' %}">Kedvenceid</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li>Közkérdések<br />
                    <ul class="submenu">
                        <li><a href="{% url 'polls' %}?tipus=aktualis">Aktuális</a></li>
                        <li><a href="{% url 'polls' %}?tipus=regi">Régi</a></li>
                        <li><a href="{% url 'polls' %}?tipus=leendo">Leendő</a></li>
                    </ul>
                </li>
                <li>Tartalmak<br />
                    <ul class="submenu">
                        <li><a href="{% url 'latest_quotes' %}">Idézetek</a></li>
                        <li><a href="{% url 'latest_trivias' %}">Érdekességek</a></li>
                        <li><a href="{% url 'latest_pictures' %}">Képek</a></li>
                        <li><a href="{% url 'list_of_reviews' %}">Elemzések</a></li>
                        <li><a href="{% url 'list_of_bios' %}">Portrék</a></li>
                        <li><a href="{% url 'awards' %}">Díjak</a></li>
                    </ul>
                </li>
                {% if user.is_authenticated and user.is_staff or user.is_reliable or user.core_member %}
                    <li>Szerk<br />
                        <ul class="submenu">
                            {% if user.is_staff or user.is_reliable %}
                                <li><a href="{% url 'new_film' %}">Filmfeltöltés</a></li>
                            {% else %}
                                <li><a href="{% url 'suggest_film' %}">Új film beküldése</a></li>
                            {% endif %}
                            <li><a href="{% url 'suggested_films' %}">Beküldött filmek</a></li>
                            {% if user.is_staff or user.is_reliable %}
                                <li><a href="{% url 'changes' %}">Változások</a></li>
                            {% endif %}
                            {% if user.is_superuser %}
                                <li><a href="{% url 'admin:index' %}">Admin</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </nav>

        <footer>
            <ul class="clearfix">
                <li>Impresszum</li>
                <li><a href="https://www.facebook.com/kritikustomeg">Facebook</a></li>
                <li>Rulez</li>
                <li>Kassza</li>
                <li>Üzenet a szerk-nek</li>
            </ul>
        </footer>

        <script src="{% static 'ktapp/js/jquery-1.11.2.min.js' %}"></script>
        <script src="{% static 'ktapp/js/jquery-ui.min.js' %}"></script>
        <script src="{% static 'ktapp/js/jquery.cookie.js' %}"></script>
        <script src="{% static 'ktapp/js/rangyinputs-jquery.js' %}"></script>
        <script src="{% static 'ktapp/js/stupidtable.min.js' %}"></script>
        <script src="{% static 'ktapp/js/main.js' %}?v=13"></script>
    </body>
</html>