<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
{% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'ktapp/css/normalize.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'ktapp/css/jquery-ui.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'ktapp/css/main.css' %}?v=2" />
        <link rel="shortcut icon" href="{% static 'ktapp/images/favicon.ico' %}" />
        <base href="/" />
    </head>
    <body>

        <header>
            {% block header %}{% endblock %}
        </header>

        <section id="main">
            {% block main %}{% endblock %}
        </section>

        <nav id="toptopmenu" class="clearfix">
            <div id="toptopmenu_left">
                <ul>
                    <li id="logo"><a href="{% url 'index' %}">Kritikus Tömeg</a></li>
                    {% if user.is_authenticated %}
                        <li><b><a href="{% url 'user_profile' user.id user.slug_cache %}">{{ user.username }}</a></b></li>
                        <li><a href="{% url 'messages' %}">Üzenetek{% if not user.last_message_checking_at or user.last_message_at > user.last_message_checking_at %} <span class="new_message_warning">új</span>{% endif %}</a></li>
                        <li><form action="{% url 'logout' %}" method="post" class="inline">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}" />
                            <input type="submit" value="Kijelentkezés" class="small_button" />
                        </form></li>
                    {% else %}
                        <li id="login_menu"><form action="{% url 'login' %}" method="post" class="inline">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}" />
                            <input type="text" name="username" value="" id="login_username" placeholder="név vagy email" tabindex="2" />
                            <input type="password" name="password" value="" id="login_password" placeholder="jelszó" tabindex="3" />
                            <span class="additional_input">Hagyd üresen: <input type="text" name="nickname" value="" /></span>
                            <input type="submit" value="Bejelentkezés" class="small_button" tabindex="4" />
                        </form> <a href="{% url 'reset_password' '' %}" style="font-size: 9pt">Mi a jelszavam?</a></li>
                        <li><a href="{% url 'registration' %}?next={{ request.path }}">Regisztráció</a></li>
                    {% endif %}
                </ul>
            </div>
            <div id="toptopmenu_right">
                <form class="inline" action="{% url 'search' %}" method="get">
                    <input type="text" placeholder="Keresés..." tabindex="1" name="q" class="search_input" />
                    <input type="submit" value="Keresés" class="small_button" />
                </form>
            </div>
        </nav>

        <nav id="leftmenu">
            <ul>
                <li>Filmek<br />
                    <ul class="submenu">
                        <li><a href="{% url 'browse' %}">Böngészés</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'wishlist' user.id user.slug_cache %}">Kívánságaid</a></li>
                        {% endif %}
                        {% if user.is_authenticated and user.core_member %}
                            <li><a href="{% url 'new_film' %}">Új film</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li>Toplisták<br />
                    <ul class="submenu">
                        <li>Filmek</li>
                        <li>Rendezők</li>
                        <li>Országok</li>
                        <li>Egyéni listák</li>
                    </ul>
                </li>
                <li>Közösség<br />
                    <ul class="submenu">
                        <li><a href="{% url 'list_of_topics' %}">Fórum</a></li>
                        <li><a href="{% url 'latest_comments' %}">Beszólások</a></li>
                    </ul>
                </li>
                <li>Ajánlók<br />
                    <ul class="submenu">
                        <li>Kedvenceid</li>
                        <li>Emberi</li>
                        <li>Gépi</li>
                    </ul>
                </li>
                <li>Közkérdések<br />
                    <ul class="submenu">
                        <li>Leendő</li>
                        <li>Aktív</li>
                        <li>Lefutott</li>
                    </ul>
                </li>
                {% if user.is_authenticated and user.is_superuser %}
                    <li>Szerk<br />
                        <ul class="submenu">
                            <li><a href="{% url 'admin:index' %}">Admin</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </nav>

        <footer>
            <ul class="clearfix">
                <li>Impresszum</li>
                <li>Rulez</li>
                <li>Facebook</li>
                <li>Kassza</li>
                <li>Üzenet a szerk-nek</li>
            </ul>
        </footer>

        <script src="{% static 'ktapp/js/jquery-1.11.2.min.js' %}"></script>
        <script src="{% static 'ktapp/js/jquery-ui.min.js' %}"></script>
        <script src="{% static 'ktapp/js/jquery.cookie.js' %}"></script>
        <script src="{% static 'ktapp/js/main.js' %}"></script>
    </body>
</html>
