{% extends "ktapp/layout.html" %}
{% load kt_extras %}

{% block title %}Kritikus Tömeg{% endblock %}

{% block header %}
    <h1>Linkek</h1>
{% endblock %}

{% block main %}

    <table class="fullsize">
        <tr class="header_tr">
            <th>Szerző</th>
            <th>Cím</th>
            <th style="width: 50%">Lead</th>
            <th>Mikor</th>
            <th>Film</th>
            <th>Típus</th>
        </tr>
        {% for link in links %}
            <tr class="{% cycle '' 'odd' %}" style="vertical-align: top">
                <td>{% if link.author %}<a href="{% url 'user_profile' link.author.id link.author.slug_cache %}">{{ link.author.username }}</a>{% endif %}</td>
                <td>[{{ link.link_domain }}] <a href="{{ link.url }}" target="_blank">{{ link.name }}</a></td>
                <td>{{ link.lead }}</td>
                <td>{{ link.created_at|date:"Y-m-d" }}</td>
                <td>
                    {% if link.film %}
                        <a href="{% url 'film_main' link.film.id link.film.slug_cache %}">{{ link.film.orig_title }} ({{ link.film.year }})</a>
                    {% endif %}
                </td>
                <td>
                    {% if link.link_type == 'R' %}
                        Kritika/elemzés
                    {% elif link.link_type == 'I' %}
                        Interjú
                    {% elif link.link_type == 'O' %}
                        Hivatalos oldal
                    {% else %}
                        Egyéb oldal
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if permission_new_link %}
        <h3>Új link felvétele</h3>
        <form action="{% url 'new_link' %}" method="post" class="inline">
            {% csrf_token %}
            <p>
                <label for="id_link_type">Típus:</label>
                <select name="link_type" id="id_link_type">
                    <option value="R" selected="selected">Kritika/elemzés</option>
                    <option value="I">Interjú</option>
                    <option value="-">Egyéb oldal</option>
                </select>
            </p>
            <p>
                <label for="id_name">Cím:</label>
                <input type="text" name="name" id="id_name" class="wide_input" />
            </p>
            <p>
                <label for="id_url">URL:</label>
                <input type="text" name="url" id="id_url" class="wide_input" />
            </p>
            <p>
                <label for="id_lead">Lead (pár mondat, ami annyira felcsigázza az olvasót, hogy mindenképp rákattint a linkre):</label><br />
                <textarea name="lead" id="id_lead" rows="5"></textarea>
            </p>
            <p>
                <label for="id_author">Szerző KT-s neve (ha van):</label>
                <input type="text" name="author" id="id_author" class="input_for_user wide_input" />
            </p>
            <p><input type="submit" value="Link mentése" /></p>
        </form>
    {% endif %}

    {% if permission_suggest_link %}
        <h3>Új link beküldése</h3>
        <form action="{% url 'suggest_link' %}" method="post" class="inline">
            {% csrf_token %}
            <p>
                <label for="id_link_type">Típus:</label>
                <select name="link_type" id="id_link_type">
                    <option value="R" selected="selected">Kritika/elemzés</option>
                    <option value="I">Interjú</option>
                    <option value="-">Egyéb oldal</option>
                </select>
            </p>
            <p>
                <label for="id_name">Cím:</label>
                <input type="text" name="name" id="id_name" class="wide_input" />
            </p>
            <p>
                <label for="id_url">URL:</label>
                <input type="text" name="url" id="id_url" class="wide_input" />
            </p>
            <p>
                <label for="id_lead">Lead (pár mondat, ami annyira felcsigázza az olvasót, hogy mindenképp rákattint a linkre):</label><br />
                <textarea name="lead" id="id_lead" rows="5"></textarea>
            </p>
            <p>
                <label for="id_author">Szerző KT-s neve (ha van):</label>
                <input type="text" name="author" id="id_author" class="input_for_user wide_input" />
            </p>
            <p><input type="submit" value="Link beküldése" /></p>
        </form>
    {% endif %}

{% endblock %}
