{% extends "ktapp/layout.html" %}

{% block title %}Fórum - Kritikus Tömeg{% endblock %}

{% block header %}
    <h1>Fórum</h1>
{% endblock %}

{% block main %}
<div class="centered_content">

    <p>Ha egy konkrét filmről akarsz valamit mondani, azt megteheted ott. Ha egyéb témáról szeretnél beszélgetni, arra való ez a fórum. A legfrissebb hozzászólásokat <a href="{% url 'latest_comments' %}">itt találod</a>.</p>

    {% if topics %}
    <table class="fullsize sortable">
        <thead>
            <tr class="header_tr">
                <th data-sort="string">Cím</th>
                <th data-sort="int" data-sort-default="desc">Vélemény</th>
                <th data-sort="string" data-sort-default="desc">Utolsó</th>
            </tr>
        </thead>
        <tbody>
        {% for t in topics %}
            <tr class="{% cycle '' 'odd' %}">
                <td><a href="{% url 'forum' t.id t.slug_cache %}">{{ t.title }}</a></td>
                <td class="center">{{ t.number_of_comments }}</td>
                <td class="nowrap">{% if t.last_comment %}{{ t.last_comment.created_at|date:"Y-m-d H:i:s" }} <a href="{% url 'user_profile' t.last_comment.created_by.id t.last_comment.created_by.slug_cache %}">{{ t.last_comment.created_by.username }}</a>{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if permission_new_topic %}
        <h2>Új topik létrehozása</h2>
        <form action="{% url 'new_topic' %}" method="post">
            {% csrf_token %}
            {% for hidden in comment_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {{ topic_form.title.errors }}
            {{ topic_form.title }}
            <p class="center"><input type="submit" value="Topik létrehozása" /></p>
        </form>
    {% endif %}

</div>
{% endblock %}
