{% extends "ktapp/layout.html" %}

{% block title %}Bejelentkezés - Kritikus Tömeg{% endblock %}

{% block header %}<h1>Bejelentkezés</h1>{% endblock %}

{% block main %}

    {% if error == 'ban' %}
        <p class="error">Úgy tűnik, ki vagy tiltva.</p>
    {% elif error == 'fail' %}
        <p class="error">Véletlenül elgépelted a neved vagy jelszavad. Légyszi próbáld újra.</p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <p>
            <label for="username">Név vagy email cím:</label>
            <input type="text" name="username" value="" id="separate_login_username">
        </p>
        <p>
            <label for="password">Jelszó:</label>
            <input type="password" name="password" value="" id="separate_login_password">
        </p>
        <p><input type="submit" value="Bejelentkezés" /></p>
    </form>

{% endblock %}
