{% extends "ktapp/layout.html" %}

{% block title %}Bejelentkezés - Kritikus Tömeg{% endblock %}

{% block header %}<h1>Bejelentkezés</h1>{% endblock %}

{% block main %}

    {% if error_type %}
        <p class="error">
            {% if error_type == 'ban' %}
                Úgy tűnik, ki vagy tiltva.
            {% elif error_type == 'name_empty' %}
                Add meg a felhasználóneved vagy email címed.
            {% elif error_type == 'password_empty' %}
                Add meg a jelszavad.
            {% elif error_type == 'fail' %}
                Véletlenül elgépelted a neved vagy jelszavad. Légyszi próbáld újra.
            {% endif %}
        </p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <p>
            <label for="username">Név vagy email cím:</label>
            <input type="text" name="username" value="{{ username }}" class="focus_this" />
        </p>
        <p>
            <label for="password">Jelszó:</label>
            <input type="password" name="password" />
        </p>
        <p><input type="submit" value="Bejelentkezés" /></p>
    </form>

    <p>Ha még nem is regisztráltál, <a href="{% url 'registration' %}?next={{ next }}">itt tudsz</a>.</p>

{% endblock %}
