{% extends "ktapp/layout.html" %}

{% block title %}Bejelentkezés - Kritikus Tömeg{% endblock %}

{% block header %}<h1>Bejelentkezés</h1>{% endblock %}

{% block main %}

    {% if form.errors %}
        <p class="error">Hibás név vagy jelszó!</p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{% url 'index' %}" />
        <p>
            <label for="username">Név:</label>
            <input type="text" name="username" value="" id="username">
        </p>
        <p>
            <label for="password">Jelszó:</label>
            <input type="password" name="password" value="" id="password">
        </p>
        <p><input type="submit" value="login" /></p>
    </form>

{% endblock %}
