{% extends "ktapp/layout.html" %}

{% block title %}Logs - Kritikus Tömeg{% endblock %}

{% block header %}
    <h1>Logs: {{ logtype }} [{{ max_logfile_count }}/{{ max_logfile_length }}]</h1>
{% endblock %}

{% block main %}
    <p>
        <a href="{% url 'view_logs' %}?t=cron_log">cron_log</a>
        |
        <a href="{% url 'view_logs' %}?t=django_debug">django_debug</a>
        |
        <a href="{% url 'view_logs' %}?t=gunicorn_supervisor">gunicorn_supervisor</a>
        |
        <a href="{% url 'view_logs' %}?t=kt_access">kt_access</a>
        |
        <a href="{% url 'view_logs' %}">kt_exception</a>
    </p>
    <pre>{{ content }}</pre>
{% endblock %}
