{% extends "ktapp/layout.html" %}
{% load kt_extras %}

{% block title %}Kritikus Tömeg{% endblock %}

{% block header %}<h1>Privát üzeneteid</h1>{% endblock %}

{% block main %}
<div class="row">
    <div class="central-column">

    <p><a href="{% url 'new_message' %}">Új üzenet küldése</a></p>
    {% if user.is_editor %}
        <p><a href="{% url 'new_message' %}?u={{ staff_ids }}">Szerkesztőségi üzenet küldése</a></p>
    {% endif %}

    {% if max_pages >= 2 %}
        <ul class="paging">
            <li>{% if p == 1 %}<b>1</b>{% else %}<a href="{% url 'messages' %}">1</a>{% endif %}</li>
            {% if p >= 4 %}
                <li class="paging_ellipsis">...</li>
            {% endif %}
            {% if p >= 3 %}
                <li><a href="{% url 'messages' %}?p={{ p|add:"-1" }}">{{ p|add:"-1" }}</a></li>
            {% endif %}
            {% if 2 <= p and p <= max_pages|add:"-1" %}
                <li><b>{{ p }}</b></li>
            {% endif %}
            {% if p <= max_pages|add:"-2" %}
                <li><a href="{% url 'messages' %}?p={{ p|add:"1" }}">{{ p|add:"1" }}</a></li>
            {% endif %}
            {% if p <= max_pages|add:"-3" %}
                <li class="paging_ellipsis">...</li>
            {% endif %}
            <li>{% if p == max_pages %}<b>{{ max_pages }}</b>{% else %}<a href="{% url 'messages' %}?p={{ max_pages }}">{{ max_pages }}</a>{% endif %}</li>
        </ul>
    {% endif %}

    {% for message in messages %}
        {% include 'ktapp/blocks/message_block.html' with message=message %}
    {% endfor %}

    {% if max_pages >= 2 %}
        <ul class="paging">
            <li>{% if p == 1 %}<b>1</b>{% else %}<a href="{% url 'messages' %}">1</a>{% endif %}</li>
            {% if p >= 4 %}
                <li class="paging_ellipsis">...</li>
            {% endif %}
            {% if p >= 3 %}
                <li><a href="{% url 'messages' %}?p={{ p|add:"-1" }}">{{ p|add:"-1" }}</a></li>
            {% endif %}
            {% if 2 <= p and p <= max_pages|add:"-1" %}
                <li><b>{{ p }}</b></li>
            {% endif %}
            {% if p <= max_pages|add:"-2" %}
                <li><a href="{% url 'messages' %}?p={{ p|add:"1" }}">{{ p|add:"1" }}</a></li>
            {% endif %}
            {% if p <= max_pages|add:"-3" %}
                <li class="paging_ellipsis">...</li>
            {% endif %}
            <li>{% if p == max_pages %}<b>{{ max_pages }}</b>{% else %}<a href="{% url 'messages' %}?p={{ max_pages }}">{{ max_pages }}</a>{% endif %}</li>
        </ul>
    {% endif %}

    </div>
</div>
{% endblock %}
