    {% if user.is_authenticated %}
        <form action="{% url 'new_trivia' %}" method="post">
            {% csrf_token %}
            {% for hidden in trivia_form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {{ trivia_form.content.errors }}
            {{ trivia_form.content }}
            <p class="center"><input type="submit" value="Ugye milyen érdekes?" /></p>
        </form>
    {% else %}
        <p>Ahhoz, hogy érdekességet tudj beküldeni, be kell <a href="{% url 'login' %}">jelentkezned</a>.</p>
    {% endif %}
