{% extends "ktapp/layout.html" %}
{% load kt_extras %}

{% block title %}Kritikus Tömeg{% endblock %}

{% block header %}<h1>Új privát üzenet</h1>{% endblock %}

{% block main %}

    <form action="{% url 'new_message' %}" method="post">
        {% csrf_token %}
        <p>Címzett(ek): <input type="text" name="recipients" class="recipients_input{% if not list_of_recipients %} focus_this{% endif %}" id="recipients"{% if list_of_recipients %} value="{% for recipient in list_of_recipients %}{{ recipient.username }}{% if not forloop.last %}, {% endif %}{% endfor %}"{% endif %} /></p>
        <p>
            Üzenet:<br />
            <textarea name="content" rows="10"{% if list_of_recipients %} class="focus_this"{% endif %}></textarea>
        </p>
        <p class="center"><input type="submit" value="Üzenet elküldése" /></p>
    </form>

    {% if message_to_reply_to %}
        <p>Válasz erre:</p>
        <div class="comment_block">
            <div class="comment_block_author">
                {{ message_to_reply_to.sent_at|date:"Y-m-d H:i:s" }} {% if message_to_reply_to.sent_by %}<a href="{% url 'user_profile' message_to_reply_to.sent_by.id message_to_reply_to.sent_by.slug_cache %}">{{ message_to_reply_to.sent_by }}</a>{% else %}?{% endif %} &gt; {% for recipient in message_to_reply_to.recipients %}{% if recipient %}<a href="{% url 'user_profile' recipient.id recipient.slug_cache %}">{{ recipient }}</a>{% else %}?{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}
            </div>
            <div class="comment_block_content">
                {% autoescape off %}
                    <p>{{ message_to_reply_to.content_html|linebreaksbr }}</p>
                {% endautoescape %}
            </div>
        </div>
    {% endif %}

{% endblock %}
