{% extends "ktapp/layout.html" %}
{% load kt_extras %}

{% block title %}Kritikus Tömeg{% endblock %}

{% block header %}
    <h1>Új film felvétele</h1>
    <p class="centered_content">Fontos: ez <i>nem</i> a <a href="{% url 'browse' %}">kereső</a>, csak akkor vegyél fel új filmet, ha még nincs fent az adatbázisunkban.</p>
{% endblock %}

{% block main %}

    {% if user.is_authenticated %}
        <div id="film_edit_form">
            <form action="{% url 'new_film' %}" method="post">
                {% csrf_token %}
                <p>
                    <label for="id_film_orig_title">Eredeti cím:</label><br />
                    <input type="text" name="film_orig_title" id="id_film_orig_title" class="focus_this" tabindex="10" />
                </p>
                <div id="similar_films"></div>
                <p>
                    <label for="id_film_second_title">Magyar és további címek (ha magyar film, hagyd üresen):</label><br />
                    <input type="text" name="film_second_title" id="id_film_second_title" tabindex="11" />
                    <input type="text" name="film_third_title" id="id_film_third_title" tabindex="12" />
                </p>
                <p>
                    <label for="id_film_year">Gyártás éve (ÉÉÉÉ):</label><br />
                    <input type="text" name="film_year" id="id_film_year" tabindex="13" />
                </p>
                {% if permission_edit_premiers %}
                <p>
                    <label for="id_main_premier">Bemutató dátuma (ÉÉÉÉ-HH-NN):</label><br />
                    <input type="text" name="main_premier" id="id_main_premier" tabindex="14" />
                </p>
                {% endif %}
                <p>
                    <label for="id_film_directors">Rendező(k) (vesszővel elválasztva):</label><br />
                    <input type="text" name="film_directors" id="id_film_directors" class="input_for_artists" tabindex="15" />
                </p>
                <p>
                    <label for="id_countries">Ország(ok) (vesszővel elválasztva):</label><br />
                    <input type="text" name="countries" id="id_countries" class="input_for_keywords" tabindex="16" />
                </p>
                <p>
                    <label for="id_genres">Műfaj(ok) (vesszővel elválasztva):</label><br />
                    <input type="text" name="genres" id="id_genres" class="input_for_keywords" tabindex="17" />
                </p>
                <p>
                    <label for="id_film_plot">Történet:</label><br />
                    <textarea name="film_plot" id="id_film_plot" tabindex="18"></textarea>
                </p>
                <p>
                    <label for="id_film_imdb_link">IMDb link (a film imdb-s oldalának teljes url-je):</label><br />
                    <input type="text" name="film_imdb_link" id="id_film_imdb_link" tabindex="19" />
                </p>
                <p>
                    <label for="id_film_porthu_link">port.hu link (a film port.hu-s oldalának teljes url-je, kivéve, ha a tv-műsorból jutottál oda):</label><br />
                    <input type="text" name="film_porthu_link" id="id_film_porthu_link" tabindex="20" />
                </p>
                <p>
                    <label for="id_film_wikipedia_link_en">Wikipedia link (angol) (ha van):</label><br />
                    <input type="text" name="film_wikipedia_link_en" id="id_film_wikipedia_link_en" tabindex="21" />
                </p>
                <p>
                    <label for="id_film_wikipedia_link_hu">Wikipédia link (magyar) (ha van):</label><br />
                    <input type="text" name="film_wikipedia_link_hu" id="id_film_wikipedia_link_hu" tabindex="22" />
                </p>
                <p>
                    <input type="submit" value="Film mentése" tabindex="23" />
                </p>
            </form>
        </div>
    {% endif %}

{% endblock %}
