{% extends "ktapp/layout.html" %}
{% load kt_extras %}

{% block title %}Kritikus Tömeg{% endblock %}

{% block header %}
    <h1>Értesítések</h1>
{% endblock %}

{% block main %}
<div class="row">
    <div class="central-column">

    {% for notification in notifications %}
        {% if notification.url %}
            <a href="{{ notification.url }}" class="noti_block{% if notification.is_read %} noti_block_read{% endif %}">
        {% else %}
            <div class="noti_block{% if notification.is_read %} noti_block_read{% endif %}">
        {% endif %}
            <div style="float: left; width: 50px">
                {% if notification.film %}
                    <img src="{{ notification.film.main_poster.get_display_urls.min }}" class="picture" style="height: 60px" alt="{{ notification.film.orig_title }} ({{ notification.film.year }})" />
                {% endif %}
            </div>
            <div>
                <div>
                    {% if notification.source_user %}
                        <b>{{ notification.source_user.username }}</b>
                    {% endif %}
                    {% if notification.notification_type == 'Co' %}
                        {% if notification.notification_subtype == 'CoRe' %}
                            válaszolt egy kommentedre
                        {% else %}
                            kommentelt
                        {% endif %}
                    {% endif %}
                </div>
                <div>
                    <b>
                        {% if notification.film %}
                            {{ notification.film|oneliner_film_html_w_year }}
                        {% elif notification.topic %}
                            [{{ notification.topic }}]
                        {% elif notification.poll %}
                            [{{ notification.poll }}]
                        {% endif %}
                    </b>
                </div>
                <div style="text-align: right">
                    {{ notification.created_at|date:"Y-m-d H:i:s" }}
                </div>
            </div>
        {% if notification.url %}
            </a>
        {% else %}
            </div>
        {% endif %}
    {% endfor %}

    </div>
</div>
{% endblock %}
