{% extends "ktapp/layout.html" %}

{% block title %}Leendő közkérdések - Kritikus Tömeg{% endblock %}

{% block header %}
    <h1>
        <a href="{% url 'polls' %}?tipus=aktualis">Aktuális</a>/<a href="{% url 'polls' %}?tipus=regi">Régi</a>/Leendő
        közkérdések
    </h1>
{% endblock %}

{% block main %}
<div class="row">
    <div class="central-column">

        {% if permission_new_poll %}
            <h2>Új közkérdés</h2>
            <form action="{% url 'new_poll' %}" method="post">
                {% csrf_token %}
                <p><label for="id_title">Kérdés:</label> <input type="text" name="title" id="id_title" class="wide_input" /></p>
                <p><label for="id_choices">Lehetséges válaszok (soronként egy) (<b>ne</b> számozd meg őket!):</label><br />
                    <textarea name="choices" id="id_choices" rows="10"></textarea>
                </p>
                <p class="center"><input type="submit" value="Közkérdés beküldése" /></p>
            </form>
        {% endif %}

        <h2>Támogatásra vár</h2>

        {% for poll in polls_w %}
            {% if permission_poll_admin %}
                {% if myself in poll.nominated_by %}
                    <h3><span class="small_button_selected">Támogatod</span> {{ poll.title }}</h3>
                {% else %}
                    <h3>
                        <form action="{% url 'poll_support' %}" method="post" class="inline">
                            {% csrf_token %}
                            <input type="hidden" name="poll" value="{{ poll.id }}" />
                            <input type="submit" value="Támogatás" class="small_button" />
                        </form>
                        <form action="{% url 'poll_delete' %}" method="post" class="inline">
                            {% csrf_token %}
                            <input type="hidden" name="poll" value="{{ poll.id }}" />
                            <input type="submit" value="Törlés" class="small_button confirm_required" />
                        </form>
                        {{ poll.title }}
                    </h3>
                {% endif %}
            {% else %}
                <h3>{{ poll.title }}</h3>
            {% endif %}
            <p>{{ poll.created_at|date:"Y-m-d" }}{% if poll.created_by %} <a href="{% url 'user_profile' poll.created_by.id poll.created_by.slug_cache %}">{{ poll.created_by.username }}</a>{% endif %}</p>
            <ul>
                {% for pollchoice in poll.pollchoices %}
                    <li>{{ pollchoice }}</li>
                {% endfor %}
            </ul>
        {% endfor %}

        <h2>Aktiválásra vár</h2>

        {% for poll in polls_a %}
            {% if permission_poll_admin %}
                <form action="{% url 'poll_activate' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="poll" value="{{ poll.id }}" />
                    <h3><input type="submit" value="Aktiválás" class="small_button" /> {{ poll.title }}</h3>
                </form>
            {% else %}
                <h3>{{ poll.title }}</h3>
            {% endif %}
            <p>{{ poll.created_at|date:"Y-m-d" }}{% if poll.created_by %} <a href="{% url 'user_profile' poll.created_by.id poll.created_by.slug_cache %}">{{ poll.created_by.username }}</a>{% endif %}</p>
            <ul>
                {% for pollchoice in poll.pollchoices %}
                    <li>{{ pollchoice }}</li>
                {% endfor %}
            </ul>
        {% endfor %}

    </div>
</div>
{% endblock %}
