{% extends "ktapp/layout.html" %}
{% load kt_extras %}
{% load staticfiles %}

{% block title %}{{ poll.title }} - Közkérdés - Kritikus Tömeg{% endblock %}

{% block header %}
    <h1>{{ poll.title }}</h1>
    {% if poll.state == 'O' %}
        <p>{% if poll.created_by %}<a href="{% url 'user_profile' poll.created_by.id poll.created_by.slug_cache %}">{{ poll.created_by.username }}</a> kérdése, {% endif %}{{ poll.open_from|date:"Y. F j." }}</p>
    {% else %}
        <p>{% if poll.created_by %}<a href="{% url 'user_profile' poll.created_by.id poll.created_by.slug_cache %}">{{ poll.created_by.username }}</a> kérdése, {% endif %}{{ poll.open_from|date:"Y. F j." }}-{{ poll.open_until|date:"Y. F j." }}</p>
    {% endif %}
{% endblock %}

{% block main %}
    <div class="centered_content">

        <ul class="poll">
            {% for pollchoice, pollchoice_percent, pollchoice_px, your_vote in pollchoices %}
                {% if poll.state == 'O' %}
                    <li>
                        {% if user.is_authenticated and your_vote %}<b>{% endif %}
                        [{{ pollchoice.number_of_votes }}] {{ pollchoice.choice }}
                        {% if user.is_authenticated and your_vote %}</b>{% endif %}
                        {% if user.is_authenticated %}
                            {% if your_vote %}
                                <form action="{% url 'poll_vote' %}" method="post" class="inline" style="vertical-align: 1px">
                                    {% csrf_token %}
                                    <input type="hidden" name="poll" value="{{ poll.id }}" />
                                    <input type="hidden" name="pollchoice" value="{{ pollchoice.id }}" />
                                    <input type="hidden" name="vote" value="0" />
                                    <input type="submit" value="-" class="small_button" />
                                </form>
                            {% else %}
                                <form action="{% url 'poll_vote' %}" method="post" class="inline" style="vertical-align: 1px">
                                    {% csrf_token %}
                                    <input type="hidden" name="poll" value="{{ poll.id }}" />
                                    <input type="hidden" name="pollchoice" value="{{ pollchoice.id }}" />
                                    <input type="hidden" name="vote" value="1" />
                                    <input type="submit" value="+" class="small_button" />
                                </form>
                            {% endif %}
                        {% endif %}
                    </li>
                {% else %}
                    <li><span style="display: inline-block; width: {{ pollchoice_px }}px; background: rgb(0,0,0)">&nbsp;</span> {% if pollchoice.number_of_votes %}<span class="pollstat">{{ pollchoice_percent|floatformat:"0" }}% ({{ pollchoice.number_of_votes }})</span>{% endif %} {{ pollchoice.choice }}</li>
                {% endif %}
            {% endfor %}
        </ul>

        {% if poll.id == 767 %}
            <p>A Kritikus Tömeg születése óta folyamatosan növekszik. Ez az egyébként örvendetes növekedés azonban azzal is jár, hogy a szerverköltség is kúszik felfelé. Mivel az oldal nonprofit és reklámmentes jellegét továbbra is szeretnénk fenntartani, arra kérjük a lelkes tagokat, hogy akinek van kedve és lehetősége, támogassa az oldalt egy (vagy több) KT-póló megvásárlásával. A póló elején az alábbi kép és szöveg található:</p>
            <p align="center"><img src="{% static 'ktapp/images/logo_1000x1000_transparent.png' %}" style="width: 100%" /></p>
            <p>Egy vapiti-fej, ami az oldal logója is lesz a továbbiakban, és az url. A póló ára 2500 forint, amiből kb 1000 forint az előállítás, vagyis a maradék 1500 az oldal fennmaradását támogatja. Ez a szavazás egy igényfelmérés. Ez alapján fogom megrendelni a pólókat. Vagyis csak az ikszeljen (emmeljen), aki tényleg kér. Az átvétel történhet majd személyesen <a href="{% url 'user_messages' 1 'cucu' %}">nálam</a>, KT-találkozón vagy postai úton. De erről majd ráérünk akkor egyeztetni, ha már megvannak a pólók. A póló megvásárlása természetesen nem kötelező, semmi hátrány nem éri azt, aki nem kér, leszámítva, hogy nem lesz ilyen frankó pólója. :-)</p>
        {% endif %}

        {% include 'ktapp/blocks/new_comment_block.html' %}

        {% if request.user.is_authenticated and request.user.is_staff %}
            <p>
                <span class="button move_to_off" title="kijelölt kommentek OFF-ba mozgatása">OFF-ba</span>
                <span class="move_to_off_loader"><img src="{% static 'ktapp/images/ajax-loader.gif' %}" alt="" /></span>
            </p>
        {% endif %}

        {% for c in comments %}
            {% include 'ktapp/blocks/comment_block.html' with comment=c %}
        {% endfor %}

        {% if permission_poll_admin and poll.state == 'O' %}
            <form action="{% url 'poll_archive' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="poll" value="{{ poll.id }}" />
                <p><input type="submit" value="Közkérdés archiválása" /></p>
            </form>
        {% endif %}

    </div>
{% endblock %}
