{% extends "ktapp/layout.html" %}

{% block title %}Regisztráció - Kritikus Tömeg{% endblock %}

{% block header %}<h1>Regisztráció</h1>{% endblock %}

{% block main %}

    {% if user.id %}
        <p>Már be vagy jelentkezve <b>{{ user.username }}</b>-ként. Ha nem ő vagy, kattints fent a "Kijelentkezés" gombra, és jelentkezz be vagy regisztrálj más néven.</p>
    {% else %}

    {% if error_type %}
        <p class="error">
            {% if error_type == 'robot' %}
                Ha láttál olyan mezőt, amire az van írva, hogy "hagyd üresen", azt hagyd üresen. :-)
            {% elif error_type == 'name_empty' %}
                Válassz egy felhasználónevet.
            {% elif error_type == 'name_invalid' %}
                A felhasználóneved nem tartalmazhat vesszőt vagy pontosvesszőt.
            {% elif error_type == 'email_empty' %}
                Add meg az email címed.
            {% elif error_type == 'email_invalid' %}
                Véletlenül elgépelted az email címed. Légyszi próbáld újra.
            {% elif error_type == 'name_taken' %}
                Ez a felhasználónév foglalt. Ha régebben már regisztráltál, <a href="{% url 'login' %}?next={{ next }}">itt tudsz bejelentkezni</a>.
            {% elif error_type == 'email_taken' %}
                Ezzel az email címmel már regisztrált valaki. Ha te voltál az, <a href="{% url 'login' %}?next={{ next }}">itt tudsz bejelentkezni</a>.
            {% endif %}
        </p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <p>Felhasználónév: <input type="text" name="username" value="{{ username }}" class="focus_this" /></p>
        <p>Email cím: <input type="email" name="email" value="{{ email }}" /></p>
        <p class="additional_input">Hagyd üresen: <input type="text" name="nickname" value="" /></p>
        <p>
            <input type="submit" value="Regisztráció" />
            <a href="{{ next }}" class="button small_button" style="float: right">Mégsem</a>
        </p>
    </form>

    <p>Ha már regisztráltál, <a href="{% url 'login' %}?next={{ next }}">itt tudsz bejelentkezni</a>.</p>

    {% endif %}

{% endblock %}
