{% extends "ktapp/layout.html" %}
{% load kt_extras %}

{% block title %}Kritikus Tömeg{% endblock %}

{% block header %}

    {% if page_type == 'ask' %}
        <h1>Mi a jelszavam?</h1>
    {% else %}
        <h1>Jelszó megadása</h1>
    {% endif %}

{% endblock %}

{% block main %}

    {% if page_type == 'ask' %}

        {% if error_type == 'ok' %}

            <p>A jelszó megadásához küldtünk egy linket emailben ({{ email }}). Ha nem találod, nézz be a spam mappába is, hátha oda került véletlenül. Ha sehogy sem találod, <a href="{% url 'reset_password' '' %}">kérj egy új emailt</a>.</p>
            <p><a href="{% url 'index' %}">Tovább a nyitó oldalra...</a></p>

        {% else %}

            {% if error_type %}
                <p class="error">
                    {% if error_type == 'robot' %}
                        Ha láttál olyan mezőt, amire az van írva, hogy "hagyd üresen", azt hagyd üresen. :-)
                    {% elif error_type == 'name_empty' %}
                        Add meg a felhasználóneved vagy az email címed, amivel regisztráltál.
                    {% elif error_type == 'no_user' %}
                        Nincs ilyen felhasználó. Nem lehet, hogy véletlenül elgépelted a felhasználóneved vagy az email címed?
                    {% elif error_type == 'ban' %}
                        Úgy tűnik, ki vagy tiltva.
                    {% endif %}
                </p>
            {% endif %}

            <form action="" method="post">
                {% csrf_token %}
                <p>
                    <label for="id_username">Név vagy email cím:</label>
                    <input type="text" name="username" id="id_username" value="{{ username }}" class="focus_this" />
                </p>
                <p class="additional_input">Hagyd üresen: <input type="text" name="nickname" value="" /></p>
                <p>
                    <input type="submit" value="Jelszó resetelő emailt kérek" />
                </p>
            </form>

        {% endif %}

    {% else %}

        {% if error_type == 'ok' %}

            <p>Ennyi! :-) Mostantól bármikor be tudsz lépni a most beállított jelszavaddal.</p>
            <p><a href="{% url 'index' %}">Tovább a nyitó oldalra...</a></p>

        {% elif error_type == 'short_token' %}

            <p class="error">
                Ez a link sajnos nem jó. Nem lehet, hogy véletlenül rosszul másoltad ki az emailből? Ha nem erről van szó, semmi gond, csak <a href="{% url 'reset_password' '' %}">kérj egy új emailt</a>, és próbáld meg az abban található linkkel.
            </p>

        {% elif error_type == 'invalid_token' %}

            <p class="error">
                Ennek a linknek már lejárt a "szavatossága". Semmi probléma, <a href="{% url 'reset_password' '' %}">kérj egy új emailt</a>, és próbáld meg az abban található linkkel.
            </p>

        {% elif error_type == 'ban' %}

            <p class="error">
                Úgy tűnik, ki vagy tiltva.
            </p>

        {% else %}

            {% if error_type %}
                <p class="error">
                    {% if error_type == 'robot' %}
                        Ha láttál olyan mezőt, amire az van írva, hogy "hagyd üresen", azt hagyd üresen. :-)
                    {% elif error_type == 'new_password_short' %}
                        A jelszó legalább 6 karakter kell, hogy legyen. Válassz hosszabbat.
                    {% elif error_type == 'new_password_mismatch' %}
                        Másodszorra véletlenül elgépelted a jelszót. Légyszi próbáld újra.
                    {% endif %}
                </p>
            {% endif %}

            <form action="" method="post">
                {% csrf_token %}
                <p>Jelszó: <input type="password" name="new_password1" class="focus_this" /> (legalább 6 karakter)</p>
                <p>Jelszó még egyszer: <input type="password" name="new_password2" /> (a biztonság kedvéért)</p>
                <p class="additional_input">Hagyd üresen: <input type="text" name="nickname" value="" /></p>
                <p>
                    <input type="submit" value="Jelszó elmentése" />
                </p>
            </form>

        {% endif %}

    {% endif %}

{% endblock %}
