{% extends "ktapp/layout.html" %}

{% block title %}{{ role.role_name }} - Kritikus Tömeg{% endblock %}

{% block header %}
    <h1>{{ role.role_name }}</h1>
{% endblock %}

{% block main %}

    <p>Film: <a href="{% url 'film_main' role.film.id role.film.slug_cache %}">{{ role.film.orig_title }} ({{ role.film.year }})</a> {{ role.film.second_title }}</p>
    <p>Színész: <a href="{% url 'artist' role.artist.id role.artist.slug_cache %}">{{ role.artist.name }}</a>{% if role.actor_subtype == 'V' %} (hangja){% endif %}</p>

    {% if user.is_authenticated %}
        <h3>Szereplő módosítása</h3>
        <form action="" method="post">
            {% csrf_token %}
            <p>
                <label for="id_role_name">Név:</label>
                <input type="text" name="role_name" id="id_role_name" value="{{ role.role_name }}" />
            </p>
            <p>
                <label for="id_role_type">Típus:</label>
                <select name="role_type" id="id_role_type">
                    <option value="F"{% if role.actor_subtype == 'F' %} selected="selected"{% endif %}>teljes valójában</option>
                    <option value="V"{% if role.actor_subtype == 'V' %} selected="selected"{% endif %}>csak a hangja</option>
                </select>
            </p>
            <p>
                <input type="submit" value="Szereplő módosítása" />
            </p>
        </form>
        <h3>Szereplő törlése</h3>
        <form action="{% url 'delete_role' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="role" value="{{ role.id }}" />
            <p><input type="submit" value="Szereplő törlése" /></p>
        </form>
    {% endif %}


{% endblock %}
