{% extends "ktapp/layout.html" %}
{% load kt_extras %}

{% block title %}{{ role.role_name }} - Kritikus Tömeg{% endblock %}

{% block header %}
    <h1>{{ role.role_name }}</h1>
{% endblock %}

{% block main %}
<div class="row">
    <div class="central-column">

    <p>Színész: <a href="{% url 'artist' role.artist.id role.artist.slug_cache %}">{{ role.artist.name }}</a>{% if role.actor_subtype == 'V' %} (hangja){% endif %}</p>
    <p>Film: {{ role.film|oneliner_film_url_html_w_year }}</p>

    {% if picture %}
        <div class="center jumptarget_wrapper" style="min-height: {{ pic_height|add:5 }}px">
            <div class="mobile-scroller">
                <a href="{% url 'role' role.id role.slug_cache %}?p={{ next_picture.id }}#pix"><img src="{{ picture.get_display_urls.max }}" style="width: {{ picture.get_widths.max }}px; height: {{ picture.get_heights.max }}px" class="picture" /></a>
            </div>
            <a name="pix" class="jumptarget"></a>
            <br />
            {% for artist in artists %}{% if not forloop.first %}{% if forloop.last %} és {% else %}, {% endif %}{% endif %}<a href="{% url 'artist' artist.id artist.slug_cache %}">{{ artist.name }}</a>{% endfor %} {{ film_title_article }} {{ film|oneliner_film_url_html_w_year:"film_pictures" }} című filmben
            {% if picture.created_by or picture.source_url %}
                <span class="picture_source"><br />
                    {% if picture.source_url %}
                        forrás: <a href="{{ picture.source_url }}" target="_blank">{{ picture.get_source_domain }}</a>{% endif %}{% if picture.created_by %}{% if picture.source_url %},{% endif %}
                        feltöltötte: <a href="{% url 'user_profile' picture.created_by.id picture.created_by.slug_cache %}">{{ picture.created_by.username }}</a>
                    {% endif %}
                    </span>
            {% endif %}
        </div>
    {% endif %}
    {% if pictures|length > 1 %}
        {% for picture in pictures %}
            <a href="{% url 'role' role.id role.slug_cache %}?p={{ picture.id }}#pix"><img src="{{ picture.get_display_urls.min }}" style="width: {{ picture.get_widths.min }}px; height: {{ picture.get_heights.min }}px" class="kt-thumbnail" /></a>
        {% endfor %}
    {% endif %}

    {% if permission_edit_role %}
        <p><br /></p>
        <p><span class="button small_button" id="show_role_edit_form_button">Szereplő módosítása</span></p>
        <div id="role_edit_form" style="display: none">
        <form action="" method="post">
            {% csrf_token %}
            <p>
                <label for="id_role_name">Név:</label>
                <input type="text" name="role_name" id="id_role_name" value="{{ role.role_name }}" />
            </p>
            <p>
                <label for="id_role_type">Típus:</label>
                <select name="role_type" id="id_role_type">
                    <option value="F"{% if role.actor_subtype == 'F' %} selected="selected"{% endif %}>teljes valójában</option>
                    <option value="V"{% if role.actor_subtype == 'V' %} selected="selected"{% endif %}>csak a hangja</option>
                </select>
            </p>
            <p>
                <input type="submit" value="Szereplő módosítása" />
            </p>
        </form>
        </div>
    {% endif %}
    {% if permission_delete_role %}
        <p><span class="button small_button" id="show_role_delete_form_button">Szereplő törlése</span></p>
        <div id="role_delete_form" style="display: none">
        <form action="{% url 'delete_role' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="role" value="{{ role.id }}" />
            <p><input type="submit" value="Szereplő törlése" /></p>
        </form>
        </div>
    {% endif %}

    </div>
</div>
{% endblock %}
