{% extends "ktapp/layout.html" %}
{% load staticfiles %}
{% load kt_extras %}

{% block title %}Szabályzat - Kritikus Tömeg{% endblock %}

{% block header %}
    <h1>Szabályzat</h1>
{% endblock %}

{% block main %}
<div class="row">
    <div class="central-column">

    <p class="right">„<i>Tégy úgy másokkal, ahogy szeretnéd hogy veled tegyenek!</i>”<br />(Aranyszabály)</p>
    <p>A Kritikus Tömeg használata során kérjük kövesd a békés egymás mellett élés és a normális emberi viselkedés általánosan bevett szabályait.</p>
    <ol class="normal">
        <li>Ne személyeskedj! A fórum a filmek véleményezésére van, nem a fórumtársakéra. Ha valakivel nem értesz egyet, vagy csak nem tetszik a stílusa, érvelj, ne harcolj. Nem kell senkit szeretni, de a minimális tiszteletet add meg mindenkinek.</li>
        <li>Ne politizálj! Ha egy filmnek politikai (vallási, etnikai...) témája van, akkor is koncentrálj a filmre, ne pedig ürügyként használd, hogy kifejtsd a politikai véleményedet. Végtelen sok hely van az interneten erre, a KT nem tartozik ezek közé.</li>
        <li>Ne spoilerezz! Ne lődd le a filmek/sorozatok poénjait, mert ezzel elrontod mások szórakozását. Még régi és/vagy különösen népszerű filmeknél se, mert biztos van, aki még azokat sem látta. Használd a spoiler gombot, amivel "láthatatlanná" tudod tenni a kommented spoileres részeit.</li>
        <li>Ne reklámozz! Ha írtál egy blogbejegyzést egy filmről (vagy találtál egy jó cikket), nyugodtan küldd be a linkek, cikkek közé. Kommentben viszont a véleményed írd le, ne egy linket a véleményedhez. Több topikba beküldeni ugyanazt a szöveget vagy linket, vagy több (ismeretlen) embernek elküldeni privát üzenetben szintén nem megengedett.</li>
        <li>Ne offolj! Egy film topikjában az adott filmről beszélj, ne mindenféléről, ami az eszedbe jut. Vannak egyéb, nem konkrét filmhez tartozó topikok is, ott is adott a téma. Ha olyan mondanivalód van, ami nem passzol sehova, de mégis meg vagy győződve, hogy a közösségre tartozik, írj az <a href="{% url 'forum' 87 'off-ide-offolj-mert-ez-a-helye' %}">OFF</a> topikba.</li>
        <li>Ne csetelj! Törekedj arra, hogy olyan kommenteket írj, amik évek múlva is érdekesek, értelmesek, relevánsak. Ha csak annyit akarsz kifejezni, hogy egyetértesz valakivel, megírhatod, de ha minden kommented annyi, hogy "Like! :)", és ebből rendszert csinálsz, az egyrészt unalmas lesz, másrészt felhígul a fórum, és nehezebb lesz megtalálni benne az értékes tartalmat.</li>
        <li>Ne káromkodj folyamatosan! Bár mindenkinek más az ingerküszöbe, próbálj meg viszonylag kulturáltan fogalmazni. Használhatsz erős szavakat, ha erős érzelmeket akarsz kifejezni, de ne a közösség sokkolása legyen a célod.</li>
        <li>Ne regisztrálj többször! Ha elfelejtetted a jelszavad, <a href="{% url 'reset_password' '' %}">kérjél újat</a>. Ha ideiglenes kitiltást kaptál, várd meg, amíg lejár. Ha véglegeset, keress magadnak másik fórumot.</li>
    </ol>
    <p>Ha a fentieket megszeged, először figyelmeztetést, utána ideiglenes, extrém esetben pedig végleges kitiltást kaphatsz. Tartsd be inkább a szabályokat, ha pedig bizonytalan vagy, kérdezz.</p>

    </div>
</div>
{% endblock %}
