{% extends "ktapp/layout.html" %}
{% load kt_extras %}

{% block title %}Kritikus Tömeg{% endblock %}

{% block header %}
    <h1>Keresési találatok</h1>
{% endblock %}

{% block main %}

    <form action="{% url 'search' %}" method="get">
        <p>
            <input type="text" placeholder="Keresés..." tabindex="2" name="q" value="{{ q }}" class="search_input" />
        </p>
    </form>

    <div class="left_content">

        {% if films %}
        <h2>Filmek</h2>
        <table class="fullsize">
            <thead>
                <tr class="header_tr">
                    <th>Film</th>
                    <th>Rendező</th>
                </tr>
            </thead>
            <tbody>
            {% for item in films %}
                <tr class="{% cycle '' 'odd' %}" style="vertical-align: top">
                    <td>{{ item|film_url_html_w_year }}</td>
                    <td>{{ item|film_directors }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if sequels %}
        <h2>Adaptációk, folytatások, remake-ek</h2>
        <table class="fullsize">
            <thead>
                <tr class="header_tr">
                    <th>Típus</th>
                    <th>Cím</th>
                </tr>
            </thead>
            <tbody>
            {% for item in sequels %}
                <tr class="{% cycle '' 'odd' %}" style="vertical-align: top">
                    <td>{% if item.sequel_type == 'A' %}adaptáció{% elif item.sequel_type == 'R' %}remake{% else %}folytatás{% endif %}</td>
                    <td><a href="{% url 'sequel' item.id item.slug_cache %}">{{ item.name }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if topics %}
        <h2>Topikok</h2>
        <table class="fullsize">
            <thead>
            <tr class="header_tr">
                <th>Topik</th>
            </tr>
            </thead>
            <tbody>
            {% for item in topics %}
                <tr class="{% cycle '' 'odd' %}" style="vertical-align: top">
                    <td><a href="{% url 'forum' item.id item.slug_cache %}">{{ item.title }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if polls %}
        <h2>Közkérdések</h2>
        <table class="fullsize">
            <thead>
            <tr class="header_tr">
                <th>Közkérdés</th>
            </tr>
            </thead>
            <tbody>
            {% for item in polls %}
                <tr class="{% cycle '' 'odd' %}" style="vertical-align: top">
                    <td><a href="{% url 'poll' item.id item.slug_cache %}">{{ item.title }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

    </div>
    <div class="right_content">

        {% if artists %}
        <h2>Színészek/Rendezők</h2>
        <table class="fullsize">
            <thead>
            <tr class="header_tr">
                <th>Név</th>
            </tr>
            </thead>
            <tbody>
            {% for item in artists %}
                <tr class="{% cycle '' 'odd' %}" style="vertical-align: top">
                    <td><a href="{% url 'artist' item.id item.slug_cache %}">{{ item.name }}</a> ({% if item.number_of_ratings_as_director >= item.number_of_ratings_as_actor %}rendező{% else %}színész{% endif %})</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if roles %}
        <h2>Szereplők</h2>
        <table class="fullsize">
            <thead>
            <tr class="header_tr">
                <th>Szereplő</th>
                <th>Színész</th>
                <th>Film</th>
            </tr>
            </thead>
            <tbody>
            {% for item in roles %}
                <tr class="{% cycle '' 'odd' %}" style="vertical-align: top">
                    <td><a href="{% url 'role' item.id item.slug_cache %}">{{ item.role_name }}</a></td>
                    <td><a href="{% url 'artist' item.artist.id item.artist.slug_cache %}">{{ item.artist.name }}</a></td>
                    <td><a href="{% url 'film_main' item.film.id item.film.slug_cache %}">{{ item.film|film_url_html_w_year }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if users %}
        <h2>Felhasználók</h2>
        <table class="fullsize">
            <thead>
            <tr class="header_tr">
                <th>Név</th>
            </tr>
            </thead>
            <tbody>
            {% for item in users %}
                <tr class="{% cycle '' 'odd' %}" style="vertical-align: top">
                    <td><a href="{% url 'user_profile' item.id item.slug_cache %}">{{ item.username }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

    </div>
    <br class="clear" />

{% endblock %}
