{% extends "ktapp/layout.html" %}
{% load kt_extras %}

{% block title %}{{ sequel.name }}{% if sequel.sequel_type == 'A' %} adaptációk{% elif sequel.sequel_type == 'R' %} remake-ek{% endif %} - Kritikus Tömeg{% endblock %}

{% block header %}
    <h1>{{ sequel.name }}{% if sequel.sequel_type == 'A' %} adaptációk{% elif sequel.sequel_type == 'R' %} remake-ek{% endif %}</h1>
{% endblock %}

{% block main %}
<div class="centered_contentx">

    <table class="fullsize sortable">
        <thead>
        <tr class="header_tr">
            <th data-sort="string">Film</th>
            <th data-sort="int" data-sort-default="desc">Év</th>
            <th data-sort="string">Rendező</th>
            <th data-sort="string">Műfaj</th>
            <th data-sort="int" data-sort-default="desc">Nézettség</th>
            <th data-sort="float" data-sort-default="desc">Átlag</th>
            {% if request.user.is_authenticated %}
                <th data-sort="int" data-sort-default="desc">Kedvenceid</th>
                <th data-sort="int" data-sort-default="desc">Szerinted</th>
                <th data-sort="int" data-sort-default="desc">&#9733;</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for film in films %}
            <tr class="{% cycle '' 'odd' %}" style="vertical-align: top">
                <td>
                    {% if film.main_poster %}
                        <a href="{% url 'film_main' film.id film.slug_cache %}" title="{{ film.orig_title }} ({{ film.year }})"><img src="{{ film.main_poster.get_display_urls.mid }}" class="picture film_block_picture" alt="{{ film.orig_title }} ({{ film.year }})" /></a>
                    {% endif %}
                    <p class="film_block_content">
                        <b><a href="{% url 'film_main' film.id film.slug_cache %}">{{ film.orig_title }}</a></b><br />
                        {% if film.second_title %}{{ film.second_title }}<br />{% endif %}
                    </p>
                    <p class="film_block_content">
                        {{ film.plot_summary|linebreaksbr }}
                    </p>
                    <br class="clear" />
                </td>
                <td class="center">{{ film.year }}</td>
                <td>{{ film|film_directors }}</td>
                <td>{{ film|film_genres }}</td>
                <td class="center" data-sort-value="{{ film.number_of_ratings }}">{{ film|film_num_rating_html }}</td>
                <td class="center" data-sort-value="{{ film|film_rating_sort_value }}">{{ film|film_avg_rating_html }}</td>
                {% if request.user.is_authenticated %}
                    <td class="center" data-sort-value="{{ film|film_fav_rating_sort_value }}">{{ film|film_fav_rating_html }}</td>
                    <td class="center" data-sort-value="{% if film.my_rating %}{{ film.my_rating }}{% else %}0{% endif %}">{% if film.my_rating %}{{ film.my_rating }}{% endif %}</td>
                    <td class="center wish{% if film.my_wish == 1 %}_active{% endif %}" data-sort-value="{% if film.my_wish %}{{ film.my_wish }}{% else %}0{% endif %}"><span data-id="{{ film.id }}">{% if film.my_wish == 1 %}&#9733;{% else %}&#9734;{% endif %}</span></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
