{% extends "ktapp/layout.html" %}
{% load kt_extras %}

{% block title %}Kritikus Tömeg{% endblock %}

{% block header %}
    <h1>Beküldött linkek</h1>
{% endblock %}

{% block main %}

    <table class="fullsize">
        <tr class="header_tr">
            <th>Ki</th>
            <th>Mikor</th>
            <th>Film</th>
            <th>Típus</th>
            <th>Cím</th>
            <th>Link</th>
            <th>Lead</th>
            <th>Szerző</th>
            {% if user.is_authenticated and user.is_staff %}
                <th colspan="2"></th>
            {% endif %}
        </tr>
        {% for link in links %}
            <tr class="{% cycle '' 'odd' %}" style="vertical-align: top">
                <td>{% if link.created_by %}<a href="{% url 'user_profile' link.created_by.id link.created_by.slug_cache %}">{{ link.created_by.username }}</a>{% endif %}</td>
                <td>{{ link.created_at|date:"Y-m-d" }}</td>
                <td>
                    {% if link.content.film %}
                        <a href="{% url 'film_main' link.content.film.id link.content.film.slug_cache %}">{{ link.content.film.orig_title }} ({{ link.content.film.year }})</a>
                    {% endif %}
                </td>
                <td>
                    {% if link.content.link_type == 'R' %}
                        Kritika/elemzés
                    {% elif link.content.link_type == 'I' %}
                        Interjú
                    {% elif link.content.link_type == 'O' %}
                        Hivatalos oldal
                    {% else %}
                        Egyéb oldal
                    {% endif %}
                </td>
                <td>{{ link.content.name }}</td>
                <td>{{ link.content.url }}</td>
                <td>{{ link.content.lead }}</td>
                <td>{% if link.content.author %}<a href="{% url 'user_profile' link.content.author.id link.content.author.slug_cache %}">{{ link.content.author.username }}</a>{% endif %}</td>
                {% if user.is_authenticated and user.is_staff %}
                    <td>
                        <form action="{% url 'accept_link' %}" method="post" class="inline">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ link.id }}" />
                            <input type="submit" value="&check;" class="small_button" />
                        </form>
                    </td>
                    <td>
                        <form action="{% url 'reject_link' %}" method="post" class="inline">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ link.id }}" />
                            <input type="submit" value="&cross;" class="small_button" />
                        </form>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

{% endblock %}
