{% extends "ktapp/layout.html" %}
{% load kt_extras %}

{% block title %}{{ selected_user.username }} - Kritikus Tömeg{% endblock %}

{% block header %}<h1>{{ selected_user.username }}</h1>{% endblock %}

{% block main %}

    <div class="left_content">

        {% if selected_user.id == user.id %}
            <p>
                Nemed:
                {% if selected_user.gender == 'M' %}
                    férfi
                {% elif selected_user.gender == 'F' %}
                    nő
                {% else %}
                    <i>nem adtad meg</i>
                {% endif %}
                <br />
                Születési éved:
                {% if selected_user.year_of_birth %}
                    {{ selected_user.year_of_birth }}
                {% else %}
                    <i>nem adtad meg</i>
                {% endif %}
                <br />
                Lakhelyed:
                {% if selected_user.location %}
                    {{ selected_user.location }}
                {% else %}
                    <i>nem adtad meg</i>
                {% endif %}
                <br />
                Regisztrációd: {{ selected_user.date_joined|date:"Y. F j." }} ({{ selected_user.date_joined|timesince }})
            </p>
        {% else %}
            <p>
                Nem: {% if selected_user.public_gender %}
                    {% if selected_user.gender == 'M' %}
                        férfi
                    {% elif selected_user.gender == 'F' %}
                        nő
                    {% else %}
                        <i>?</i>
                    {% endif %}
                {% else %}<i>nem publikus</i>{% endif %}<br />
                Születési év: {% if selected_user.public_year_of_birth %}
                    {% if selected_user.year_of_birth %}
                        {{ selected_user.year_of_birth }}
                    {% else %}
                        <i>?</i>
                    {% endif %}
                {% else %}<i>nem publikus</i>{% endif %}<br />
                Lakhely: {% if selected_user.public_location %}
                    {% if selected_user.location %}
                        {{ selected_user.location }}
                    {% else %}
                        <i>?</i>
                    {% endif %}
                {% else %}<i>nem publikus</i>{% endif %}<br />
                Regisztráció: {{ selected_user.date_joined|date:"Y. F j." }} ({{ selected_user.date_joined|timesince }})
            </p>
            {% if user.validated_email %}
                <p><a href="{% url 'messages' %}?u={{ selected_user.id }}">Üzeneteid vele</a></p>
                <p><a href="{% url 'new_message' %}?u={{ selected_user.id }}">Üzenet küldése neki</a></p>
            {% endif %}
        {% endif %}

        {% if selected_user.id == user.id and user.validated_email %}
            <p><a href="{% url 'change_password' %}">Jelszó módosítása</a></p>
        {% endif %}

        <h2>Legutóbbi szavazat{% if selected_user.id == user.id %}aid{% else %}ok{% endif %}</h2>
        <table>
            <tr class="header_tr">
                <th>Film</th>
                <th>Szavazat</th>
                <th>Mikor</th>
                <th>Átlag</th>
            </tr>
        {% for vote in latest_votes %}
            <tr class="{% cycle '' 'odd' %}">
                <td>{{ vote.film|film_url_html }}</td>
                <td class="center">{{ vote.rating }}</td>
                <td class="center">{{ vote.when|date:"Y-m-d" }}</td>
                <td class="center">{{ vote.film|film_rating_html }}</td>
            </tr>
        {% endfor %}
        </table>

    </div>
    <div class="right_content">

        <h2>Legutóbbi komment{% if selected_user.id == user.id %}jeid{% else %}ek{% endif %}</h2>
        {% if latest_comments %}
            {% for c in latest_comments %}
                {% include 'ktapp/blocks/comment_block.html' with comment=c show_comment_source=True %}
            {% endfor %}
        {% endif %}

    </div>
    <br class="clear" />

{% endblock %}
