{% extends "ktapp/layout.html" %}
{% load kt_extras %}

{% block title %}{{ toplist.title }} - Kritikus Tömeg{% endblock %}

{% block header %}
    <h1>{{ toplist.title }}</h1>
    <p><a href="{% url 'user_profile' toplist.created_by.id toplist.created_by.slug_cache %}">{{ toplist.created_by }}</a> toplistája, {{ toplist.created_at|date:"Y. F j." }}</p>
{% endblock %}

{% block main %}

    {% include 'ktapp/tables/usertoplist.html' %}

    <p><a href="{% url 'new_usertoplist' %}">Új lista létrehozása</a></p>

{% endblock %}
